<div ng-if="protocol">
  <div ng-include="'/protocol/module.protocol.edit.html'"
    ng-controller="ModuleProtocolController as moduleProtocolController" ng-init="entity=protocol"></div>
</div>
<div ng-if="!protocol" class="ois-form-layout-padding" ng-cloak>
  <div flex>
    <form ng-submit="moduleProtocolNewForm.$valid && submit()" novalidate layout="column" name="moduleProtocolNewForm">
      <div>
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="50" flex-sm="100" flex-xs="100">
            <label class="textInput">{{'moduleProtocol.studyYear' | translate}}</label>
            <hois-select ng-model="formState.studyYear" type="studyyear" select-current-study-year required autofocus></hois-select>
          </md-input-container>

          <md-input-container flex="50" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label class="textInput">{{'teacher.label' | translate}}</label>
            <hois-select ng-model="formState.teacher" values="formState.teachers" required ng-disabled="auth.isTeacher()"></hois-select>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex flex-sm="100">
            <label class="textInput">{{'moduleProtocol.curriculumVersion' | translate}}</label>
            <hois-select ng-model="formState.curriculumVersion" type="curriculumversion" criteria="{higher: false}" ng-change="curriculumVersionChange()" required></hois-select>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex flex-sm="100">
            <label class="textInput">{{'module.label' | translate}}</label>
            <hois-select ng-model="formState.curriculumVersionOccupationModule" values="formState.curriculumVersionOccupationModules"
              ng-change="curriculumVersionOccupationModuleChange()" required></hois-select>
          </md-input-container>
        </div>

        <br/>

        <input style="display:none" type="number" readonly name="selectedStudentsLength" ng-model="selectedStudentsLength" ng-model-options="{ getterSetter: true }"  min="1"  />
        <div md-colors="{color: 'warn-A400'}" ng-messages="moduleProtocolNewForm.selectedStudentsLength.$error">
          <div ng-if="moduleProtocolNewForm.$submitted" ng-message="min">{{'main.messages.error.atLeastOneShouldBeAdded' | translate}}</div>
        </div>
        <div flex>
          <md-table-container>
            <table md-table md-progress="tabledata.$promise" md-row-select multiple ng-model="formState.selectedStudents">
              <thead md-head>
                <tr md-row flex>
                  <th md-column><span>{{'student.label' | translate}}</span></th>
                  <th md-column><span>{{'student.idcode' | translate}}</span></th>
                  <th md-column><span>{{'main.status' | translate}}</span></th>
                  <th md-column><span>{{'moduleProtocol.journalResults' | translate}}</span></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="row.studentId" ng-repeat="row in tabledata.content | orderBy: 'fullname'" ng-class-odd="'odd'" ng-class-even="'even'">
                  <td md-cell>{{row.fullname}}</td>
                  <td md-cell>{{row.idcode}}</td>
                  <td md-cell>{{currentLanguageNameField(row.status)}}</td>
                  <td md-cell>{{journalResultsView(row.journalResults)}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>

        <br/>

        <div layout="row">
          <md-button class="md-raised md-primary" type="submit">{{'moduleProtocol.addAllSelectedStudentsToProtocol' | translate}}</md-button>
          <md-button class="md-raised" ng-click="back('#/moduleProtocols/')">{{'main.button.back' | translate}}</md-button>
        </div>
      </div>
    </form>
  </div>
</div>
