<div class="ois-form-layout-padding" ng-cloak>
  <fieldset tabindex="1">
    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.grantType' | translate}}</label>
          <hois-classifier-value ng-model="stipend.type" main-classifier-code="STIPTOETUS"></hois-classifier-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.places' | translate}}</label>
          <hois-value value="stipend.places"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriod' | translate}}</label>
          <hois-value value="currentLanguageNameField(stipend.studyPeriod)"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.amountPaid' | translate}}</label>
          <hois-value value="stipend.amountPaid"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyForm' | translate}}</label>
          <hois-classifier-value ng-model="stipend.studyForms" main-classifier-code="OPPEVORM" multiple></hois-classifier-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'stipend.averageMark' | translate}}</label>
          <hois-value value="stipend.averageMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.curriculumCompletion' | translate}}</label>
          <hois-value value="stipend.curriculumCompletion"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'stipend.lastPeriodMark' | translate}}</label>
          <hois-value value="stipend.lastPeriodMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.maxAbsences' | translate}}</label>
          <hois-value value="stipend.maxAbsences"></hois-value>
        </md-input-container>
        <div flex="50" flex-offset="5">
          <md-checkbox ng-model="stipend.isTeacherConfirm" disabled aria-label="Is teacher confirm">
            {{'stipend.isTeacherConfirm' | translate}}
          </md-checkbox>
        </div>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriodDates' | translate}}</label>
          <hois-value value="stipend.matriculationRange"></hois-value>
        </md-input-container>
      </div>
    </div>
  </fieldset>

  <br/>

  <fieldset tabindex="1">
    <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{auth.isStudent() ? 'stipend.student.myData' : 'stipend.student.studentData' | translate}}</legend>

    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.averageMark' | translate}}</label>
          <hois-value value="studentInfo.averageMark"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.lastPeriodMark' | translate}}</label>
          <hois-value value="studentInfo.lastPeriodMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.curriculumCompletion' | translate}}</label>
          <hois-value value="studentInfo.curriculumCompletion"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.maxAbsences' | translate}}</label>
          <hois-value value="studentInfo.absences"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.studentGroup' | translate}}</label>
          <hois-value value="studentInfo.studentGroupCode"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.contactNumber' | translate}}</label>
          <hois-value value="studentInfo.phone"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.address' | translate}}</label>
          <hois-value value="studentInfo.address"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.email' | translate}}</label>
          <hois-value value="studentInfo.email"></hois-value>
        </md-input-container>
      </div>
    </div>

    <div class="form-readonly ois-form-layout-padding" ng-cloak>
      <div flex>
        <div layout="row" flex>
          <md-input-container flex="45" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.student.bankAccount' | translate}}</label>
            <hois-value value="studentSubmitData.bankAccount"></hois-value>
          </md-input-container>

          <md-input-container flex="50" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'stipend.student.bankAccountOwnerName' | translate}}</label>
            <hois-value value="studentSubmitData.bankAccountOwnerName"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex="45" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.student.bankAccountOwnerIdcode' | translate}}</label>
            <hois-value value="studentSubmitData.bankAccountOwnerIdcode"></hois-value>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex="20" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.student.stipToetusEriPeriod' | translate}}</label>
            <input type="hidden">
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.from' | translate}}</label>
            <hois-value value="studentSubmitData.scholarshipFrom | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.thru' | translate}}</label>
            <hois-value value="studentSubmitData.scholarshipThru | hoisDate"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex="100" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.student.grantReason' | translate}}</label>
            <hois-value value="studentSubmitData.addInfo"></hois-value>
          </md-input-container>
        </div>
        <br/>
        <div ng-include="'scholarship/scholarship.family.table.edit.html'"></div>
        <br/>
        <div ng-include="'scholarship/scholarship.relatedFiles.edit.html'"></div>
        <div layout="row">
          <md-button class="md-raised md-primary" ng-if="isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_STIPTOETUS') && studentSubmitData.status !== 'STIPTOETUS_STAATUS_A'" ng-click="accept()">{{'main.button.accept' | translate}}</md-button>
          <md-button class="md-raised" ng-click="back('#/scholarships/applications/grants')">{{'main.button.back' | translate}}</md-button>
        </div>

      </div>
    </div>

  </fieldset>
</div>
