<div class="ois-form-layout-padding" ng-cloak>
  <fieldset tabindex="1">
    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.grantType' | translate}}</label>
          <hois-classifier-value ng-model="stipend.type" main-classifier-code="STIPTOETUS"></hois-classifier-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.places' | translate}}</label>
          <hois-value value="stipend.places"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriod' | translate}}</label>
          <hois-value value="currentLanguageNameField(stipend.studyPeriod)"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.amountPaid' | translate}}</label>
          <hois-value value="stipend.amountPaid"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyForm' | translate}}</label>
          <hois-classifier-value ng-model="stipend.studyForms" main-classifier-code="OPPEVORM" multiple></hois-classifier-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriodDates' | translate}}</label>
          <hois-value value="stipend.matriculationRange"></hois-value>
        </md-input-container>
      </div>
    </div>
</div>
</fieldset>
<br/>

<fieldset tabindex="1">
  <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'stipend.student.myData' | translate}}</legend>
  <div class="ois-form-layout-padding ois-form-layout" ng-cloak>
    <div flex>
      <form name="studentSubmitDataForm">
        <div layout="column" flex>
          <div layout="row" flex>
            <md-input-container flex="45">
              <label>{{'stipend.student.bankAccount' | translate}}</label>
              <input type="text" ng-model="studentSubmitData.bankAccount" name="bankAccount" required md-maxlength="50">
            </md-input-container>
          </div>
          <div layout="row" flex>
            <md-input-container flex="100" flex-md="100" flex-sm="100" flex-xs="100">
              <label>{{'stipend.student.grantReason' | translate}}</label>
              <textarea ng-model="studentSubmitData.addInfo" name="addInfo" md-maxlength="4000"></textarea>
            </md-input-container>
          </div>
          <br/>
          <div layout="row">
            <md-button class="md-raised md-primary" ng-if="studentSubmitData.canApply" ng-click="update(studentSubmitDataForm)">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised" ng-if="studentSubmitData.canApply" ng-click="apply(studentSubmitDataForm)">{{'stipend.student.apply' | translate}}</md-button>
            <md-button class="md-raised" ng-click="back('#/scholarships/myData/grants', studentSubmitDataForm)">{{'main.button.back' | translate}}</md-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</fieldset>
</div>
