<div class="ois-form-layout-padding" ng-cloak>
  <fieldset tabindex="1">
    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.grantType' | translate}}</label>
          <hois-classifier-value ng-model="stipend.type" main-classifier-code="STIPTOETUS"></hois-classifier-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.places' | translate}}</label>
          <hois-value value="stipend.places"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriod' | translate}}</label>
          <hois-value value="currentLanguageNameField(stipend.studyPeriod)"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.amountPaid' | translate}}</label>
          <hois-value value="stipend.amountPaid"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyForm' | translate}}</label>
          <hois-classifier-value ng-model="stipend.studyForms" main-classifier-code="OPPEVORM" multiple></hois-classifier-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'stipend.averageMark' | translate}}</label>
          <hois-value value="stipend.averageMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="100">
          <label class="textInput">{{'stipend.addInfo' | translate}}</label>
          <hois-value value="stipend.addInfo"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.curriculumCompletion' | translate}}</label>
          <hois-value value="stipend.curriculumCompletion"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'stipend.lastPeriodMark' | translate}}</label>
          <hois-value value="stipend.lastPeriodMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.maxAbsences' | translate}}</label>
          <hois-value value="stipend.maxAbsences"></hois-value>
        </md-input-container>
        <div flex="50" flex-offset="5">
          <md-checkbox ng-model="stipend.isTeacherConfirm" disabled aria-label="Is teacher confirm">
            {{'stipend.isTeacherConfirm' | translate}}
          </md-checkbox>
        </div>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriodDates' | translate}}</label>
          <hois-value value="stipend.matriculationRange"></hois-value>
        </md-input-container>
      </div>
    </div>
  </fieldset>

  <br/>

  <fieldset tabindex="1">
    <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'stipend.student.myData' | translate}}</legend>

    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.averageMark' | translate}}</label>
          <hois-value value="application.averageMark"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.lastPeriodMark' | translate}}</label>
          <hois-value value="application.lastPeriodMark"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.curriculumCompletion' | translate}}</label>
          <hois-value value="application.curriculumCompletion"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.maxAbsences' | translate}}</label>
          <hois-value value="application.absences"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.studentGroup' | translate}}</label>
          <hois-value value="application.studentGroupCode"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.contactNumber' | translate}}</label>
          <input ng-model="application.phone" type="text" md-maxlength="100">
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.address' | translate}}</label>
          <hois-value value="application.address"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.email' | translate}}</label>
          <input ng-model="application.email" type="email" md-maxlength="100">
        </md-input-container>
      </div>
    </div>

    <div class="ois-form-layout-padding ois-form-layout" ng-cloak>
      <div flex>
        <form name="applicationForm">
          <div layout="row" flex>
            <md-input-container flex="45" flex-md="100" flex-sm="100" flex-xs="100">
              <label>{{'stipend.student.bankAccount' | translate}}</label>
              <input type="text" ng-model="application.bankAccount" name="bankAccount" required md-maxlength="50">
            </md-input-container>
          </div>

          <div layout="row" flex>
            <md-input-container flex="100" flex-md="100" flex-sm="100" flex-xs="100">
              <label>{{'stipend.student.grantReason' | translate}}</label>
              <textarea ng-model="application.addInfo" name="addInfo" md-maxlength="4000"></textarea>
            </md-input-container>
          </div>

          <div ng-include="'scholarship/scholarship.relatedFiles.edit.html'"></div>

          <br/>

          <div layout="row" layout-xs="column">
            <md-button class="md-raised md-primary" ng-if="application.canApply" ng-click="update(applicationForm)">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised" ng-if="application.canApply" ng-click="apply(applicationForm)">{{'stipend.student.apply' | translate}}</md-button>
            <md-button class="md-raised" ng-click="back('#/scholarships/myData/grants', applicationForm)">{{'main.button.back' | translate}}</md-button>
          </div>

        </form>
      </div>
    </div>

  </fieldset>
</div>
