<div class="ois-form-layout-padding" ng-cloak>
  <fieldset tabindex="1">
    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.grantType' | translate}}</label>
          <hois-classifier-value ng-model="stipend.type" main-classifier-code="STIPTOETUS"></hois-classifier-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriod' | translate}}</label>
          <hois-value value="currentLanguageNameField(stipend.studyPeriod)"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label>{{'stipend.amountPaid' | translate}}</label>
          <hois-value value="stipend.amountPaid"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyForm' | translate}}</label>
          <hois-classifier-value ng-model="stipend.studyForms" main-classifier-code="OPPEVORM" multiple></hois-classifier-value>
        </md-input-container>
        <div flex="50" flex-offset="5">
          <md-checkbox ng-model="stipend.isTeacherConfirm" disabled aria-label="Is teacher confirm">
            {{'stipend.isTeacherConfirm' | translate}}
          </md-checkbox>
        </div>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.studyPeriodDates' | translate}}</label>
          <hois-value value="stipend.matriculationRange"></hois-value>
        </md-input-container>
      </div>
    </div>
  </fieldset>
  <br/>

  <fieldset tabindex="1">
    <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{auth.isStudent() ? 'stipend.student.myData' : 'stipend.student.studentData' | translate}}</legend>
    <div class="form-readonly ois-form-layout-padding">
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.studentGroup' | translate}}</label>
          <hois-value value="studentInfo.studentGroupCode"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.contactNumber' | translate}}</label>
          <hois-value value="studentInfo.phone"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label class="textInput">{{'stipend.student.address' | translate}}</label>
          <hois-value value="studentInfo.address"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-offset="5">
          <label class="textInput">{{'main.email' | translate}}</label>
          <hois-value value="studentInfo.email"></hois-value>
        </md-input-container>
      </div>
    </div>
    <div class="form-readonly ois-form-layout-padding">
      <div flex>
        <div layout="row">
          <div layout="column" flex="45">
            <div layout="row" flex>
              <md-input-container flex>
                <label>{{'stipend.student.bankAccount' | translate}}</label>
                <hois-value value="studentSubmitData.bankAccount">
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container flex>
                <label class="textInput">{{'stipend.compensationReason' | translate}}</label>
                <hois-classifier-value ng-model="studentSubmitData.compensationReason" main-classifier-code="STIPTOETUS_HYVITAMINE_POHJUS"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" ng-if="studentSubmitData.compensationReason === 'STIPTOETUS_HYVITAMINE_POHJUS_I'">
              <md-input-container flex>
                <label>{{'stipend.routeKm' | translate}}</label>
                <hois-value value="studentSubmitData.routeKm"></hois-value>
              </md-input-container>
            </div>
          </div>
          <div layout="column" flex="50" flex-offset="5">
            <fieldset flex="100" layout="column">
              <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'stipend.compensationFrequency' | translate}}</legend>
              <md-input-container>
                <md-radio-group layout="column" ng-model="studentSubmitData.compensationFrequency" required>
                  <md-radio-button flex layout="row" disabled ng-repeat="frequency in compensationFrequencies" value="{{frequency.code}}" aria-label="passedSubject">
                    {{currentLanguageNameField(frequency)}}
                  </md-radio-button>
                </md-radio-group>
              </md-input-container>
            </fieldset>
          </div>
        </div>
        <div layout="row" flex ng-if="studentSubmitData.compensationReason === 'STIPTOETUS_HYVITAMINE_POHJUS_M'">
          <md-input-container flex="100" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.student.specificReason' | translate}}</label>
            <hois-value value="studentSubmitData.addInfo"></hois-value>
          </md-input-container>
        </div>
        <br/>

        <div ng-include="'scholarship/scholarship.relatedFiles.edit.html'"></div>
        <br/>
        <div layout="row">
          <md-button class="md-raised md-primary" ng-if="isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_STIPTOETUS') && studentSubmitData.status !== 'STIPTOETUS_STAATUS_A'"
            ng-click="accept()">{{'main.button.accept' | translate}}</md-button>
          <md-button class="md-raised" ng-click="back('#/scholarships/applications/grants')">{{'main.button.back' | translate}}</md-button>
        </div>

      </div>
    </div>

  </fieldset>
</div>
