<md-dialog aria-label="module add dialog" flex="60" flex-xs="100" class="form-readonly">
  <form ng-cloak name="dialogForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{"module.viewToughtModule" | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <span flex></span>
      <div class="ois-form-layout" layout="column" layout-margin ng-cloak>
        <div layout="column">
		  <fieldset tabindex="1">
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.occupationPartOccupationSpecialize' | translate}}</legend>
				<div layout="column">
				  <div ng-repeat="item in occupations">
					<md-checkbox ng-model="occupationsSelected[item.occupation.code]" aria-label="{{item.occupation[currentLanguageNameField()]}}" disabled>
					  {{item.occupation[currentLanguageNameField()]}}
					</md-checkbox>
					<div layout="column">
						<div ng-repeat="partOccupation in item.partOccupations" flex layout="row">
							<div flex="5">&nbsp;</div>
							<md-checkbox ng-model="occupationsSelected[partOccupation.code]" aria-label="{{partOccupation[currentLanguageNameField()]}}" disabled>
							  {{partOccupation[currentLanguageNameField()]}}
							</md-checkbox>
						 </div>
					</div>

					<div layout="column">
					  <div ng-repeat="speciality in item.specialities"  layout="row">
						<div flex="5">&nbsp;</div>
							<md-checkbox ng-model="specialitiesSelected[speciality.code]" aria-label="{{speciality[currentLanguageNameField()]}}" disabled>
							  {{speciality[currentLanguageNameField()]}}
							</md-checkbox>
						</div>
					</div>
				  </div>
				</div>
			</fieldset>
			<div>&nbsp;</div>
			
			<div layout="row" flex>
			  <md-input-container flex="45">
				<label>{{'module.type' | translate}}</label>
				<hois-classifier-value name="module" ng-model="module.module" main-classifier-code="KUTSEMOODUL"></hois-classifier-value>
			  </md-input-container>
			  <md-input-container  flex="10" flex-offset="5">
				<label>{{'module.credits' | translate}}</label>
				<hois-value value="module.credits.toString()"></hois-value>
			  </md-input-container>
		  </div>
          <md-input-container  flex>
            <label>{{'module.nameEt' | translate}}</label>
            <hois-value value="module.nameEt"></hois-value>
          </md-input-container>
          <md-input-container  flex>
            <label>{{'module.nameEn' | translate}}</label>
            <hois-value value="module.nameEn"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'module.objectivesEt' | translate}}</label>
            <hois-value value="module.objectivesEt"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'module.objectivesEn' | translate}}</label>
            <hois-value value="module.objectivesEt"></hois-value>
          </md-input-container>
		  
		  
		  <fieldset tabindex="1">
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.studyOutcome' | translate}} *</legend>
			<div layout="column">
            <!--md-list flex-->
              <div ng-repeat="item in module.outcomes" class="occupation-row align-center" layout="row" flex>
                <div flex="45">{{item.outcomeEt}}</div>
				<div flex="50" flex-offset="5">{{item.outcomeEn}}</div>
              </div>
            <!--/md-list-->
          </div>
			
		</fieldset>	
		<div>&nbsp;</div>


          
      
          <md-input-container flex>
            <md-checkbox ng-model="module.practice" disabled>{{'module.practice' | translate}}</md-checkbox>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <span flex></span>
    <md-dialog-actions layout="row" layout-align="start center">
      <md-button class="md-raised" ng-click="cancel()">{{"main.button.close" | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
