<md-dialog aria-label="module add dialog" flex="60" flex-xs="100">
  <form ng-cloak name="dialogForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{formState.readOnly ? "module.viewToughtModule" : "module.addToughtModule" | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="ois-form-layout-padding nomargin" layout="column" ng-cloak>
            <div flex>
          <fieldset tabindex="1">
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.occupationPartOccupationSpecialize' | translate}}</legend>
				<div layout="column">
				  <div ng-repeat="item in occupations | orderBy: 'occupation.' + currentLanguageNameField()">
					<md-checkbox ng-model="occupationsSelected[item.occupation.code]" ng-change="validateOccupations()" aria-label="{{currentLanguageNameField(item.occupation)}}" ng-disabled="formState.readOnly">
					  {{currentLanguageNameField(item.occupation)}}
					</md-checkbox>
					<div layout="column">
						<div ng-repeat="partOccupation in item.partOccupations" flex layout="row">
							<div flex="5">&nbsp;</div>
							<md-checkbox ng-model="occupationsSelected[partOccupation.code]" ng-change="validateOccupations()" aria-label="{{currentLanguageNameField(partOccupation)}}" ng-disabled="formState.readOnly">
							  {{currentLanguageNameField(partOccupation)}}
							</md-checkbox>
						 </div>
					</div>

					<div layout="column">
					  <div ng-repeat="speciality in item.specialities"  layout="row">
						<div flex="5">&nbsp;</div>
							<md-checkbox ng-model="specialitiesSelected[speciality.code]" ng-change="validateOccupations()" aria-label="{{currentLanguageNameField(speciality)}}" ng-disabled="formState.readOnly">
							  {{currentLanguageNameField(speciality)}}
							</md-checkbox>
						</div>
					</div>
				  </div>
				</div>
                <md-input-container hide>
                    <input ng-model="occupationsValid" type="text" required>
                </md-input-container>
                <p ng-show="dialogForm.$submitted && !occupationsValid" class="invalid">{{'curriculum.error.moduleOccupations' | translate}}</p>
      </fieldset>
      </div>
			<div>&nbsp;</div>
			<div layout="row" flex>
			  <md-input-container flex="45">
				<label>{{'module.type' | translate}}</label>
				<hois-classifier-select name="module" ng-model="module.module" filter-values="filteredModuleValues"
				main-classifier-code="KUTSEMOODUL" required ng-disabled="formState.readOnly || module.id && formState.typePreselected"></hois-classifier-select>
			  </md-input-container>
			  <md-input-container  flex="10" flex-offset="5">
				<label>{{'module.credits' | translate}}</label>
				<input ng-model="module.credits" type="number" name="credits" min="0" max="999" pattern="^\d+(\.\d{1})?$" required ng-readonly="formState.readOnly">
                <div ng-messages="dialogForm.credits.$error" ng-show="dialogForm.credits.$dirty">
                    <div ng-message="min">
                        {{'main.messages.error.positive' | translate}}
                    </div>
                    <div ng-message="max">
                        {{'curriculum.error.max999' | translate}}
                    </div>
                    <div ng-message="pattern">
                      {{'stateCurriculum.error.decimalPresision' | translate}}
                    </div>
                </div>
			  </md-input-container>
		  </div>
          <md-input-container  flex>
            <label>{{'module.nameEt' | translate}}</label>
            <input ng-model="module.nameEt" type="text" md-maxlength="255" required ng-readonly="formState.readOnly">
          </md-input-container>
          <md-input-container  flex>
            <label>{{'module.nameEn' | translate}}</label>
            <input ng-model="module.nameEn" type="text" md-maxlength="255" ng-readonly="formState.readOnly">
          </md-input-container>
          <md-input-container flex>
            <label>{{'module.objectivesEt' | translate}}</label>
            <textarea ng-model="module.objectivesEt" md-maxlength="10000" max-rows="10" md-select-on-focus required ng-readonly="formState.readOnly"></textarea>
          </md-input-container>
          <md-input-container flex>
            <label>{{'module.objectivesEn' | translate}}</label>
            <textarea ng-model="module.objectivesEn" md-maxlength="10000" max-rows="10" md-select-on-focus ng-readonly="formState.readOnly"></textarea>
          </md-input-container>
          <div flex>
         <fieldset tabindex="4">
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.studyOutcome' | translate}} *</legend>
			<input style="display:none" type="number" readonly name="outcomesLength" ng-model="module.outcomes.length" min="1"  />
			<div class="invalid" ng-if="dialogForm.$submitted" ng-messages="dialogForm.outcomesLength.$error">
                <div ng-message="min">{{'main.messages.error.atLeastOneShouldBeAdded' | translate}}</div>
              </div>
			<div layout="row" flex>
        <md-input-container flex="45">
          <label>{{'studyOutcome.nameEt' | translate}} *</label>
          <textarea ng-model="outcomeEt" md-maxlength="1000" max-rows="10" md-select-on-focus ng-readonly="formState.readOnly"></textarea>
        </md-input-container>
        <md-input-container flex="40" flex-offset="5">
          <label>{{'studyOutcome.nameEn' | translate}}</label>
          <textarea ng-model="outcomeEn" md-maxlength="1000" max-rows="10" md-select-on-focus ng-readonly="formState.readOnly"></textarea>
        </md-input-container>
        <md-button class="md-primary" ng-click="addOutcome()" ng-if="!formState.readOnly && !isEditingOutcome">{{'main.button.add' | translate}}</md-button>
        <md-button class="md-primary" ng-click="saveOutcome()" ng-if="!formState.readOnly && isEditingOutcome">{{'main.button.change' | translate}}</md-button>
			</div>
			<div layout="column">
        <div ng-repeat="item in module.outcomes track by $index" class="occupation-row align-center" layout="row" flex>
          <div flex="45">
            <a ng-if="!formState.readOnly" ng-click="editOutcome(item)">
              <pre class="moduleOutcomes">{{item.outcomeEt}}</pre>
            </a>
            <p class="moduleOutcomes" ng-if="formState.readOnly">{{item.outcomeEt}}</p>
          </div>
          <div flex="40" flex-offset="5">
            <a ng-if="!formState.readOnly" ng-click="editOutcome(item)">
              <p class="moduleOutcomes">{{item.outcomeEn}}</p>
            </a>
            <p class="moduleOutcomes" ng-if="formState.readOnly">{{item.outcomeEn}}</p>
          </div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
          <div>
            <a class="remove" ng-click="removeFromArray(module.outcomes, item)" ng-if="!formState.readOnly">&times;&nbsp;&nbsp;</a>
          </div>
          <div ng-if="!formState.readOnly">
            <p ng-if="$first" class="link-disabled">&#9650;&nbsp;</p>
            <a ng-if="!$first" class="link-no-underline" ng-click="swap($index, $index - 1)">&#9650;&nbsp;</a>
          </div>
          <div ng-if="!formState.readOnly">
            <p ng-if="$last" class="link-disabled">&#9660;&nbsp;</p>
            <a ng-if="!$last" class="link-no-underline" ng-click="swap($index, $index + 1)">&#9660;&nbsp;</a>
          </div>
        </div>
      </div>

    </fieldset>
    </div>
    <div>&nbsp;</div>
          <md-input-container flex>
            <label>{{'module.competencesAquired' | translate}}</label>
            <md-select multiple="true" ng-model="module.competences" ng-disabled="module.module.code !== 'KUTSEMOODUL_P' || formState.readOnly || competences.length === 0">
              <md-option ng-repeat="option in competences | orderBy: currentLanguageNameField() track by $index" ng-value="option.code" aria-label="{{currentLanguageNameField(option)}}">
                {{currentLanguageNameField(option)}}</md-option>
            </md-select>
          </md-input-container>
          <br/>
          <md-input-container flex>
            <md-checkbox ng-model="module.practice" ng-disabled="module.module.code === 'KUTSEMOODUL_L' || formState.readOnly">{{'module.practice' | translate}}</md-checkbox>
          </md-input-container>
        </div>
    </md-dialog-content>
    <span flex></span>
    <md-dialog-actions layout="row" layout-align="start center">
      <md-button class="md-raised md-primary" ng-click="submit()" ng-if="!formState.readOnly">{{"main.button.save" | translate}}</md-button>
      <md-button class="md-raised" ng-click="delete()" ng-if="!formState.isNew && !formState.readOnly">{{"main.button.delete" | translate}}</md-button>
      <md-button class="md-raised" ng-click="cancel()">{{"main.button.close" | translate}}</md-button>
    </md-dialog-actions>
  </form>

  <style>
    .link-no-underline {
      text-decoration: none;
    }
    .link-disabled {
      color: #d7dde5;
    }
    .moduleOutcomes {
      white-space: pre-wrap;
      overflow-y: scroll;
      max-height: 100px;
    }
  </style>
</md-dialog>

