<div class="ois-form-layout-padding">
  <div flex>
     <form ng-submit="getStateCurriculums()" layout="column" class="nomargin" >
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="65" flex-sm="100" flex-xs="100">
                <label>{{'curriculum.name' | translate}}</label>
                <input ng-model="query.name" type="text">
            </md-input-container>
            <md-input-container flex="30"flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
                <label>{{'stateCurriculum.EKR' | translate}}</label>
                <md-select ng-model="query.ekrLevels" multiple>
                    <md-option ng-repeat="classifier in listOfEkrLevels | orderBy: 'code'" ng-value="classifier.nameEt">
                        {{currentLanguage()=='en' ? classifier.nameEn : classifier.nameEt}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">

            <md-input-container flex="30" flex-sm="100" flex-xs="100">
                <label>{{'curriculum.areaOfStudy' | translate}}</label>
                <hois-classifier-select ng-model="query.iscedVald" model-value-attr="code" main-classifier-code="ISCED_VALD" criteria="{vocational: true}"></hois-classifier-select>
            </md-input-container>

            <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
                <label>{{'curriculum.fieldOfStudy' | translate}}</label>
                <hois-classifier-select ng-model="query.iscedSuun" model-value-attr="code" main-classifier-code="ISCED_SUUN" criteria="{vocational: true}" watch-model="query.iscedVald"
                                    search-from-connect connect-main-classifier-code="ISCED_VALD"></hois-classifier-select>
            </md-input-container>

            <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
                <label>{{'curriculum.group' | translate}}</label>
                <hois-classifier-select ng-model="query.iscedClassCode" model-value-attr="code" main-classifier-code="ISCED_RYHM" criteria="{vocational: true}" watch-model="query.iscedSuun"
                                    search-from-connect connect-main-classifier-code="ISCED_SUUN"></hois-classifier-select>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column" class="top-margin">
		  <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset-sm="0" class="top-margin">
                <label>{{'stateCurriculum.status' | translate}}</label>
                <hois-classifier-select ng-model="query.statusCode" model-value-attr="code" main-classifier-code="OPPEKAVA_STAATUS" multiple filter-values="filteredOutStatuses"></hois-classifier-select>
            </md-input-container>
            <md-input-container flex-offset="5" flex-offset-xs="0" flex-offset-sm="0" flex-sm="100" flex-xs="100">
                <label>{{'stateCurriculum.enter.validFrom' | translate}}</label>
                <md-datepicker ng-model="query.validFrom" md-open-on-focus>
                </md-datepicker>
            </md-input-container>
            <md-input-container flex-sm="100" flex-xs="100" flex-offset="2" flex-offset-xs="0" flex-offset-sm="0">
                <label>{{'stateCurriculum.enter.validThru' | translate}}</label>
                <md-datepicker ng-model="query.validThru" md-open-on-focus>
                </md-datepicker>
            </md-input-container>            
        </div>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
            <md-button class="md-raised" ng-click="clearInputs()">{{'main.button.clear' | translate}}</md-button>
            <md-button class="md-raised" ng-href="#/stateCurriculum/new">{{'main.button.create' | translate}}</md-button>
        </div>
     </form>
</div>
</div>

<div layout="row" layout-align="center center"><h2 ng-if="stateCurriculums.count === 0">{{'main.messages.error.notFound' | translate}}</h2></div>

<md-table-container flex ng-cloak layout-padding>
    <table md-table md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getStateCurriculums">
    <tr md-row>
        <th md-column md-order-by="{{currentLanguage()=='en' ? 'nameEn' : 'nameEt'}}">{{'curriculum.name' | translate}}</th>
        <th md-column md-order-by="ekrLevel">{{'stateCurriculum.EKR' | translate}}</th>
        <th md-column md-order-by="credits">{{'stateCurriculum.credits' | translate}}</th>
        <th md-column md-order-by="validFrom">{{'stateCurriculum.validFrom' | translate}}</th>
        <th md-column md-order-by="validThru">{{'stateCurriculum.validThru' | translate}}</th>
        <th md-column md-order-by="status">{{'stateCurriculum.status' | translate}}</th>
		<th/>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="stateCurriculum in stateCurriculums" ng-class-odd="'odd'" ng-class-even="'even'">
        <td md-cell><a ng-href="#/stateCurriculum/{{stateCurriculum.id}}/edit">{{currentLanguage()=='en' ? stateCurriculum.nameEn : stateCurriculum.nameEt}}</a></td>
        <td md-cell>{{stateCurriculum.ekrLevel}}</td>
        <td md-cell>{{stateCurriculum.credits}}</td>
        <td md-cell>{{'main.formattedDate' | translate: {date: stateCurriculum.validFrom} }}</td>
        <td md-cell>{{'main.formattedDate' | translate: {date: stateCurriculum.validThru} }}</td>
        <td md-cell="status">{{stateCurriculum.status.nameEt}}</td>
        <td md-cell>
            <md-button md-no-ink class="md-primary change-button"  ng-href="#/stateCurriculum/{{stateCurriculum.id}}/edit">{{'main.button.change' | translate}}</md-button>
        </td>
    </tr>
    </tbody>
    </table>
</md-table-container>
<md-table-pagination  md-limit="query.size" md-limit-options="[10, 25, 50]"
                        md-page="query.page" md-total="{{stateCurriculums.count}}" md-on-paginate="getStateCurriculums"
                        md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}' }"  md-page-select></md-table-pagination>
