<div layout="column" layout-padding>
  <div>
    <div class="indentForToast"></div>

    <form name="studentEditForm">
      <hois-collapsable label="('student.contact' | translate)">

        <md-input-container class="md-block">
          <label>{{'student.email' | translate}}</label>
          <input ng-model="student.person.email" type="text" required md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'student.phone' | translate}}</label>
          <input ng-model="student.person.phone" type="text" required md-maxlength="100">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.residenceCountry' | translate}}</label>
          <hois-classifier-select ng-model="student.person.residenceCountry" main-classifier-code="RIIK" model-value-attr="code"></hois-classifier-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'student.address' | translate}}</label>
          <input ng-model="student.person.address" type="text" required md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'student.postcode' | translate}}</label>
          <input ng-model="student.person.postcode" type="text" required md-maxlength="10">
        </md-input-container>

      </hois-collapsable>

      <hois-collapsable label="('student.study' | translate)">

        <md-input-container class="md-block">
          <label>{{'student.studentCard' | translate}}</label>
          <input ng-model="student.studentCard" type="text" required md-maxlength="100">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.schoolEmail' | translate}}</label>
          <input ng-model="student.schoolEmail" type="text" required md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.previousStudyLevel' | translate}}</label>
          <hois-classifier-select ng-model="student.previousStudyLevel" main-classifier-code="OPPEASTE" model-value-attr="code"></hois-classifier-select>
        </md-input-container>

      </hois-collapsable>

      <hois-collapsable label="('student.specialNeeds' | translate)">

        <md-checkbox ng-model="student.isSpecialNeed">
          {{'student.isSpecialNeed' | translate}}
        </md-checkbox>

        <md-input-container class="md-block">
          <label>{{'student.specialNeed' | translate}}</label>
          <hois-classifier-select ng-model="student.specialNeed" main-classifier-code="ERIVAJADUS" model-value-attr="code"></hois-classifier-select>
        </md-input-container>

        <md-checkbox ng-model="student.isRepresentativeMandatory">
          {{'student.isRepresentativeMandatory' | translate}}
        </md-checkbox>

      </hois-collapsable>

    </form>

    <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
    <md-button ng-href="#/students/{{student.id}}/main" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
