<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href="#/students/{{studentId}}/main" name="student.main">{{'student.main' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{studentId}}/documents" name="student.documents">{{'student.documents' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="directives.$promise">
        <thead md-head md-order="directivesCriteria.order" md-on-reorder="loadDirectives">
          <tr md-row>
            <th md-column md-order-by="title">{{'student.directive.title' | translate}}</th>
            <th md-column md-order-by="kind">{{'student.directive.kind' | translate}}</th>
            <th md-column md-order-by="number">{{'student.directive.number' | translate}}</th>
            <th md-column md-order-by="creator">{{'student.directive.creator' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in directives.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell>{{row.title}}</td>
            <td md-cell>{{row.kind}}</td>
            <td md-cell>{{row.number}}</td>
            <td md-cell>{{row.creator}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="directivesCriteria.size" md-limit-options="[5, 10, 15]"
                         md-page="directivesCriteria.page" md-total="{{directives.totalElements}}" md-on-paginate="loadDirectives"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>

    <md-button ng-href="#/students" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
