<div class="ois-form-layout" layout="column" layout-margin ng-cloak>
  <form name="subjectForm" layout="column">
    <md-input-container flex>
      <label>{{'subject.code' | translate}}</label>
      <input ng-model="subject.code" type="text" ng-required="true">
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.nameEt' | translate}}</label>
      <input ng-model="subject.nameEt" type="text" ng-required="true">
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.nameEn' | translate}}</label>
      <input ng-model="subject.nameEn" type="text" ng-required="true">
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.creditsEap' | translate}}</label>
      <input ng-model="subject.credits" type="number" ng-required="true" step="0.1">
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.assessment' | translate}}</label>
      <hois-classifier-select ng-model="subject.assessment" main-classifier-code="HINDAMISVIIS" ng-required="true"></hois-classifier-select>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.assessmentDescription' | translate}}</label>
      <textarea ng-model="subject.assessmentDescription" md-maxlength="10000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.languages' | translate}}</label>
      <hois-classifier-select ng-model="subject.languages" main-classifier-code="OPPEKEEL" multiple></hois-classifier-select>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.objectivesEt' | translate}}</label>
      <textarea ng-model="subject.objectivesEt" md-maxlength="10000" max-rows="2" md-select-on-focus ng-required="true"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.objectivesEn' | translate}}</label>
      <textarea ng-model="subject.objectivesEn" md-maxlength="10000" max-rows="2" md-select-on-focus ng-required="true"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.outcomesEt' | translate}}</label>
      <textarea ng-model="subject.outcomesEt" md-maxlength="10000" max-rows="2" md-select-on-focus ng-required="true"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.outcomesEn' | translate}}</label>
      <textarea ng-model="subject.outcomesEn" md-maxlength="10000" max-rows="2" md-select-on-focus ng-required="true"></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.descriptionEt' | translate}}</label>
      <textarea ng-model="subject.descriptionEt" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.descriptionEn' | translate}}</label>
      <textarea ng-model="subject.descriptionEn" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.independentStudyEt' | translate}}</label>
      <textarea ng-model="subject.independentStudyEt" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.independentStudyEn' | translate}}</label>
      <textarea ng-model="subject.independentStudyEn" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.studyLiterature' | translate}}</label>
      <textarea ng-model="subject.studyLiterature" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.evaluationEt' | translate}}</label>
      <textarea ng-model="subject.evaluationEt" md-maxlength="10000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.evaluationEn' | translate}}</label>
      <textarea ng-model="subject.evaluationEn" md-maxlength="10000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <md-input-container flex>
      <label>{{'subject.additionalInfo' | translate}}</label>
      <textarea ng-model="subject.additionalInfo" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
    </md-input-container>
    <hois-autocomplete ng-model="subject.mandatoryPrerequisiteSubjects" label="subject.mandatoryPrerequisiteSubjects" method="querySearch(arg)"></hois-autocomplete>
    <hois-autocomplete ng-model="subject.recommendedPrerequisiteSubjects" label='subject.recommendedPrerequisiteSubjects' method="querySearch(arg)"></hois-autocomplete>
    <hois-autocomplete ng-model="subject.substituteSubjects" label='subject.substituteSubjects' method="querySearch(arg)"></hois-autocomplete>
    <br>
    <md-input-container flex>
      <label>{{'subject.linkDepartment' | translate}}</label>
      <md-select ng-model="subject.schoolDepartment.id">
        <md-option ng-repeat="department in departments" ng-value="department.id">
          {{currentLanguage()==='en' ? (department.nameEn || department.nameEt) : department.nameEt}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <label>{{'subject.status' | translate}}</label>
      <hois-classifier-select ng-model="subject.status" main-classifier-code="AINESTAATUS" ng-required="true"></hois-classifier-select>
    </md-input-container>
    <!-- info tund -->
    <h3>{{'subject.subjectIsPrerequisite' | translate}}</h3>
    <div ng-repeat="it in subject.primarySubjects">
      <a ng-href="#/subject/{{it.id}}/edit">{{currentLanguage()==='en' ? (it.nameEn || it.nameEt) : it.nameEt}}</a>
    </div>
    <h3>{{'subject.belongsCurriculum' | translate}}</h3>
    <div ng-repeat="it in pre">
      <a ng-href="#/subject/{{it.id}}/edit">{{ it.text }}</a>
    </div>
    <hois-created-modified object="subject"></hois-created-modified>
    <div layout="row">
      <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
      <md-button ng-if="subject.id" ng-click="delete()" class="md-raised">{{'main.button.delete' | translate}}</md-button>
      <md-button ng-href="#/subject" class="md-raised">{{'main.button.back' | translate}}</md-button>
    </div>
  </form>
</div>
