<div class="ois-form-layout-padding">
  <div flex>
    <form ng-submit="loadData()" class="nomargin" layout="column">
      <div layout="row" layout-sm="column" layout-xs="column"  >
          <md-input-container flex="45" flex-sm="100" flex-xs="100">
            <label class="textInput">{{'teacher.person.name' | translate}}</label>
            <input ng-model="criteria.name" type="text" autofocus>
          </md-input-container>

          <md-input-container flex="50" flex-sm="100"  flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label class="textInput">{{'teacher.person.idcode' | translate}}</label>
            <input ng-model="criteria.idcode" type="text">
          </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column" >
          <md-input-container flex="100">
            <label>{{'school.label' | translate}}</label>
            <hois-classifier-select ng-model="criteria.school" main-classifier-code="EHIS_KOOL" model-value-attr="code"></hois-classifier-select>
          </md-input-container>
      </div>
      <div layout="row">
          <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
          <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
          <md-button ng-href="#/teachers/new" class="md-raised">{{'main.button.create' | translate}}</md-button>
        </div>
        <div flex-xs="0" flex-gt-xs="0" flex-gt-sm="50"></div>
    </form>
  </div>
</div>
<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
        <tr md-row>
          <th md-column md-order-by="person.lastname,person.firstname">{{'teacher.person.name' | translate}}</th>
          <th md-column md-order-by="person.idcode">{{'teacher.person.idcode' | translate}}</th>
          <th md-column>{{'teacher.email' | translate}}</th>
          <th md-column>{{'teacher.phone' | translate}}</th>
          <th md-column></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
          <td md-cell>{{row.fullname}}</td>
          <td md-cell>{{row.person.idcode}}</td>
          <td md-cell>{{row.email}}</td>
          <td md-cell>{{row.phone}}</td>
          <td md-cell><md-button md-no-ink class="md-primary change-button" ng-href="#/teachers/{{row.id}}/edit">{{'main.button.change' | translate}}</md-button></td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[5, 10, 15]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>
