<div class="ois-form-layout" layout="column" layout-margin ng-cloak>

 <form name="vocationalCurriculumForm">
    <div layout="row" layout-align="start center">
    	<span class="label">{{'curriculum.draft' | translate}}*</span>
        <md-input-container layout="row" layout-align="start center">
          <hois-classifier-radio name="draft" ng-model="curriculum.draft" layout="row" required
            ng-change="draftSelected()" main-classifier-code="OPPEKAVA_LOOMISE_VIIS"></hois-classifier-radio>
        </md-input-container>
        <div ng-if="vocationalCurriculumForm.$submitted" ng-messages="vocationalCurriculumForm.draft.$error" style="color:red;">
            <div ng-message="required">{{'main.messages.error.inputFieldIsRequired' | translate}}</div>
        </div>
    </div>

    <div layout="column">
      <md-input-container  flex>
        <label>{{'curriculum.nameEt' | translate}}</label>
        <input ng-model="curriculum.nameEt" type="text" required>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.nameEn' | translate}}</label>
        <input ng-model="curriculum.nameEn" type="text" required>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.nameRu' | translate}}</label>
        <input ng-model="curriculum.nameRu" type="text">
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex>
        <label>{{'curriculum.studyLevel' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.origStudyLevel" main-classifier-code="OPPEASTE"
        show-only-values="schoolOrigStudyLevel" required></hois-classifier-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.ekrLevel' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.ekrLevel" main-classifier-code="EKR" watch-model="curriculum.origStudyLevel"
                               connect-main-classifier-code="EKR" select-first-value disabled></hois-classifier-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.educationLevel' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.educationLevel" main-classifier-code="HARIDUSTASE" watch-model="curriculum.origStudyLevel"
                               connect-main-classifier-code="HARIDUSTASE" select-first-value disabled></hois-classifier-select>
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
      <div flex flex-offset="33" flex-xs="100">
        <md-input-container layout="row" layout-align="start center" flex>
          <hois-classifier-radio layout="row" name="consecution" ng-model="curriculum.consecution" required disabled main-classifier-code="OPPEKAVA_TYPE"
                     watch-model="curriculum.origStudyLevel" connect-main-classifier-code="OPPEASTE" default-value="OPPEKAVA_TYPE_E" search-from-connect></hois-classifier-radio>
        </md-input-container>
        <div ng-if="vocationalCurriculumForm.$submitted" ng-messages="vocationalCurriculumForm.consecution.$error" style="color:red;">
            <div ng-message="required">{{'main.messages.error.inputFieldIsRequired' | translate}}</div>
        </div>
      </div>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex="33" flex-xs="100">
        <label>{{'curriculum.code' | translate}}</label>
        <input ng-model="curriculum.code" type="text" required>
      </md-input-container>

      <md-input-container flex="33" flex-xs="100">
        <label>{{'curriculum.merCode' | translate}}</label>
        <input ng-model="curriculum.merCode" type="text">
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex="33" flex-xs="100">
        <label>{{'curriculum.credits' | translate}}</label>
        <input ng-model="curriculum.credits" type="number" required>
      </md-input-container>

      <div flex="33" flex-xs="100">
        <div layout="row" layout-xs="column">
          <md-input-container flex>
            <label>{{'curriculum.studyPeriod' | translate}}</label>
            <input ng-model="curriculum.studyPeriod" type="hidden" >
          </md-input-container>

          <md-input-container flex >
            <input ng-model="curriculum.studyPeriodYears" type="number" placeholder="{{'main.years' | translate}}" required
              ng-change="curriculum.studyPeriod = curriculum.studyPeriodMonths + 12 * curriculum.studyPeriodYears">
          </md-input-container>

          <md-input-container  flex>
            <input ng-model="curriculum.studyPeriodMonths" type="number" placeholder="{{'main.months' | translate}}" required
              ng-change="curriculum.studyPeriod = curriculum.studyPeriodMonths + 12 * curriculum.studyPeriodYears" max="12">
          </md-input-container>
        </div>
      </div>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex="33" flex-xs="100">
        <label>{{'curriculum.studyForm' | translate}}</label>
        <hois-classifier-select multiple="true" ng-model="curriculum.studyFormClassifiers" required main-classifier-code="OPPEVORM"></hois-classifier-select>
      </md-input-container>

      <md-input-container flex="33"  flex-xs="100" ng-show="curriculum.draft === 'OPPEKAVA_LOOMISE_VIIS_RIIKLIK'">
        <label>{{'curriculum.ehisRokClassifier' | translate}}</label>
        <input ng-model="curriculum.stateCurrClass" type="text" disabled>
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex>
        <label>{{'curriculum.approving' | translate}}</label>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.approvalDate' | translate}}</label>
        <md-datepicker ng-model="curriculum.approval" md-open-on-focus></md-datepicker>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.approvalDocumentNr' | translate}}</label>
        <input ng-model="curriculum.approvalDokNr" type="text">
      </md-input-container>
    </div>

    <div layout="column">
      <md-input-container flex>
        <label>{{'curriculum.areaOfStudy' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.areaOfStudy" required main-classifier-code="ISCED_VALD" criteria="{vocational: true}"></hois-classifier-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.fieldOfStudy' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.fieldOfStudy" required main-classifier-code="ISCED_SUUN" criteria="{vocational: true}" watch-model="curriculum.areaOfStudy"
                               search-from-connect connect-main-classifier-code="ISCED_VALD" ></hois-classifier-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.group' | translate}}</label>
        <hois-classifier-select ng-model="curriculum.iscedClass" required main-classifier-code="ISCED_RYHM" criteria="{vocational: true}" watch-model="curriculum.fieldOfStudy"
                               search-from-connect connect-main-classifier-code="ISCED_SUUN"></hois-classifier-select>
      </md-input-container>
    </div>

    <div layout="column">
      <md-input-container flex>
        <label>{{'curriculum.studyOutcomesEt' | translate}}</label>
        <textarea ng-model="curriculum.outcomesEt" md-maxlength="20000" max-rows="2" md-select-on-focus required></textarea>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.studyOutcomesEn' | translate}}</label>
        <textarea ng-model="curriculum.outcomesEn" md-maxlength="20000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.structure' | translate}}</label>
        <textarea ng-model="curriculum.structure" md-maxlength="20000" max-rows="2" md-select-on-focus required></textarea>
      </md-input-container>
    </div>

    <div layout="column">
      <md-input-container flex>
        <label>{{'curriculum.admissionRequirementsEt' | translate}}</label>
        <textarea ng-model="curriculum.admissionRequirementsEt" md-maxlength="20000" max-rows="2" md-select-on-focus required></textarea>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.admissionRequirementsEn' | translate}}</label>
        <textarea ng-model="curriculum.admissionRequirementsEn" md-maxlength="20000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="column">
      <md-input-container flex>
        <label>{{'curriculum.graduationRequirementsEt' | translate}}</label>
        <textarea ng-model="curriculum.graduationRequirementsEt" md-maxlength="20000" max-rows="2" md-select-on-focus required></textarea>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.graduationRequirementsEn' | translate}}</label>
        <textarea ng-model="curriculum.graduationRequirementsEn" md-maxlength="20000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.studyLanguage' | translate}}</label>
        <hois-classifier-select multiple="true" ng-model="curriculum.studyLanguageClassifiers" required main-classifier-code="OPPEKEEL"></hois-classifier-select>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.structuralUnitResponsible' | translate}}</label>
        <md-select multiple="true" ng-model-options="{ trackBy: '$value.code' }" ng-model="curriculum.schoolDepartments" required >
          <md-option ng-repeat="option in schoolDepartments" ng-value="option" aria-label="{{option[currentLanguageNameField()]}}">
            {{option[currentLanguageNameField()]}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.basesOfDraft' | translate}}</label>
        <textarea ng-model="curriculum.draftText" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <span ng-hide="isDraftEmployerSupportLetter">
      <div layout="row" layout-align="start center">
        <md-input-container flex="20" flex-xs="100">
          <label ng-class="!isDraftEmployerSupportLetter ? 'md-required' : ''">{{'curriculum.occupationIsAcquired' | translate}}</label>
        </md-input-container>
        <md-input-container layout="row" layout-align="start center">
          <md-radio-group name="occupation" ng-model="curriculum.occupation" layout="row" ng-required="!isDraftEmployerSupportLetter" ng-change="isOccupationChanged()">
            <md-radio-button ng-value="true" aria-label="yes">{{ 'main.yes' | translate }}</md-radio-button>
            <md-radio-button ng-value="false" aria-label="no">{{ 'main.no' | translate }}</md-radio-button>
          </md-radio-group>
        </md-input-container>
        <div ng-if="vocationalCurriculumForm.$submitted" ng-messages="vocationalCurriculumForm.occupation.$error" style="color:red;">
          <div ng-message="required">{{'main.messages.error.inputFieldIsRequired' | translate}}</div>
        </div>
      </div>

      <div layout="column">
        <span class="md-headline">{{'curriculum.occupationsPartOccupationsAcquired' | translate}}</span>
        <div layout="row">
          <div layout="row">
            <md-button class="md-primary" ng-click="openAddOccupationPartOccupationsDialog()">{{'curriculum.addOccupationPartOccupations' | translate}}</md-button>
          </div>
        </div>
      </div>

      <div layout="row" layout-padding>
        <md-list flex>
          <md-list-item ng-repeat="item in curriculum.selectedOccupationsPartOccupations">
            <div ng-if="item.occupation != null">
              <md-button class="md-primary" ng-click="openAddOccupationPartOccupationsDialog(item)">{{item.occupation[currentLanguageNameField()]}}
                <span ng-hide="!item.partOccupations || item.partOccupations.length == 0">;
                  (<span ng-repeat="partOccupation in item.partOccupations">{{partOccupation[currentLanguageNameField()]}}{{$last ? '' : ', '}}</span>)
                </span>
                <span ng-hide="!item.specialities || item.specialities.length == 0" ng-repeat="occupationSpeciality in item.specialities">{{occupationSpeciality.speciality[currentLanguageNameField()]}}{{$last ? '' : ', '}}</span>
                <span ng-hide="!item.occupationGrant">; {{'occupation.hasOccupationGrant' | translate}}</span>
              </md-button>
            </div>
            <md-button class="md-icon-button" ng-click="removeFromArray(curriculum.selectedOccupationsPartOccupations, item)">
              <md-icon ng-class="'md-warn md-hue-2'" md-font-set="material-icons">close</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </div>

      <div layout="row">
        <md-input-container flex>
          <label>{{'curriculum.specialityOpportunities' | translate}}</label>
          <textarea ng-model="curriculum.specialization" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </span>

    <div layout="row" layout-align="start center">
      <md-input-container flex="20" flex-xs="100">
        <label>{{'curriculum.isJoint' | translate}}</label>
      </md-input-container>
      <md-input-container layout="row" layout-align="start center">
        <md-radio-group name="joint" ng-model="curriculum.joint" ng-change="curriculum.joint ? curriculum.jointSchoolEstonian=true : ''" layout="row">
          <md-radio-button ng-value="true" aria-label="yes">{{ 'main.yes' | translate }}</md-radio-button>
          <md-radio-button ng-value="false" aria-label="no">{{ 'main.no' | translate }}</md-radio-button>
        </md-radio-group>
      </md-input-container>
      <div ng-if="vocationalCurriculumForm.$submitted" ng-messages="vocationalCurriculumForm.joint.$error" style="color:red;">
          <div ng-message="required">{{'main.messages.error.inputFieldIsRequired' | translate}}</div>
      </div>
    </div>

    <div layout="row" layout-align="start center" ng-show="curriculum.joint">
      <md-input-container flex="20" flex-xs="100">
        <label class="md-required">{{'curriculum.jointSchool' | translate}}</label>
      </md-input-container>

      <md-input-container layout="row" layout-align="start center">
        <md-radio-group ng-model="curriculum.jointSchoolEstonian" layout="row">
          <md-radio-button ng-value="true" aria-label="{{ 'curriculum.estonianEducationalInstitute' | translate }}">
            {{ 'curriculum.estonianEducationalInstitute' | translate }}
          </md-radio-button>
          <md-radio-button ng-value="false" aria-label="{{ 'curriculum.jointPartnerAbroadSchool' | translate }}">
            {{ 'curriculum.foreignEducationalInstitute' | translate }}
          </md-radio-button>
        </md-radio-group>
      </md-input-container>
      <div layout="row">
        <div layout="row">
          <md-button class="md-raised" ng-click="addJointPartner()">{{'main.button.add' | translate}}</md-button>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="start center" flex-offset="20"  ng-show="curriculum.joint">
        <md-input-container ng-hide="!curriculum.jointSchoolEstonian || curriculum.jointSchoolEstonian == null">
          <label>{{'curriculum.estonianEducationalInstitute' | translate}}</label>
          <hois-classifier-select ng-model="curriculum.jointPartnerEhisSchool" main-classifier-code="EHIS_KOOL"
            ng-disabled="!curriculum.jointSchoolEstonian" filter-values="curriculum.jointPartners" by-property="ehisSchool"></hois-classifier-select>
        </md-input-container>

        <md-input-container ng-hide="!!curriculum.jointSchoolEstonian || curriculum.jointSchoolEstonian == null">
          <label>{{'curriculum.foreignEducationalInstitute' | translate}}</label>
          <input ng-model="curriculum.jointPartnerAbroadSchool" type="text"
                 ng-disabled="!!curriculum.jointSchoolEstonian"></input>
        </md-input-container>
    </div>


    <div layout="row" layout-padding>
        <md-list flex>
          <md-list-item ng-repeat="item in curriculum.jointPartners">
            <div>
              {{item.abroad ? item[currentLanguageNameField()] : item.ehisSchool[currentLanguageNameField()]}}
            </div>
            <md-button class="md-icon-button" ng-click="removeFromArray(curriculum.jointPartners, item)">
              <md-icon ng-class="'md-warn md-hue-2'" md-font-set="material-icons">close</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </div>

    <div layout="row"  ng-show="curriculum.joint">
      <md-input-container flex>
        <label>{{'curriculum.jointMentor' | translate}}</label>
        <hois-classifier-select  ng-model="curriculum.jointMentor" main-classifier-code="EHIS_KOOL"watch-model="curriculum.estonianEducationalInstitute"
          ng-required="curriculum.joint" show-only-values="curriculum.jointPartners" by-property="ehisSchool"></hois-classifier-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.jointResponsible' | translate}}</label>
        <input ng-model="curriculum.supervisor" type="text">
      </md-input-container>
    </div>

    <div layout="row"  ng-show="curriculum.joint">
      <md-input-container flex>
        <label>{{'curriculum.jointAgreementInfoEt' | translate}}</label>
        <textarea ng-model="curriculum.contractEt" md-maxlength="20000" max-rows="2" md-select-on-focus ng-required="curriculum.joint"></textarea>
      </md-input-container>

      <md-input-container flex>
        <label>{{'curriculum.jointAgreementInfoEn' | translate}}</label>
        <textarea ng-model="curriculum.contractEn" md-maxlength="20000" max-rows="2" md-select-on-focus ng-required="curriculum.joint"></textarea>
      </md-input-container>
    </div>

    <div layout="column">
      <span class="md-headline">{{'curriculum.modulesTought' | translate}}</span>
      <div layout="row">
        <md-button class="md-primary" ng-click="openAddModuleDialog()" >{{'curriculum.addModule' | translate}}</md-button>
      </div>
    </div>

    <div layout-padding>
        <div layout="column" layout-align="start start" ng-repeat="(occupationCode, occupationModuleTypes) in occupationModuleTypesModules">
          <div flex>
            <span class="md-headline">{{occupationModuleTypes.occupation[currentLanguageNameField()]}}</span>
          </div>
          <div layout-padding layout="column">
            <div ng-repeat="(moduleTypeCode, moduleTypeModules) in occupationModuleTypes.moduleTypes">
              <div flex>
	            <span class="md-title">{{moduleTypeModules.moduleType[currentLanguageNameField()]}}</span>
	          </div>
                <div layout-padding layout="column">
                  <div ng-repeat="module in moduleTypeModules.modules">
                    <md-button class="md-primary" ng-click="openAddModuleDialog(module, occupationModuleTypes)">
                      <span>{{module[currentLanguageNameField()]}} ({{module['objectives'+currentLanguage()[0].toUpperCase()+currentLanguage().slice(1)]}}) {{module.credits}} EKAP</span>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="removeFromArray(curriculum.modules, module)">
                      <md-icon ng-class="'md-warn md-hue-2'" md-font-set="material-icons">close</md-icon>
                    </md-button>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div layout="row">
      <h4>{{'stateCurriculum.enter.module.modules3' | translate}}&nbsp;*</h4>
      &nbsp;&nbsp;&nbsp;
      <md-input-container class="numberInput">
        <input name="vocationalCredits" type="number" ng-model="curriculum.optionalStudyCredits" required aria-label="optional credits" class="shiftDown1" min="0">

      <div ng-messages="curriculumForm.vocationalCredits.$error" ng-show="curriculumForm.vocationalCredits.$dirty">
          <div ng-message="min">
            {{'curriculum.enter.credits.positive' | translate}}
          </div>
      </div>
      </md-input-container><span class="shiftDown2">EKAP</span>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.practiceDescription' | translate}}</label>
        <textarea ng-model="curriculum.practiceDescription" md-maxlength="20000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.finalExamShortDescription' | translate}}</label>
        <textarea ng-model="curriculum.finalExamDescription" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.optionalStudyOpportunities' | translate}}</label>
        <textarea ng-model="curriculum.optionalStudyDescription" md-maxlength="4000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex>
        <label>{{'curriculum.contactPerson' | translate}}</label>
        <input ng-model="curriculum.contactPerson" type="text">
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
      <md-input-container flex="20" flex-xs="100">
        <label>{{'main.validityPeriod' | translate}}</label>
      </md-input-container>

      <div flex="33" flex-xs="100">
        <md-input-container flex>
          <label>{{'main.validFrom' | translate}}</label>
          <md-datepicker ng-model="curriculum.validFrom" md-open-on-focus required></md-datepicker>
        </md-input-container>

        <md-input-container flex>
          <label>{{'main.validTo' | translate}}</label>
          <md-datepicker ng-model="curriculum.validThru" md-min-date="curriculum.validFrom" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
    </div>

    <div layout="row" >
      <md-input-container flex>
        <label>{{'main.notes' | translate}}</label>
        <textarea ng-model="curriculum.description" md-maxlength="20000" max-rows="2" md-select-on-focus></textarea>
      </md-input-container>
    </div>


    <div layout="row">
      <md-input-container flex="10" flex-xs="100">
        <span class="label">{{'main.status' | translate}}</span>
      </md-input-container>
      <md-input-container flex="10" flex-xs="100">
        <hois-classifier-value ng-model="curriculum.status" main-classifier-code="OPPEKAVA_STAATUS"></hois-classifier-value>
      </md-input-container>
      <md-input-container>
          <a href="" ng-show="curriculum.status.code === 'OPPEKAVA_STAATUS_M'" ng-click="curriculum.status = {code: 'OPPEKAVA_STAATUS_K'}" class="md-primary">{{'main.button.status.confirm' | translate}}</a>
          <a href="" ng-show="curriculum.status.code === 'OPPEKAVA_STAATUS_S'" ng-click="curriculum.status = {code: 'OPPEKAVA_STAATUS_M'}" class="md-primary">{{'main.button.status.approving' | translate}}</a>
          <a href="" ng-hide="curriculum.status.code === 'OPPEKAVA_STAATUS_C'" ng-click="curriculum.status = {code: 'OPPEKAVA_STAATUS_C'}" class="md-primary">{{'main.button.status.close' | translate}}</a>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="10" flex-xs="100">
        <span class="label">{{'curriculum.statusInEhis' | translate}}</span>
      </md-input-container>
      <md-input-container flex="10" flex-xs="100">
        <hois-classifier-value ng-model="curriculum.ehisStatus" main-classifier-code="OPPEKAVA_EHIS_STAATUS"></hois-classifier-value>
      </md-input-container>
      <md-input-container flex-xs="100">
          <label>{{'curriculum.statusChangedDateInEhis' | translate}}</label>
          <md-datepicker ng-model="curriculum.ehisChanged" disabled md-open-on-focus></md-datepicker>
      </md-input-container>
    </div>

    <div layout="column">
      <span class="md-headline">{{'main.relatedFiles' | translate}}</span>
      <div layout="row">
        <md-button class="md-primary" ng-click="openAddFileDialog()" >{{'main.button.uploadFile' | translate}}</md-button>
      </div>
    </div>

    <div layout="column">
      <md-card>
        <md-table-container>
          <table md-table >
            <thead md-head>
            <tr md-row>
              <th md-column><span>{{'file.nameAndFile' | translate}}</span></th>
              <th md-column><span>{{'file.creationLocation' | translate}}</span></th>
              <th md-column>{{'file.type' | translate}}</th>
              <th md-column>{{'curriculum.sendToEhis' | translate}}</th>
              <th md-column></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="file in curriculum.files">
              <td md-cell>
                {{file.oisFile.fname}}
                <a ng-href="{{fileUrl(file.oisFile)}}" target="_blank"><md-icon md-font-set="material-icons">file_download</md-icon></a>
              </td>
              <td md-cell>
                {{file.isEhis ? 'EHIS' : 'ÕIS'}}
              </td>
              <td md-cell>
                <hois-classifier-value ng-model="file.ehisFile" main-classifier-code="EHIS_FAIL"></hois-classifier-value>
              </td>
              <td md-cell><md-checkbox ng-model="file.sendEhis" aria-label="send to ehis"></md-checkbox></td>
              <td md-cell>
                <md-button class="md-icon-button" ng-click="removeFromArray(curriculum.files, file)">
                  <md-icon ng-class="'md-warn md-hue-2'" md-font-set="material-icons">close</md-icon>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card>
    </div>

    <div layout="row">
      <div>
        <a ng-show="!!stateCurriculumId" ng-href="/#/stateCurriculum/{{stateCurriculumId}}/edit" class="md-primary">{{'curriculum.referenceToStateCurriculum' | translate}}</a>
      </div>
    </div>

    <div ng-if="curriculum.id > 0">
      <div layout="column">
        <span class="md-headline">{{'curriculum.moduleImplementationPlans' | translate}}</span>
        <div layout="row">
          <md-button href="/#/vocationalCurriculum/{{curriculum.id}}/moduleImplementationPlan/new" class="md-primary">{{'main.button.create' | translate}}</md-button>
        </div>
      </div>

      <div layout="column">
        <md-card>
          <md-table-container>
            <table md-table md-progress="promise">
              <thead md-head md-order="query.order">
              <tr md-row>
                <th md-column><span>{{'main.version' | translate}}</span></th>
                <th md-column><span>{{'main.status' | translate}}</span></th>
              </tr>
              </thead>
              <tbody md-body>
              <tr md-row ng-repeat="moduleImplementationPlan in moduleImplementationPlans">
                <td md-cell></td>
                <td md-cell></td>
              </tr>
              </tbody>
            </table>
          </md-table-container>
        </md-card>
      </div>
    </div>


    <div layout="column">
      <span class="md-headline">{{'curriculum.informativeSection' | translate}}</span>
    </div>

    <hois-created-modified object="curriculum"></hois-created-modified>
  </form>

  <div layout="row">
    <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
    <md-button class="md-raised md-default" ng-href="/#/curriculum">{{'main.button.back' | translate}}</md-button>
    <md-button class="md-raised md-default" ng-click="sendToEhis()">{{'main.button.sendToEhis' | translate}}</md-button>
    <md-button class="md-raised md-default">{{'main.button.updateFromEhis' | translate}}</md-button>
  </div>
</div>
