<div layout="column" layout-padding>
    <form name="subjectStudyPeriodSubjectEditForm">
        <div layout="column" class="form-readonly">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-value value="currentLanguageNameField(studyPeriod)"></hois-value>
                </md-input-container>
                 <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.subject' | translate}}</label>
                    <hois-value value="subject.nameEt"></hois-value>
                </md-input-container>
            </div>
            <ng-include src="'subjectStudyPeriod/subject/subject.study.period.subject.view.action.buttons.html'"></ng-include>
            <div flex="70" layout="row" class="common-label" md-colors="{color: 'background-400'}">
              <span ng-repeat="capacity in capacityTypes">
                <span ng-if="!$first">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
              </span>
            </div>
            <div>&nbsp;</div>
            <md-table-container fixed-column-table fixed-columns="1" resize-table search-criteria-height="250">
                <table class="subject-study-period pre-last-col-wide load-plan">
                    <thead>
                    <tr>
                        <th>
                            <span>{{'subjectStudyPeriod.subjectStudyPeriod' | translate}}</span>
                        </th>
                        <th ng-repeat="capacityType in capacityTypes">{{capacityType.value.toUpperCase()}}</th>
                        <th>{{'subjectStudyPeriod.overallTeacher' | translate}}</th>
                        <th>{{'subjectStudyPeriod.eap' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat-start="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }" ng-if="$first">
                        <td></td>
                        <td ng-repeat="type in capacityTypes">{{capacitiesUtil.getSubjectsCapacityByType(subject.id, type.code)}}</td>
                        <td>{{capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)}}</td>
                        <td>{{capacitiesUtil.toEap(capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)) | number: 2}}</td>
                      </tr>
                        <tr ng-repeat-end ng-class="{'bold-top-line': $first}">
                            <td>
                                <span ng-repeat="teacher in ssp.teachers" ng-class="{'invalid': !capacitiesUtil.teachersLoadOk(ssp) || (teacher.scheduleLoad - teacher.plannedLessons) < 0}">
                                    <span title="{{'subjectStudyPeriod.teacherLoad' | translate : teacherPlannedLoad(teacher) }}">{{teacher.name}}{{!$last ? ', ' : ''}}</span>
                                </span>
                                <span ng-if="ssp.subgroups.length > 0">
                                  <span class="subject-study-period-proportion">{{'subjectStudyPeriod.subgroups.label' | translate | lowercase}}:
                                    {{ssp.subgroups.length}}
                                  </span>
                                </span>
                                <span ng-repeat="group in ssp.studentGroupObjects | filter: {id: '!' + record.studentGroup}">
                                  <br ng-if="$first"/>
                                  <br ng-if="$first"/>
                                  {{currentLanguageNameField(group)}}{{!$last ? ', ' : ''}}
                                </span>
                            </td>
                            <td ng-repeat="type in capacityTypes">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code } : true">
                                    <span>{{capacity.hours}}</span>
                                </span>
                            </td>
                            <td class="bold">{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                            <td class="bold">{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumBySsp(ssp)) | number: 2}}</td>
                        </tr>
                    </tbody>
                    <tr class="bold bold-top-line" md-colors="{background: 'background-200'}">
                        <td>{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                        <td ng-repeat="type in capacityTypes">{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                        <td>{{capacitiesUtil.capacitiesSumOverall()}}</td>
                        <td></td>
                    </tr>
                    <tr class="bold" md-colors="{background: 'background-200'}">
                      <td>{{'subjectStudyPeriod.eap' | translate | uppercase}}</td>
                      <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumByType(type.code)) | number: 2}}</td>
                      <td></td>
                      <td>{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumOverall()) | number: 2}}</td>
                    </tr>
                </table>
            </md-table-container>
            <div>&nbsp;</div>
        </div>
        <ng-include src="'subjectStudyPeriod/subject/subject.study.period.subject.view.action.buttons.html'"></ng-include>
    </form>
</div>
