
<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
    <p class="md-body-1">
        <span ng-repeat="capacity in capacityTypes">
            <span ng-if="$index !== 0">|</span>
            {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
        </span>
    </p>
    <br>

    <form ng-submit="loadData()" layout="column" novalidate >
        <md-input-container>
            <label class="textInput">{{'subjectStudyPeriodPlan.studyPeriod' | translate}}</label>
            <hois-select ng-model="criteria.studyPeriod" values="studyPeriods" required></hois-select>
        </md-input-container>
        <md-input-container>
            <label class="textInput">{{'subjectStudyPeriodPlan.curriculum' | translate}}</label>
            <hois-select ng-model="criteria.curriculum" values="curriculums"></hois-select>
        </md-input-container>
        <hois-autocomplete ng-model="criteria.subjectObject" url="/subjectStudyPeriodPlans/subjects" name="subject"
                label="subjectStudyPeriodPlan.subject"
                additional-query-params="subjectQueryParams"></hois-autocomplete>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary" ng-click="checkIfStudyPeriodIsPast()">{{'main.button.search' | translate}}</md-button>
            <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
        </div>
    </form>
</div>
<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="{{currentLanguageNameField()}}">{{'subjectStudyPeriodPlan.curriculum' | translate}}</th>
            <th md-column>{{'subjectStudyPeriodPlan.studyForm' | translate}}</th>
            <th md-column class="center" ng-repeat="capacityType in capacityTypes">
                {{capacityType.value.toUpperCase()}}
            </th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body ng-repeat="row in tabledata.content">
            <tr md-row ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>{{currentLanguageNameField(row.subject)}}</td>
                <td md-cell colspan="{{capacityTypes.length + 1}}"></td>
                <td md-cell>
                    <md-button md-no-ink class="md-primary change-button" ng-href="#/subjectStudyPeriodPlans/{{::row.subject.id}}/{{criteria.studyPeriod}}/new" ng-disabled="pastStudyPeriodSelected">{{'subjectStudyPeriodPlan.add' | translate}}
                    </md-button>
                </td>
            </tr>
            <tr md-row ng-repeat="plan in row.plans | orderBy: 'id'">
                <td md-cell class="cell">
                    <span ng-repeat="curriculum in plan.curriculums | orderBy: 'id'">
                        <span ng-if="$index > 0">, </span>
                        {{currentLanguageNameField(curriculum)}}
                    </span>
                </td>
                <td md-cell class="cell">
                    <span ng-repeat="studyForm in plan.studyForms | orderBy: currentLanguageNameField()">
                        <span ng-if="$index > 0">, </span>
                        {{currentLanguageNameField(studyForm)}}
                    </span>
                </td>
                <td md-cell class="cell center" ng-repeat="capacityType in capacityTypes">
                    {{getCapacitiesHours(capacityType.code, plan)}}
                </td>
                <td md-cell class="cell">
                    <md-button md-no-ink class="md-primary change-button" ng-href="#/subjectStudyPeriodPlans/{{::plan.id}}/edit" ng-disabled="pastStudyPeriodSelected">{{'main.button.change' | translate}}
                    </md-button>
                </td>
            </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>
<style>
    .cell {
        border: 1px solid #e8ebef;
    }
    .center {
        text-align: center !important;
    }
</style>
