<div layout-padding>
  <div ng-if="state.currentUser" ng-controller="AuthenticatedHomeController as ctrl">
    <span>{{ 'home.greeting' | translate }}</span>
    <br>
    <br>
    <a ng-href="/#/studentrepresentatives/applications/new?_menu">{{'home.represantiveApplication' | translate}}</a>
    <br>
    <br>
    <h3>{{'home.generalmessages' | translate}}</h3>
    <md-table-container>
      <table md-table md-progress="generalmessages.$promise">
        <tbody md-body>
          <tr md-row ng-repeat="row in generalmessages.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell width="10%">{{::row.inserted | hoisDate}}</td>
            <td md-cell width="40%">
              <h4>{{::row.title}}</h4>
              <pre ng-show="row.clicked">{{::row.content}}</pre>
            </td>
            <td md-cell>
              <a class="md-primary" ng-click="openCloseDetails(row)" aria-label="{{row.clicked ? 'main.button.hide' : 'main.button.view' | translate}}">
                <span>{{row.clicked ? 'main.button.hide' : 'main.button.view' | translate}}</span>
              </a>
			      </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[5, 10, 15]" ng-if="generalmessages.totalElements > criteria.size"
                         md-page="criteria.page" md-total="{{generalmessages.totalElements}}" md-on-paginate="loadGeneralMessages"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>

    <h3 ng-show="showUnreadMessages">{{'message.messages' | translate}}</h3>
    <h5 ng-show="showUnreadMessages" ng-if="unreadMessages.content.length === 0">{{'message.noNewMessages' | translate}}</h5>
    <md-table-container ng-show="showUnreadMessages">
      <table md-table md-progress="unreadMessages.$promise">
        <tbody md-body>
          <tr md-row ng-repeat="row in unreadMessages.content" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="readMessage(row)">
            <td md-cell width="10%">{{::row.dateSent | hoisDateTime}}</td>
            <td md-cell width="40%"><h4>{{::row.subject}}</h4>
                <div ng-show="row.clicked">
                    <pre>{{::row.content}}</pre>
                    <p>{{'message.messageSender' | translate}}: {{::row.sender}}</p>
                </div>
            </td>
            <td md-cell>
                <md-button class="md-primary" ng-href="/#/message/{{row.id}}/respond?backUrl=home" ng-if="row.sendersId !== -1" ng-click="readMessage()">
                    {{'message.respond' | translate}}
                </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

  </div>
  <div ng-if="!state.currentUser">
    <span>{{ 'home.joinedSchools' | translate }}</span>
    <md-list>
      <md-list-item ng-repeat="school in schools">
        <span>{{currentLanguageNameField(school)}}</span>
      </md-list-item>
    </md-list>
  </div>
</div>

<style>

 pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
</style>
