<div layout-padding>
  <div ng-if="state.currentUser" ng-controller="AuthenticatedHomeController as ctrl">
    <!--div style="margin-bottom: 8px;" layout="row" >
      <a style="font-size: 13px; font-weight: normal; min-height: inherit; line-height: inherit; padding: 0;" class="md-primary md-hue-2 md-button md-ink-ripple" ng-href="/#/studentrepresentatives/applications/new?_menu">{{'home.represantiveApplication' | translate}}</a>
    </div-->
    <div ng-if="hasUnacceptedAbsences">
      <md-whiteframe class="md-whiteframe-1dp attention-whiteframe" flex="100" layout layout-align="left center">
        <div md-colors="{color: 'warn'}">
          <md-icon md-colors="{color: 'warn'}" md-font-set="material-icons">info_outline</md-icon>
          <span>{{'absence.youHaveUnacceptedAbsences' | translate}} <a ng-href="/#/absences?_menu">{{'main.button.view' | translate}}</a></span>
        </div>
      </md-whiteframe>
    </div>
    <div ng-if="unconfirmedJournals && unconfirmedJournals.count > 0">
      <md-whiteframe class="md-whiteframe-1dp attention-whiteframe" flex="100" layout layout-align="left center">
        <div md-colors="{color: 'accent'}">
          <md-icon md-colors="{color: 'accent'}" md-font-set="material-icons">info_outline</md-icon>
          <span ng-if="unconfirmedJournals.count === 1">{{'journal.unconfirmedCountOne' | translate}}</span>
          <span ng-if="unconfirmedJournals.count > 1">{{'journal.unconfirmedCount' | translate:unconfirmedJournals}}</span>
        </div>
      </md-whiteframe>
      <br>
    </div>

    <hois-collapsable expanded="true"  class="hois-collapse2" ng-if="expiringOccupationStandards && expiringOccupationStandards.length > 0" label="('home.expiringOccupationStandards.title' | translate)" link="(numberOfOccupationStandards? 'main.button.view' : 'main.button.hide')|translate" action="toggleNumberOfOccupationStandards()" ngif="expiringOccupationStandards && expiringOccupationStandards.length > 3">
      <!--span ng-if="expiringOccupationStandards && expiringOccupationStandards.length > 3">
        <md-button class="md-primary" ng-click="toggleNumberOfOccupationStandards()">{{(numberOfOccupationStandards? 'main.button.view' : 'main.button.hide')|translate}}</md-button>
      </span-->
      <!--md-content>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="row in expiringOccupationStandards | limitTo:numberOfOccupationStandards">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="40">{{::currentLanguageNameField(row)}}</div>
              <div flex="20">{{::row.validThru | hoisDate}}</div>
              <div flex="40">{{'home.expiringOccupationStandards.curriculum' | translate}}&nbsp;{{::row.curriculums.join(', ')}}</div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content-->
      <md-table-container>
        <table md-table>
          <tbody md-body>
            <tr md-row ng-repeat="row in expiringOccupationStandards | limitTo:numberOfOccupationStandards">
              <td md-cell width="40%">{{::currentLanguageNameField(row)}}</td>
              <td md-cell width="10%">{{::row.validThru | hoisDate}}</td>
              <td md-cell>{{'home.expiringOccupationStandards.curriculum' | translate}}&nbsp;{{::row.curriculums.join(', ')}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
  </hois-collapsable>



  <hois-collapsable class="hois-collapse2" label="('home.generalmessages' | translate)" expanded="true" >
    <md-table-container>
      <table md-table md-progress="generalmessages.$promise">
        <tbody md-body>
          <tr md-row ng-repeat="row in generalmessages.content">
            <td md-cell width="10%">{{::row.inserted | hoisDate}}</td>
            <td md-cell width="40%">
              <h4>{{::row.title}}</h4>
              <pre ng-show="row.clicked">{{::row.content}}</pre>
            </td>
            <td md-cell>
              <a class="md-primary" ng-click="openCloseDetails(row)" aria-label="{{row.clicked ? 'main.button.hide' : 'main.button.view' | translate}}">
                <span>{{row.clicked ? 'main.button.hide' : 'main.button.view' | translate}}</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[5, 10, 15]" ng-if="generalmessages.totalElements > criteria.size"
      md-page="criteria.page" md-total="{{generalmessages.totalElements}}" md-on-paginate="loadGeneralMessages"
      md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </hois-collapsable>


    <hois-collapsable expanded="true" class="hois-collapse2" ng-show="showUnreadMessages && unreadMessages.content.length > 0" label="('message.messages' | translate)" expanded="false">
    <!--h5 ng-show="showUnreadMessages" ng-if="unreadMessages.content.length === 0">{{'message.noNewMessages' | translate}}</h5-->
    <md-table-container ng-show="showUnreadMessages">
      <table md-table md-progress="unreadMessages.$promise">
        <tbody md-body>
          <tr md-row ng-repeat="row in unreadMessages.content" ng-click="readMessage(row)">
            <td md-cell width="10%">{{::row.dateSent | hoisDateTime}}</td>
            <td md-cell width="40%"><h4>{{::row.subject}}</h4>
                <div ng-show="row.clicked">
                    <pre>{{::row.content}}</pre>
                    <p>{{'message.messageSender' | translate}}: {{::row.sender}}</p>
                </div>
            </td>
            <td md-cell>
                <md-button class="md-primary" ng-href="/#/message/{{row.id}}/respond?backUrl=home" ng-if="row.sendersId !== -1" ng-click="readMessage()">
                    {{'message.respond' | translate}}
                </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    </hois-collapsable>


    <div ng-controller="StudentHomeController">
      <div ng-if="sessionStudentId" ng-include="'home/home.student.html'"></div>
    </div>

  </div>

  <div ng-if="!state.currentUser" class="schoolList">
    <md-grid-list md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="24px" md-gutter-gt-sm="24px">
      <md-grid-tile ng-repeat="school in schools" md-colspan="1">
        <button class="schoolTileButton" ng-click="openSchoolCurriculumSearch(school.id)">
          <img class="schoolTileImage" ng-src="data:image/JPEG;base64,{{school.logo}}" on-error-src="images/HITSA_innov_logo_03.png">
          <md-grid-tile-footer class="schoolTileFooter">
            <span>{{currentLanguageNameField(school)}}</span>
          </md-grid-tile-footer>
        </button>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>

<style>

 pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
</style>
