<div layout-padding>
  <div flex>
    <form ng-submit="loadData()" novalidate>
      <div layout="row">
        <div flex-xs="100" flex-gt-xs="100" flex-gt-sm="50" layout="column">
          <md-input-container>
            <label class="textInput">{{'student.representative.application.applicantname' | translate}}</label>
            <input ng-model="criteria.name" name="name" type="text" autofocus>
          </md-input-container>

          <md-input-container>
            <label class="textInput">{{'student.representative.application.applicantidcode' | translate}}</label>
            <input ng-model="criteria.idcode" name="idcode" type="text" md-minlength="11" md-maxlength="11">
          </md-input-container>

          <md-input-container>
            <label>{{'student.representative.application.status' | translate}}</label>
            <hois-classifier-select ng-model="criteria.status" name="status" model-value-attr="code" main-classifier-code="AVALDUS_ESINDAJA_STAATUS"></hois-classifier-select>
          </md-input-container>

          <div layout="row">
            <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
            <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
          </div>
        </div>
        <div flex-xs="0" flex-gt-xs="0" flex-gt-sm="50"></div>
      </div>
    </form>
  </div>
</div>
<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="person.lastname,person.firstname">{{'student.representative.application.applicantname' | translate}}</th>
            <th md-column md-order-by="person.idcode">{{'student.representative.idcode' | translate}}</th>
            <th md-column md-order-by="{{currentLanguage()==='en' ? 'relation.nameEn' : 'relation.nameEt'}}">{{'student.representative.relation' | translate}}</th>
            <th md-column md-order-by="person.phone">{{'student.representative.phone' | translate}}</th>
            <th md-column md-order-by="person.email">{{'student.representative.email' | translate}}</th>
            <th md-column>{{'student.representative.application.applied' | translate}}</th>
            <th md-column md-order-by="{{currentLanguage()==='en' ? 'status.nameEn' : 'status.nameEt'}}">{{'student.representative.application.status' | translate}}</th>
            <th md-column md-order-by="student.person.lastname,student.person.firstname">{{'student.name' | translate}}</th>
            <th md-column md-order-by="student.person.idcode">{{'student.idcode' | translate}}</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell>{{::row.fullname}}</td>
            <td md-cell>{{::row.idcode}}</td>
            <td md-cell>{{currentLanguageNameField(row.relation)}}</td>
            <td md-cell>{{::row.phone}}</td>
            <td md-cell>{{::row.email}}</td>
            <td md-cell>{{'main.formattedDate' | translate: {date: row.inserted} }}</td>
            <td md-cell>{{currentLanguageNameField(row.status)}}</td>
            <td md-cell><md-button md-no-ink class="md-primary change-button" ng-href="#/students/{{::row.studentId}}/main?backUrl=applications">{{::row.studentFullname}}</md-button></td>
            <td md-cell>{{::row.studentIdcode}}</td>
            <td md-cell>
              <md-button ng-if="row.status.code === 'AVALDUS_ESINDAJA_STAATUS_E'" md-no-ink class="md-primary change-button" ng-click="accept(row)">{{'main.button.confirm' | translate}}</md-button>
            </td>
            <td md-cell>
              <md-button ng-if="row.status.code === 'AVALDUS_ESINDAJA_STAATUS_E'" md-no-ink class="md-primary change-button" ng-click="decline(row)">{{'main.button.decline' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[5, 10, 15]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>
