<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <fieldset>
      <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.searchlabel' | translate}}</legend>
      <form ng-submit="loadData()" novalidate class="nomargin" >
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="45" flex-sm="100" flex-xs="100">
              <label>{{'lessonplan.event.studyPeriod' | translate}}</label>
              <hois-select ng-model="criteria.studyPeriod" values="formState.studyPeriods"></hois-select>
          </md-input-container>

          <md-input-container flex="50" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
              <label>{{'lessonplan.event.studentGroups' | translate}}</label>
              <hois-select ng-model="criteria.studentGroups" values="formState.studentGroups" multiple></hois-select>
          </md-input-container>
        </div>

      <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="45" flex-sm="100" flex-xs="100">
            <label class="textInput">{{'lessonplan.event.name' | translate}}</label>
            <input ng-model="criteria.name" type="text">
          </md-input-container>

          <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
            <label>{{'main.from' | translate}}</label>
            <md-datepicker ng-model="criteria.from"></md-datepicker>
          </md-input-container>

          <md-input-container flex="25" flex-sm="100" flex-xs="100">
            <label>{{'main.thru' | translate}}</label>
            <md-datepicker ng-model="criteria.thru" md-min-date="criteria.from"></md-datepicker>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container class="md-block" flex="45" flex-sm="100" flex-xs="100">
            <label>{{'lessonplan.event.teachers' | translate}}</label>
            <hois-select ng-model="criteria.teachers" values="formState.teachers" flex multiple></hois-select>
          </md-input-container>
          <md-input-container flex="50" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
            <label class="textInput">{{'lessonplan.event.otherTeacher' | translate}}</label>
            <input ng-model="criteria.otherTeacher" type="text">
          </md-input-container>
        </div>

        <div layout="row">
          <div layout="row" flex="45" flex-sm="100" flex-xs="100">
            <hois-autocomplete flex ng-model="criteria.roomObject" method="rooms" name="student" label="lessonplan.event.room"
              additional-query-params="{isStudy: true}"></hois-autocomplete>
          </div>
          <md-input-container flex="50" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
            <label class="textInput">{{'lessonplan.event.otherRoom' | translate}}</label>
            <input ng-model="criteria.otherRoom" type="text">
          </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="30" flex-sm="100" flex-xs="100">
            <md-checkbox ng-model="criteria.singleEvent">{{'lessonplan.event.singleEvent' | translate}}</md-checkbox>
          </md-input-container>
          <md-input-container flex="30" flex-sm="100" flex-xs="100">
            <md-checkbox ng-model="criteria.showOnlySubstitutes">{{'lessonplan.event.showOnlySubstitutes' | translate}}</md-checkbox>
          </md-input-container>
        </div>

        <div layout="row">
          <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
          <md-button class="md-raised" ng-click="clearEventCriteria()">{{'main.button.clear' | translate}}</md-button>
          <md-button class="md-raised" ng-if="canEdit" ng-href="#/timetable/timetableEvent/new">{{'main.button.create' | translate}}</md-button>
        </div>
        <div flex-xs="0" flex-gt-xs="0" flex-gt-sm="50"></div>
      </form>
    </fieldset>
  </div>
</div>
<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="{{currentLanguage()==='en' ? 3 : 2}}">{{'lessonplan.event.name' | translate}}</th>
            <th md-column md-order-by="4">{{'lessonplan.event.date' | translate}}</th>
            <th md-column md-order-by="cast(tet.start as time), cast(tet.end as time)">{{'lessonplan.event.time' | translate}}</th>
            <th md-column>{{'lessonplan.event.teachers' | translate}}</th>
            <th md-column>{{'lessonplan.event.rooms' | translate}}</th>
            <th md-column>{{'lessonplan.event.studentGroups' | translate}}</th>
            <th md-column>{{'lessonplan.event.singleEvent' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell><a ng-href="#/timetable/timetableEvent/{{::row.id}}/view">{{row.nameEt}}</a></td>
            <td md-cell>{{::row.date | hoisDate}}</td>
            <td md-cell>{{::row.timeStart | hoisTime}}-{{::row.timeEnd | hoisTime}}</td>
            <td md-cell><span ng-repeat="teacher in row.teachers">{{::teacher.name}}{{$last ? "" : ", "}}</span></td>
            <td md-cell>
              <span ng-repeat="room in row.rooms">
                <span ng-if="room.id">{{::room.buildingCode}}-{{::room.roomCode}}</span>
                <span ng-if="!room.id">{{::room.roomCode}}</span>
                {{$last ? "" : ", "}}
              </span>
            </td>
            <td md-cell><span ng-repeat="group in row.studentGroups">{{::group.code}}{{$last ? "" : ", "}}</span></td>
            <td md-cell>{{::row.singleEvent ? "jah" : "ei"}}</td>
            <td md-cell>
              <md-button md-no-ink class="md-primary change-button" ng-if="canEdit && afterNow(row.date, row.timeStart) && allowedToEdit(row)" ng-href="#/timetable/timetableEvent/{{::row.id}}/edit">{{'main.button.change' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>
