<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
    <form ng-submit="loadData()" layout="column" novalidate ng-if="!auth.isStudent() && !auth.isParent()">
        <md-input-container>
            <label>{{'certificate.type' | translate}}</label>
            <hois-classifier-select ng-model="criteria.type" model-value-attr="code" main-classifier-code="TOEND_LIIK" multiple></hois-classifier-select>
        </md-input-container>
        <md-input-container>
            <label class="textInput">{{'certificate.headline' | translate}}</label>
            <input ng-model="criteria.headline" type="text">
        </md-input-container>
        <md-input-container>
            <label class="textInput">{{'certificate.studentName' | translate}}</label>
            <input ng-model="criteria.name" type="text">
        </md-input-container>
        <md-input-container>
            <label class="textInput">{{'certificate.idcode' | translate}}</label>
            <input ng-model="criteria.idcode" type="text" md-minlength="11" md-maxlength="11">
        </md-input-container>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="20" flex-sm="100" flex-xs="100">
                <label>{{'certificate.inserted' | translate}}</label>
                <input type="hidden">
            </md-input-container>
            <div flex="33">
                <md-input-container flex>
                    <label>{{'main.from' | translate}}</label>
                    <md-datepicker ng-model="criteria.insertedFrom"></md-datepicker>
                </md-input-container>
                <md-input-container flex>
                    <label>{{'main.thru' | translate}}</label>
                    <md-datepicker ng-model="criteria.insertedThru"></md-datepicker>
                </md-input-container>
            </div>
        </div>
        <md-input-container>
            <label class="textInput">{{'certificate.nr' | translate}}</label>
            <input ng-model="criteria.certificateNr" type="text">
        </md-input-container>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
            <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
            <md-button class="md-raised" ng-href="#/certificate/new">{{'certificate.add' | translate}}</md-button>
        </div>
    </form>
</div>

<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="sortablename" ng-if="!auth.isStudent() && !auth.isParent()">{{'certificate.studentName' | translate}}</th>
            <th md-column md-order-by="c.certificateNr">{{'certificate.nr' | translate}}</th>
            <th md-column md-order-by="type.{{currentLanguageNameField()}}">{{'certificate.type' | translate}}</th>
            <th md-column md-order-by="status.{{currentLanguageNameField()}}">{{'certificate.status' | translate}}</th>
            <th md-column md-order-by="c.headline">{{'certificate.headline' | translate}}</th>
            <th md-column md-order-by="c.inserted">{{'certificate.inserted' | translate}}</th>
            <th md-column ng-if="!auth.isStudent() && !auth.isParent()"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell ng-if="!auth.isStudent() && !auth.isParent()">
                <md-button md-no-ink class="md-primary change-button" ng-href="#/students/{{row.studentId}}/main" ng-disabled="!row.studentId">{{::row.studentFullname}}</md-button>
            </td>
            <td md-cell>{{::row.certificateNr}}</td>
            <td md-cell><a ng-href="#/certificate/{{::row.id}}/view">{{currentLanguageNameField(row.type)}}</a></td>
            <td md-cell>{{currentLanguageNameField(row.status)}}</td>
            <td md-cell>{{::row.headline}}</td>
            <td md-cell>{{row.inserted | hoisDate}}</td>
            <td md-cell ng-if="!auth.isStudent() && !auth.isParent()">
              <md-button ng-if="row.canBeChanged" md-no-ink class="md-primary change-button" ng-href="#/certificate/{{::row.id}}/edit">{{'main.button.change' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>

<table md-table class="secondary-table" ng-if="auth.isStudent()">
    <thead md-head>
        <tr md-row>
            <th md-column>{{'certificate.type' | translate}}</th>
            <th md-column></th>
        </tr>
    </thead>
    <tbody md-body>
    <tr md-row ng-repeat="type in types" ng-class-odd="'odd'" ng-class-even="'even'">
        <td md-cell>{{currentLanguageNameField(type)}}</td>
        <td md-cell>
              <md-button md-no-ink class="md-primary change-button" ng-href="#/certificate/{{::type.code}}/new">
                {{'certificate.order' | translate}}
              </md-button>
        </td>
    </tr>
    </tbody>
</table>
