<div layout="column" layout-padding>
    <form name="certificateEditForm">
        <div layout="column">
            <md-input-container ng-if="auth.isStudent()">
                <label>{{'certificate.type' | translate}}</label>
                <hois-classifier-select filter-values="['TOEND_LIIK_MUU']"ng-model="record.type" model-value-attr="code" main-classifier-code="TOEND_LIIK" required></hois-classifier-select>
            </md-input-container>
            <md-input-container ng-if="!auth.isStudent()">
                <label>{{'certificate.type' | translate}}</label>
                <hois-classifier-select ng-model="record.type" model-value-attr="code" main-classifier-code="TOEND_LIIK" required></hois-classifier-select>
            </md-input-container>

            <!--<hois-autocomplete ng-show="record.type !== 'TOEND_LIIK_MUU'" label="certificate.student" ng-model="student" method="students" md-selected-item-change="studentChanged()" required></hois-autocomplete>-->
            <div ng-show="record.type !== 'TOEND_LIIK_MUU' && !auth.isStudent()">
                <md-autocomplete
                    md-input-minlength="2"
                    name="student"
                    md-selected-item="student"
                    md-search-text="queryText"
                    md-items="item in querySearch(queryText)"
                    md-item-text="currentLanguageNameField(item)"
                    md-floating-label="{{'certificate.student' | translate}}"
                    ng-model="queryText"
                    md-no-cache
                    class="small-margin"
                    md-selected-item-change="studentChanged()"
                    ng-required="record.type !== 'TOEND_LIIK_MUU' && !auth.isStudent()"
                    >

                    <md-item-template>
                        <span md-highlight-text="queryText" md-highlight-flags="^i">{{currentLanguageNameField(item)}}</span>
                    </md-item-template>

                    <md-not-found>
                        {{'main.messages.error.notFound' | translate}}
                    </md-not-found>

                </md-autocomplete>
            </div>

            <div ng-if="record.type === 'TOEND_LIIK_MUU'" ng-if="!auth.isStudent()">
                <md-input-container class="md-block">
                    <label>{{'certificate.otherIdcode' | translate}}</label>
                    <input type="text" ng-model="record.otherIdcode" name="idcode" required ng-pattern="idcodePattern" md-maxlength="11">
                    <div ng-messages="certificateEditForm.idcode.$error" ng-show="certificateEditForm.idcode.$dirty">
                        <div ng-message="pattern">
                            {{'certificate.invalidIdcode' | translate}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'certificate.otherName' | translate}}</label>
                    <input type="text" ng-model="record.otherName" required md-maxlength="255">
                </md-input-container>
            </div>
            <md-input-container>
                <label>{{'certificate.headline' | translate}}</label>
                <textarea ng-model="record.headline" required md-maxlength="1000" max-rows="2" ng-readonly="auth.isStudent()"></textarea>
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.whom' | translate}}</label>
                <input type="text" ng-model="record.whom" md-maxlength="255">
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.signatory' | translate}}</label>
                <md-select ng-model="record.signatoryIdcode" 
                           aria-label="{{'certificate.signatory' | translate}}" required>
                  <md-option ng-value="signatory.idcode" ng-repeat="signatory in signatories">
                    {{ signatory.name }}
                 </md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-if="!auth.isStudent()">
                <label>{{'certificate.content' | translate}}</label>
                <textarea ng-model="record.content" required md-maxlength="2000" max-rows="2" ng-readonly="record.type !== 'TOEND_LIIK_MUU'"></textarea>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-href="/#/certificate">{{'main.button.back' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-click="delete()" ng-if="record.id">{{'main.button.delete' | translate}}</md-button>
        </div>
    </form>
</div>
