<div layout="column" layout-padding>
    <form name="certificateEditForm">
        <div layout="column">
            <md-input-container>
                <label>{{'certificate.type' | translate}}</label>
                <hois-classifier-select ng-model="record.type" model-value-attr="code" main-classifier-code="TOEND_LIIK" required></hois-classifier-select>
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.headline' | translate}}</label>
                <textarea ng-model="record.headline" required md-maxlength="1000" max-rows="2"></textarea>
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.whom' | translate}}</label>
                <input type="text" ng-model="record.whom" required md-maxlength="255">
            </md-input-container>
            <md-input-container ng-if="record.type !== 'TOEND_LIIK_MUU'">
                <label>{{'certificate.signatory' | translate}}</label>
                <md-select ng-model="record.signatoryIdcode" 
                           aria-label="{{'certificate.signatory' | translate}}" required>
                  <md-option ng-value="signatory.idcode" ng-repeat="signatory in signatories">
                    {{ signatory.name }}
                 </md-option>
                </md-select>
            </md-input-container>
            <div ng-if="record.type === 'TOEND_LIIK_MUU'">
                <md-input-container class="md-block">
                    <label>{{'certificate.signatoryIdcode' | translate}}</label>
                    <input type="text" ng-model="record.signatoryIdcode" name="idcode" required ng-pattern="idcodePattern" ng-readonly="signatoryFound" md-maxlength="11"></hois-idcode-lookup>
                    <div ng-messages="certificateEditForm.idcode.$error" ng-show="certificateEditForm.idcode.$dirty">
                        <div ng-message="pattern">
                            {{'certificate.invalidIdcode' | translate}}
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'certificate.signatoryName' | translate}}</label>
                    <input type="text" ng-model="record.signatoryName" required md-maxlength="255" ng-readonly="signatoryFound">
                </md-input-container>
                <md-button  ng-if="record.signatoryIdcode && record.signatoryName" ng-click="clearSignatory()">{{'certificate.clearSignatory' | translate}}</md-button>
            </div>

            <hois-autocomplete label="certificate.student" ng-model="student" method="students" md-selected-item-change="studentChanged()" required></hois-autocomplete>

            <md-input-container>
                <label>{{'certificate.content' | translate}}</label>
                <textarea ng-model="record.content" required md-maxlength="2000" max-rows="2" ng-readonly="record.type !== 'TOEND_LIIK_MUU'"></textarea>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-href="/#/certificate">{{'main.button.back' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-click="delete()" ng-if="record.id">{{'main.button.delete' | translate}}</md-button>
        </div>
    </form>
</div>
