<div layout="column" layout-padding>
    <form name="certificateEditForm">
        <div layout="column" class="form-readonly">
            <md-input-container>
                <label>{{'certificate.type' | translate}}</label>
                <hois-classifier-value ng-model="record.type" main-classifier-code="TOEND_LIIK"></hois-classifier-value>
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.headline' | translate}}</label>
                <textarea ng-model="record.headline" required md-maxlength="1000" max-rows="2" readonly></textarea>
            </md-input-container>
            <md-input-container>
                <label>{{'certificate.whom' | translate}}</label>
                <input type="text" ng-model="record.whom" md-maxlength="255">
            </md-input-container>
            <md-input-container>
                <label class="common-label" ng-show="record.content">{{'certificate.content' | translate}}</label>
                <div id="content" class="md-body-1"></div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">{{'certificate.order' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-click="back('#/certificate', certificateEditForm)">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>
