<md-dialog aria-label="add entry dialog" flex="50">
  <form name="dialogForm" ng-submit="loadData()" novalidate ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{journalEntry.id === undefined || journalEntry.id === null ? "journal.entry.new" : "journal.entry.edit" | translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div flex>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container ng-if="journalEntry.entryType !== 'SISSEKANNE_O'" flex="45">
                <label>{{'journal.entry.type' | translate}}</label>
                <hois-classifier-select ng-model="journalEntry.entryType" model-value-attr="code" main-classifier-code="SISSEKANNE" required ng-change="setJournalEntryDefaultName(journalEntry.entryType)" filter-values="forbiddenEntryTypes"></hois-classifier-select>
              </md-input-container>
              <md-input-container ng-if="journalEntry.entryType === 'SISSEKANNE_O'" flex="45">
                <label>{{'journal.entry.type' | translate}}</label>
                <hois-classifier-select ng-model="journalEntry.entryType" model-value-attr="code" main-classifier-code="SISSEKANNE" disabled></hois-classifier-select>
              </md-input-container>
              <md-input-container flex="45" flex-offset="10">
                <label>{{'journal.entry.name' | translate}}</label>
                <input type="text" ng-model="journalEntry.nameEt" md-maxlength="100">
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container layout="row" layout-align="start center" flex>
                <md-checkbox ng-repeat="type in capacityTypes" ng-model="selectedCapacityTypes[type.code]">{{currentLanguageNameField(type)}}</md-checkbox>
              </md-input-container>
            </div>

            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex="20">
                <label>{{'journal.entry.selectDate' | translate}}</label>
                <hois-select ng-model="entryDateSelect" values="lessonPlanDates"
                ng-change="entryDateCalendar = undefined;journalEntry.entryDate = entryDateSelect"
                ng-required="journalEntry.entryType === 'SISSEKANNE_T' && entryDateCalendar === undefined"></hois-select>
              </md-input-container>
              <div layout="row" layout-align="center" style="padding-top:8px" flex="5">
                <span>{{'main.or' | translate}}</span>
              </div>
              <md-input-container flex="25">
                <label>{{'journal.entry.selectFromCalendar' | translate}}</label>
                <md-datepicker ng-model="entryDateCalendar" md-open-on-focus
                ng-change="entryDateSelect = undefined;journalEntry.entryDate = entryDateCalendar"
                ng-required="journalEntry.entryType === 'SISSEKANNE_T' && entryDateSelect === undefined"></md-datepicker>
              </md-input-container>
              <md-input-container flex="20" flex-offset="5">
                <label>{{'journal.entry.startLessonNr' | translate}}</label>
                <hois-select ng-model="journalEntry.startLessonNr" values="startLessonNrs" ng-required="journalEntry.entryType === 'SISSEKANNE_T'"></hois-select>
              </md-input-container>
              <md-input-container flex="20" flex-offset="5">
                <label>{{'journal.entry.lessons' | translate}}</label>
                <hois-select ng-model="journalEntry.lessons" values="lessons" ng-required="journalEntry.entryType === 'SISSEKANNE_T'"></hois-select>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'journal.entry.content' | translate}}</label>
                <textarea ng-model="journalEntry.content" md-maxlength="10000" max-rows="2"></textarea>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex="70">
                <label>{{'journal.entry.homework' | translate}}</label>
                <textarea ng-model="journalEntry.homework" md-maxlength="10000" max-rows="2"></textarea>
              </md-input-container>

              <md-input-container flex flex-offset="5">
                <label>{{'journal.entry.homeworkDuedate' | translate}}</label>
                <md-datepicker ng-model="journalEntry.homeworkDuedate" md-open-on-focus ng-required="!!journalEntry.homework"></md-datepicker>
              </md-input-container>
            </div>
        </div>

        <div layout-padding>
          <div flex>
            <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row flex>
                    <th md-column><span>{{'student.label' | translate}}, {{'journal.studentGroup' | translate}}</span></th>
                    <th md-column><span>{{'journal.entry.student.lateAbsent' | translate}}</span></th>
                    <th md-column><span>{{'journal.entry.student.grade' | translate}}</span></th>
                    <th md-column><span>{{'journal.entry.student.description' | translate}}</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="row in journalStudents | orderBy: 'fullname'" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td md-cell>
                      <span>{{::row.fullname}}, {{row.studentGroup}}</span>
                    </td>
                    <td md-cell>
                      <div layout="row" layout-sm="column" layout-xs="column">
                        <md-input-container ng-if="hasAcceptedAbsence(row)">
                          <md-checkbox ng-model="journalEntryStudents[row.id].excused" aria-label="PUUDUMINE_V" ng-disabled="true">
                            {{absenceOptions["PUUDUMINE_V"].value}}
                          </md-checkbox>
                        </md-input-container>
                        <md-input-container ng-if="!hasAcceptedAbsence(row)" layout="row" layout-align="start center" flex>
                          <md-checkbox ng-model="journalEntryStudents[row.id].late" aria-label="PUUDUMINE_H" ng-disabled="!row.canEdit"  
                            ng-change="journalEntryStudentAbsenceChanged(journalEntryStudents, row, journalEntryStudents[row.id].late, 'PUUDUMINE_H')">
                            {{absenceOptions["PUUDUMINE_H"].value}}
                          </md-checkbox>
                          <md-checkbox ng-model="journalEntryStudents[row.id].withoutReason" aria-label="PUUDUMINE_P" ng-disabled="!row.canEdit" style="margin-left: 30px"
                            ng-change="journalEntryStudentAbsenceChanged(journalEntryStudents, row, journalEntryStudents[row.id].withoutReason, 'PUUDUMINE_P')">
                            {{absenceOptions["PUUDUMINE_P"].value}}
                          </md-checkbox>
                        </md-input-container>
                      </div>
                    </td>
                    <td md-cell>
                      <span ng-repeat="gradeHistory in journalEntryStudents[row.id].journalEntryStudentHistories | orderBy: 'gradeInserted'">
                        {{gradeHistory.grade.value}}
                        <span ng-if="gradeHistory.grade.value && !$last">/</span>
                      </span>
                      &nbsp;
                      <md-input-container>
                        <hois-select ng-model="journalEntryStudents[row.id].grade" values="grades" show-property="value" value-property="code"
                          ng-change="journalEntryStudentChanged(journalEntryStudents, row)" aria-label="grade" ng-disabled="!row.canEdit"></hois-select>
                      </md-input-container>
                    </td>
                    <td md-cell>
                      <md-input-container>
                        <input type="text" ng-model="journalEntryStudents[row.id].addInfo"
                          ng-change="journalEntryStudentChanged(journalEntryStudents, row)" aria-label="additional info" ng-disabled="!row.canEdit">
                      </md-input-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </div>
        </div>

        <span flex></span>
        <md-dialog-actions layout="row" layout-align="start center">
          <md-button class="md-raised md-primary" ng-click="submit()">{{'main.button.save' | translate}}</md-button>
          <md-button ng-if="canDeleteEntries" class="md-raised" ng-click="delete()">{{"main.button.delete" | translate}}</md-button>
          <md-button class="md-raised" ng-click="cancel()">{{"main.button.close" | translate}}</md-button>
        </md-dialog-actions>
      </div>
    </md-dialog-content>




  </form>
</md-dialog>
