<div layout-padding>
    <div flex>
      <div layout="row" flex>
        <h2 flex>{{'journal.entryTabelLegend' | translate}}</h2>
        <div flex="50" layout="row" layout-align="end">
          <md-input-container>
              <md-checkbox ng-model="showAllStudentsModel" aria-label="show all students" ng-change="showAllStudents(showAllStudentsModel)">
                {{'journal.showAll' | translate}}
              </md-checkbox>
            </md-input-container>
        </div>
      </div>
      <md-table-container>
        <table md-table md-progress="entries.$promise">
          <thead md-head md-on-reorder="loadEntries">
            <tr md-row flex>
              <th md-column><span>{{'student.label' | translate}}, {{'journal.studentGroup' | translate}}</span></th>
              <th md-column ng-repeat="journalEntry in journal.journalEntriesByDate | orderBy: 'date'">
                {{'main.formattedDate' | translate: {date: journalEntry.date} }}
                <md-tooltip>
                    {{journalEntry.startLessonNr}}
                    <span ng-if="journalEntry.startLessonNr">,&nbsp;</span>
                    {{journalEntry.nameEt}}
                    <span>,&nbsp;</span>
                    {{currentLanguageNameField(journalEntry.entryType)}}
                    <span>,&nbsp;</span>
                    {{journalEntry.teacher}}
                </md-tooltip>
              </th>
              <th md-column>
                <span>{{'journal.finalResult' | translate}}</span>
              </th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="row in journal.journalStudents | orderBy: 'fullname'" ng-class-odd="'odd'" ng-class-even="'even'">
              <td md-cell><a ng-href="/#/students/{{::row.studentId}}/main">{{::row.fullname}}</a>, {{row.studentGroup}}</td>
              <td md-cell ng-repeat="journalEntry in journal.journalEntriesByDate | orderBy: 'date'" md-colors="{background: getEntryColor(journalEntry.entryType.code)}">
                <span layout="row" layout-align="center center">
                  <span ng-repeat="result in journalEntry.journalStudentResults[row.id] | orderBy: 'gradeInserted'">
                    {{result.absence.value}}
                    <md-tooltip ng-if="result.absence.value">
                      {{'main.formattedDate' | translate: {date: result.inserted} }}
                    </md-tooltip>
                    <span ng-if="result.absence.value">/</span>
                    {{result.grade.value}}
                    <md-tooltip ng-if="result.grade.value">
                      {{'main.formattedDate' | translate: {date: result.gradeInserted} }}
                      <span ng-if="result.addInfo">,&nbsp;</span>
                      {{result.addInfo}}
                    </md-tooltip>
                  </span>
                </span>
              </td>
              <td md-cell md-colors="{background: getEntryColor('SISSEKANNE_L')}"></td>
              <td md-cell layout="row" layout-align="end">
                <md-button class="remove nomargin" ng-click="removeStudentFromJournal(row.studentId)" >&times;</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </div>

  <div layout-padding>
    <div flex>
      <div layout="row">
        <md-button class="md-raised md-primary" ng-click="addNewEntry()">{{'journal.addNewEntry' | translate}}</md-button>
        <md-button class="md-raised" ng-click="searchStudent()">{{'journal.addStudents' | translate}}</md-button>
        <md-button class="md-raised" >{{'journal.confirmJournal' | translate}}</md-button>
        <md-button class="md-raised" ng-click="back('#/journals/', journalForm)" >{{'main.button.back' | translate}}</md-button>
      </div>
    </div>
  </div>

  <div layout-padding>
  <div flex>
    <div layout="row">
      <div flex="10">
        <h2>{{'journal.entries' | translate}}</h2>
      </div>
      <div layout="row" layout-align="start end" layout-sm="column" layout-xs="column" flex="40">
        <span style="padding: 5px; border: solid 1px lightgray" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_T')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_T'])}}</span>
        <span style="padding: 5px; border: solid 1px lightgray" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_E')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_E'])}}</span>
        <span style="padding: 5px; border: solid 1px lightgray" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_I')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_I'])}}</span>
        <span style="padding: 5px; border: solid 1px lightgray" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_H')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_H'])}}</span>
        <span style="padding: 5px; border: solid 1px lightgray" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_L')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_L'])}}</span>
      </div>
    </div>
    <md-table-container>
      <table md-table md-progress="journalEntries.$promise">
        <thead md-head md-order="journalEntriesCriteria.order" md-on-reorder="loadJournalEntries">
          <tr md-row>
            <th md-column>{{'journal.entry.date' | translate}}</th>
            <th md-column>{{'journal.entry.content' | translate}}</th>
            <th md-column>{{'journal.entry.homework' | translate}}</th>
            <th md-column>{{'journal.entry.homeworkDuedate' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in journalEntries.content" md-auto-select ng-click="editJournalEntry(row.id)" ng-class-odd="'odd'" ng-class-even="'even'" md-colors="{background: getEntryColor(row.entryType)}">
            <td md-cell>{{'main.formattedDate' | translate: {date: row.inserted} }}</td>
            <td md-cell>{{row.content}}</td>
            <td md-cell>{{row.homework ? row.homework : '-'}}</td>
            <td md-cell>{{row.homeworkDuedate ? ('main.formattedDate' | translate: {date: row.homeworkDuedate}) : '-' }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="journalEntriesCriteria.size" md-limit-options="[10, 20, 50]"
                         md-page="journalEntriesCriteria.page" md-total="{{journalEntries.totalElements}}" md-on-paginate="loadJournalEntries"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
</div>


<div layout-padding>
  <hois-collapsable label="('journal.curriculumVersionModuleOrThemeDescription' | translate)" expanded="false">
    <div ng-repeat="module in journal.moduleDescriptions">
      <a href="" class="md-raised" ng-click="moduleDescriptionDialog(module)">{{currentLanguageNameField(module)}}</a>
    </div>
  </hois-collapsable>
</div>
