<div ng-include="'journal/journal.edit.buttons.tmpl.html'"></div>
<div layout-padding>
  <div flex>
    <div layout="row" flex>
      <div flex="50" layout="column" layout-align="start">
        <div class="common-label" flex>{{'journal.absencesLegend' | translate}}</div>
        <div class="common-label" flex>{{'journal.entryTabelLegend' | translate}}</div>
      </div>
      <div flex="50" layout="row" layout-align="end">
        <md-input-container>
          <md-checkbox ng-model="showAllStudentsModel" aria-label="show all students" ng-change="showAllStudents(showAllStudentsModel)">
            {{'journal.showAll' | translate}}
          </md-checkbox>
        </md-input-container>
      </div>
    </div>
    <br>
    
    <div class="container" fixed-column-table fixed-columns="1" ng-style="{'overflow-y': journal.journalStudents.length < 11 ? 'hidden':'scroll'}">
      <table class="journalTable">
        <thead>
          <tr flex>
            <th>{{'main.nr' | translate}}</th>
            <th style="padding-right:11em;"><span>{{'student.label' | translate}}, {{'journal.studentGroup' | translate}}</span></th>
            <th class="bordered" style="padding-left:1em;"
              md-colors="{background: getEntryColor(journalEntry.entryType.code)}"
              ng-repeat="journalEntry in journal.journalEntriesByDate">
              <span ng-if="journalEntry.moodleGradeItemId"><md-icon md-font-set="material-icons">school</md-icon></span>
              <span ng-if="journalEntry.entryType.code === 'SISSEKANNE_L'">{{'journal.finalResult' | translate}}</span>
              <span ng-if="journalEntry.entryType.code === 'SISSEKANNE_O'">{{'journal.outcome' | translate}}{{journalEntry.outcomeOrderNr + 1}}</span>
              <span ng-if="journalEntry.entryType.code !== 'SISSEKANNE_L' && journalEntry.entryType.code !== 'SISSEKANNE_O'">{{journalEntry.entryDate  ? (journalEntry.entryDate | hoisDayMonth) : '-'}}</span>
              <md-tooltip>
                <span ng-if="journalEntry.startLessonNr">
                  <span ng-if="!journalEntry.lessons || journalEntry.lessons <= 1">{{journalEntry.startLessonNr}}. {{'journal.lesson' | translate}}</span> 
                  <span ng-if="journalEntry.lessons && journalEntry.lessons > 1">{{journalEntry.startLessonNr}}. - {{journalEntry.startLessonNr + journalEntry.lessons-1}}. {{'journal.lesson' | translate}}</span>
                  ,&nbsp;
                </span>
                <span>{{journalEntry.nameEt}}</span>
                <span>,&nbsp;</span> {{currentLanguageNameField(journalEntry.entryType)}}
                <span>,&nbsp;</span> {{journalEntry.teacher}}
              </md-tooltip>
            </th>
            <th ng-show="auth.isAdmin()"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in journal.journalStudents" ng-class-odd="'odd'" ng-class-even="'even'" ng-init="$last && finished()">
            <td width="5%">{{$index + 1}}</td>
            <td width="10%">
              <span>
                <i>
                  <span ng-if="row.status === 'OPPURSTAATUS_A'">{{'journal.academicLeaveAbbrev' | translate}}</span>
                  <span ng-if="row.status === 'OPPURSTAATUS_L'">{{'journal.finishedAbbrev' | translate}}</span>
                  <span ng-if="row.status === 'OPPURSTAATUS_K'">{{'journal.exmatriculatedAbbrev' | translate}}</span>
                  <span ng-if="row.isIndividualCurriculum">
                    <span ng-if="row.status !== 'OPPURSTAATUS_O' && row.status !== 'OPPURSTAATUS_V'">, </span>
                    <span>{{'journal.individualCurriculumAbbrev' | translate}}</span>
                  </span>
                </i>
                <a ng-href="/#/students/{{::row.studentId}}/main">{{::row.fullname}}</a>, {{row.studentGroup}}
                <span ng-if="row.isMoodleRegistered"><md-icon md-font-set="material-icons">school</md-icon></span>       
              </span>
            </td>
            <td class="bordered" ng-repeat="journalEntry in journal.journalEntriesByDate">
              <div layout="row" style="padding-left:1em;">
                <div ng-repeat="result in journalEntry.journalStudentResults[row.id] | orderBy: 'gradeInserted'">
                  <span>
                    {{result.absence.value}}
                    <md-tooltip ng-if="result.absence.value">
                      {{journalEntry.entryDate  ? (journalEntry.entryDate | hoisDate) : '-'}}
                      <span ng-if="result.addInfo">,&nbsp;
                        {{result.addInfo}}
                      </span>
                      <span ng-if="journalEntry.lessons && result.absence.value === 'P'">
                        ,&nbsp;
                        {{journalEntry.lessons ? (('journal.entry.lessons' | translate) + ' ' + journalEntry.lessons) : ''}}
                      </span>
                    </md-tooltip>
                  </span>
                  <span ng-if="result.absence.value && (result.journalEntryStudentHistories.length > 0 || result.grade)">/</span>

                  <span ng-repeat="historyResult in result.journalEntryStudentHistories | orderBy: 'gradeInserted' track by $index">
                    <span ng-class="{badResult: !gradeUtil.isPositive(historyResult.grade.code)}">{{historyResult.grade.value}}</span>
                    <span>* / </span>
                    <md-tooltip>
                      {{historyResult.gradeInserted | hoisDate}}, &nbsp; {{historyResult.gradeInsertedBy}} 
                    </md-tooltip>
                  </span>

                  <span>
                    <span ng-class="{journalFinalResult: journalEntry.entryType.code === 'SISSEKANNE_L',
                                    badResult: !gradeUtil.isPositive(result.grade.code)}">{{result.grade.value}}</span>
                    <span ng-if="!result.grade && result.journalEntryStudentHistories.length > 0"> - </span>
                    <md-tooltip ng-if="result.grade.value">
                      {{result.gradeInserted | hoisDate}}, &nbsp; {{result.gradeInsertedBy}} 
                      <span ng-if="result.addInfo">,&nbsp;</span> {{result.addInfo}}
                    </md-tooltip>
                  </span>
                </div>
              </div>
            </td>
            <td ng-show="auth.isAdmin()">
              <a class="remove nomargin" ng-click="removeStudentFromJournal(row.studentId)">&times;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div ng-include="'journal/journal.edit.buttons.tmpl.html'"></div>

<div layout-padding>
  <div flex>
    <div layout="row">
      <div flex="10">
        <h2>{{'journal.entries' | translate}}</h2>
      </div>
      <div layout="row" layout-align="start end" layout-sm="column" layout-xs="column" flex="60">
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_T')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_T'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_E')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_E'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_I')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_I'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_H')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_H'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_P')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_P'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_R')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_R'])}}</span>
        <span ng-if="journal.moduleOutcomesAsEntries" class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_O')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_O'])}}</span>
        <span class="capacity-type-legend" flex-offset="5" md-colors="{background: getEntryColor('SISSEKANNE_L')}">{{currentLanguageNameField(journalEntryTypes['SISSEKANNE_L'])}}</span>
      </div>
    </div>
    <md-table-container>
      <table md-table md-progress="journalEntries.$promise">
        <thead md-head md-order="journalEntriesCriteria.order" md-on-reorder="loadJournalEntries">
          <tr md-row>
            <th md-column width="10"></th>
            <th md-column width="10"></th>
            <th md-column>{{'journal.entry.date' | translate}}</th>
            <th md-column>{{'journal.entry.lessons' | translate}}</th>
            <th md-column>{{'journal.entry.nameContent' | translate}}</th>
            <th md-column>{{'journal.entry.homework' | translate}}</th>
            <th md-column>{{'journal.entry.homeworkDuedate' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in journalEntries.content" md-auto-select ng-click="editJournalEntry(row.id)" ng-class-odd="'odd'"
            ng-class-even="'even'" md-colors="{background: getEntryColor(row.entryType)}" class="journal-entry">
            <td md-cell><span ng-if="row.moodleGradeItemId"><md-icon md-font-set="material-icons">school</md-icon></span></td>
            <td md-cell>
                <a href="#" onclick="return false;">{{'journal.entry.open' | translate}}</a>
            </td>
            <td md-cell>{{row.entryDate ? (row.entryDate | hoisDate) : '-'}}</td>
            <td md-cell>{{row.lessons ? row.lessons : '-'}}</td>
            <td md-cell>
              <span ng-if="row.nameEt">{{row.nameEt}}</span>
              <span ng-if="row.nameEt && row.content">/</span>
              <span ng-if="row.content">{{row.content}}</span>
            </td>
            <td md-cell>{{row.homework ? row.homework : '-'}}</td>
            <td md-cell>{{row.homeworkDuedate ? (row.homeworkDuedate | hoisDate) : '-' }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="journalEntriesCriteria.size" md-limit-options="[10, 20, 50]" md-page="journalEntriesCriteria.page"
      md-total="{{journalEntries.totalElements}}" md-on-paginate="loadJournalEntries" md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}"
      md-page-select></md-table-pagination>
  </div>
</div>

<div layout-padding>
  <div flex>
    <div ng-include="'studyMaterial/templates/journal.material.edit.tmpl.html'"></div>
  </div>
</div>

<div layout-padding>
  <hois-collapsable label="('journal.curriculumVersionModuleOrThemeDescription' | translate)" expanded="false">
    <div ng-repeat="module in journal.moduleDescriptions | orderBy: ['-isModule', currentLanguageNameField()]">
      <a href="" class="md-raised small-link" ng-click="moduleDescriptionDialog(module)">{{currentLanguageNameField(module)}}</a>
    </div>
  </hois-collapsable>
</div>