<md-dialog aria-label="grade add dialog" flex="30" flex-xs="100">
  <form name="studentAbsenceForm" novalidate ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">

        <div layout="row" class="form-readonly">
          <md-input-container flex>
            <label>{{'student.name' | translate}}</label>
            <hois-value value="record.studentName"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'student.studentGroup' | translate}}</label>
            <hois-value value="record.studentGroup"></hois-value>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex>
            <label>{{'student.absence.validFrom' | translate}}</label>
            <md-datepicker ng-model="record.validFrom" name="validFrom" required></md-datepicker>
          </md-input-container>
          <md-input-container flex>
            <label>{{'student.absence.validThru' | translate}}</label>
            <md-datepicker ng-model="record.validThru" name="validThru" md-min-date="record.validFrom"></md-datepicker>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>{{'student.absence.cause' | translate}}</label>
          <textarea ng-model="record.cause" name="cause" required md-maxlength="1000"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="start center">
      <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
      <md-button ng-click="delete()" ng-if="record.id" class="md-raised">{{'main.button.delete' | translate}}</md-button>
      <md-button ng-click="cancel()" class="md-raised">{{'main.button.close' | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
