<div layout="column" layout-padding>
  <div>
    <div layout="row" class="form-readonly">
      <md-input-container flex>
        <label>{{'student.label' | translate}}</label>
        <hois-value value="student.person.fullname"></hois-value>
      </md-input-container>
    </div>

    <form name="studentEditForm" novalidate>
      <hois-collapsable label="('student.contact' | translate)">

        <md-input-container class="md-block">
          <label>{{'student.email' | translate}}</label>
          <input ng-model="student.person.email" name="email" type="text" required md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'student.phone' | translate}}</label>
          <input ng-model="student.person.phone" name="phone" type="text" required md-maxlength="100">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.residenceCountry' | translate}}</label>
          <hois-classifier-select ng-model="student.person.residenceCountry" name="residenceCountry" main-classifier-code="RIIK" required model-value-attr="code"></hois-classifier-select>
        </md-input-container>

        <div class="md-block" ng-if="student.person.residenceCountry === 'RIIK_EST'">
          <hois-ads-adapter class="md-text" ng-model="student.person.addressAds" ads-oid-model="student.person.addressAdsOid"
            address-model="student.person.address" required></hois-ads-adapter>
        </div>

        <md-input-container class="md-block" ng-if="student.person.residenceCountry !== 'RIIK_EST'">
          <label class="textInput">{{'student.address' | translate}}</label>
          <input ng-model="student.person.address" name="address" type="text" required md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'student.postcode' | translate}}</label>
          <input ng-model="student.person.postcode" name="postcode" type="text" required md-maxlength="10">
        </md-input-container>

      </hois-collapsable>

      <hois-collapsable label="('student.study' | translate)" ng-if="student.userIsSchoolAdmin">

        <md-input-container class="md-block">
          <label>{{'student.studentCard' | translate}}</label>
          <input ng-model="student.studentCard" name="studentCard" type="text" md-maxlength="100">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.schoolEmail' | translate}}</label>
          <input ng-model="student.schoolEmail" name="schoolEmail" type="text" md-maxlength="255">
        </md-input-container>

        <md-input-container class="md-block">
          <label>{{'student.previousStudyLevel' | translate}}</label>
          <hois-classifier-select ng-model="student.previousStudyLevel" name="previousStudyLevel" main-classifier-code="OPPEASTE" required model-value-attr="code"></hois-classifier-select>
        </md-input-container>

      </hois-collapsable>

      <hois-collapsable label="('student.specialNeeds' | translate)" ng-if="student.userIsSchoolAdmin">

        <md-checkbox ng-model="student.isSpecialNeed" name="isSpecialNeed">
          {{'student.isSpecialNeed' | translate}}
        </md-checkbox>

        <md-input-container class="md-block">
          <label>{{'student.specialNeed' | translate}}</label>
          <hois-classifier-select ng-model="student.specialNeed" name="specialNeed" main-classifier-code="ERIVAJADUS" model-value-attr="code"></hois-classifier-select>
        </md-input-container>

        <md-checkbox ng-model="student.isRepresentativeMandatory" name="isRepresentativeMandatory">
          {{'student.isRepresentativeMandatory' | translate}}
        </md-checkbox>

      </hois-collapsable>

    </form>

    <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
    <md-button ng-href="#/students/{{student.id}}/main?_noback" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
