<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="{{'subjectStudyPeriod.label.options' | translate}}">
    <md-nav-item md-nav-href="#/students/journals" name="journals">{{'student.journal.journals' | translate}}</md-nav-item>
    <md-nav-item md-nav-href="#/students/study" name="study">{{'student.journal.study.label' | translate}}</md-nav-item>
    <md-nav-item md-nav-href="#/students/tasks" name="tasks">{{'student.journal.tasks.label' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding>
    <div flex>
        <hois-collapsable ng-repeat="year in journalsByYears track by $index" expanded="year.collapsableOpen">
            <hois-collapsable-header>
                <h2 class="md-title">
                    <hois-classifier-value ng-model="year.yearCode" main-classifier-code="OPPEAASTA"></hois-classifier-value>
                    <span>{{'student.journal.studyYear' | translate}}</span>
                </h2>
            </hois-collapsable-header>
            <md-table-container>
                <table md-table>
                    <tbody md-body>
                        <tr md-row ng-repeat="journal in year.journals" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td md-cell width="20%"><a ng-click="showJournal(journal)">{{journal.nameEt}}</a></td>
                            <td md-cell>
                                <span ng-repeat="result in journal.journalEntries | filter : {gradeValue: ''}"
                                ng-class="{good: result.entryType === 'SISSEKANNE_L' && resultIsPostive(result.gradeValue), 
                                bad: result.entryType === 'SISSEKANNE_L' && !resultIsPostive(result.gradeValue),
                                bold: isTestButNotFinal(result.entryType)}">
                                {{result.gradeValue}} &nbsp
                                <md-tooltip ng-if="result.gradeValue">
                                    {{result.gradeInserted | hoisDate}}
                                    <span ng-if="result.entryType">,&nbsp;</span> {{currentLanguageNameField(result.entryTypeClassifier)}}
                                    <span ng-if="result.addInfo">,&nbsp;</span> {{result.addInfo}}
                                </md-tooltip>
                            </span>
                            </td>
                            <td md-cell width="20%">
                                <span>{{'student.journal.absences' | translate}}: {{journal.absencePV}}, </span>
                                <span>{{'student.journal.includingAbsencesWithoutReason' | translate}}: 
                                    <span ng-class="{bad: journal.absenceP > 0}">{{journal.absenceP}}</span>
                                </span>
                            </td>
                            <td md-cell>{{'student.journal.lateForClass' | translate}}: {{journal.absenceH}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </hois-collapsable>
    </div>
</div>

<style>
.good {
    color: rgb(13,71,161);
    font-weight: 500;
    font-size: 18px;
}
    
.bad {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.bold {
    font-weight: 500;
}

</style>