<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="{{'subjectStudyPeriod.label.options' | translate}}">
    <md-nav-item md-nav-href="#/students/journals" name="journals">{{'student.journal.journals' | translate}}</md-nav-item>
    <md-nav-item md-nav-href="#/students/study" name="study">{{'student.journal.study.label' | translate}}</md-nav-item>
    <md-nav-item md-nav-href="#/students/tasks" name="tasks">{{'student.journal.tasks.label' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding>
    <div flex>
        <hois-collapsable ng-repeat="year in journalsByYears track by $index" expanded="year.collapsableOpen">
            <hois-collapsable-header>
                <h2 class="md-title">
                    <hois-classifier-value ng-model="year.yearCode" main-classifier-code="OPPEAASTA"></hois-classifier-value>
                    <span>{{'student.journal.studyYear' | translate}}</span>
                </h2>
            </hois-collapsable-header>
            <md-table-container>
                <table md-table>
                    <tbody md-body>
                        <tr md-row ng-repeat="journal in year.journals" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td md-cell width="20%"><a ng-click="showJournal(journal.id)">{{journal.nameEt}}</a></td>
                            <td md-cell width="20%">
                                <span>{{'student.journal.absences' | translate}}: {{journal.absenceH}}, </span>
                                <span>{{'student.journal.includingAbsencesWithoutReason' | translate}}: {{journal.absenceP}}</span>
                            </td>
                            <td md-cell>{{'student.journal.lateForClass' | translate}}: {{journal.absenceV}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </hois-collapsable>
    </div>
</div>