<md-nav-bar md-selected-nav-item="currentNavItem">
  <md-nav-item md-nav-href="#/students/{{::studentId}}/main?_noback" name="student.main">{{'student.main' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{::studentId}}/absences?_noback" name="student.absences">{{'student.absences' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{::studentId}}/documents?_noback" name="student.documents">{{'student.documents' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="validFrom">{{'student.absence.validFrom' | translate}}</th>
            <th md-column md-order-by="validThru">{{'student.absence.validThru' | translate}}</th>
            <th md-column md-order-by="cause">{{'student.absence.cause' | translate}}</th>
            <th md-column md-order-by="isAccepted">{{'student.absence.isAccepted' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell>{{'main.formattedDate' | translate: {date: row.validFrom} }}</td>
            <td md-cell>{{'main.formattedDate' | translate: {date: row.validThru} }}</td>
            <td md-cell>{{::row.cause}}</td>
            <td md-cell>{{row.isAccepted ? 'main.yes' : 'main.no' | translate}}</td>
            <td md-cell>
              <md-button md-no-ink ng-click="editAbsence(row)" class="md-primary change-button">{{'main.button.change' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{directives.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>


    <md-button ng-click="editAbsence()" class="md-primary md-raised">{{'main.button.create' | translate}}</md-button>
    <md-button ng-click="back('#/students')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
