<div ng-cloak>
  <div ng-if="student && student.isVocational===true" ng-include="'student/templates/view.navbar.vocational.tmpl.html'"></div>
  <div ng-if="!student || student.isVocational===false" ng-include="'student/templates/view.navbar.higher.tmpl.html'"></div>
</div>

<div layout-padding ng-cloak class="form-readonly">
  <div flex>
    <div layout="row" layout-xs="column" flex>
      <div flex="70">
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.firstname' | translate}}</label>
            <hois-value value="student.person.firstname"></hois-value>
          </md-input-container>
          <md-input-container flex="60" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.lastname' | translate}}</label>
            <hois-value value="student.person.lastname"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.idcode' | translate}}</label>
            <hois-value value="student.person.idcode"></hois-value>
          </md-input-container>
          <md-input-container flex="60" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.sex' | translate}}</label>
            <hois-classifier-value ng-model="student.person.sex" main-classifier-code="SUGU"></hois-classifier-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.citizenship' | translate}}</label>
            <hois-classifier-value ng-model="student.person.citizenship" main-classifier-code="RIIK"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.language' | translate}}</label>
            <hois-classifier-value ng-model="student.person.language" main-classifier-code="OPPEKEEL"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.bankaccount' | translate}}</label>
            <hois-value value="student.person.bankaccount"></hois-value>
          </md-input-container>
        </div>
      </div>
      <div>
        <img ng-if="student.photo" ng-src="{{student.imageUrl}}">
      </div>
    </div>

    <div layout="column">
      <hois-collapsable label="('student.study' | translate) + ' (' + currentLanguageNameField(student.school) + ')'">

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="20" flex-sm="100" flex-xs="100">
            <label>{{'student.status' | translate}}</label>
            <hois-classifier-value ng-model="student.status" main-classifier-code="OPPURSTAATUS"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.curriculum' | translate}}</label>
            <hois-value value="currentLanguageNameField(student.curriculumVersion)"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.studyLanguage' | translate}}</label>
            <hois-classifier-value ng-model="student.studyLanguage" main-classifier-code="OPPEKEEL"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.curriculumSpeciality' | translate}}</label>
            <hois-value value="currentLanguageNameField(student.curriculumSpeciality)"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="20" flex-sm="100" flex-xs="100">
            <label>{{'student.studentGroup' | translate}}</label>
            <hois-value value="currentLanguageNameField(student.studentGroup)"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.course' | translate}}</label>
            <hois-value value="student.course"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.studyStart' | translate}}</label>
            <hois-value value="student.studyStart | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.nominalStudyEnd' | translate}}</label>
            <hois-value value="student.nominalStudyEnd | hoisDate"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="20" flex-sm="100" flex-xs="100">
            <label>{{'student.studyForm' | translate}}</label>
            <hois-classifier-value ng-model="student.studyForm" main-classifier-code="OPPEVORM"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.studyLoad' | translate}}</label>
            <hois-classifier-value ng-model="student.studyLoad" main-classifier-code="OPPEKOORMUS"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.fin' | translate}}</label>
            <hois-classifier-value ng-model="student.fin" main-classifier-code="FINALLIKAS"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.finSpecific' | translate}}</label>
            <hois-classifier-value ng-model="student.finSpecific" main-classifier-code="FINTAPSUSTUS"></hois-classifier-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="20" flex-sm="100" flex-xs="100">
            <label>{{'student.studentCard' | translate}}</label>
            <hois-value value="student.studentCard"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.previousStudyLevel' | translate}}</label>
            <hois-classifier-value ng-model="student.previousStudyLevel" main-classifier-code="OPPEASTE"></hois-classifier-value>
          </md-input-container>
          <md-input-container ng-if="student.isVocational" flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.studyCompany' | translate}}</label>
            <hois-value value="student.studyCompany"></hois-value>
          </md-input-container>
          <md-input-container ng-if="student.isVocational" flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.boardingSchool' | translate}}</label>
            <hois-value value="student.boardingSchool"></hois-value>
          </md-input-container>
        </div>

      </hois-collapsable>
    </div>

    <div>
      <hois-collapsable label="('student.contact' | translate)">

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.schoolEmail' | translate}}</label>
            <hois-value value="student.schoolEmail"></hois-value>
          </md-input-container>
          <md-input-container flex="55" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.phone' | translate}}</label>
            <hois-value value="student.person.phone"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.residenceCountry' | translate}}</label>
            <hois-classifier-value ng-model="student.person.residenceCountry" main-classifier-code="RIIK"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.address' | translate}}</label>
            <hois-value value="student.person.address"></hois-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.postcode' | translate}}</label>
            <hois-value value="student.person.postcode"></hois-value>
          </md-input-container>
        </div>

      </hois-collapsable>
    </div>

    <div>
      <hois-collapsable label="('student.representatives' | translate)">

        <md-button ng-if="student.userCanAddRepresentative" ng-click="editRepresentative()" class="md-raised">{{'student.representative.add' | translate}}</md-button>

        <md-table-container>
          <table md-table md-progress="representatives.$promise" class="secondary-table">
            <thead md-head md-order="representativesCriteria.order" md-on-reorder="loadRepresentatives">
              <tr md-row>
                <th md-column md-order-by="person.lastname">{{'student.representative.name' | translate}}</th>
                <th md-column md-order-by="person.idcode">{{'student.representative.idcode' | translate}}</th>
                <th md-column md-order-by="relation.nameEt">{{'student.representative.relation' | translate}}</th>
                <th md-column md-order-by="relation.phone">{{'student.representative.phone' | translate}}</th>
                <th md-column md-order-by="relation.email">{{'student.representative.email' | translate}}</th>
                <th md-column>{{'student.representative.studentVisible' | translate}}</th>
                <th md-column></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="row in representatives.content" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>{{::row.person.fullname}}</td>
                <td md-cell>{{::row.person.idcode}}</td>
                <td md-cell>{{currentLanguageNameField(row.relation)}}</td>
                <td md-cell>{{::row.person.phone}}</td>
                <td md-cell>{{::row.person.email}}</td>
                <td md-cell>{{row.isStudentVisible ? 'main.yes' : 'main.no' | translate}}</td>
                <td md-cell>
                  <md-button md-no-ink ng-if="row.userCanEdit" ng-click="editRepresentative(row.id)" class="md-primary change-button">{{'main.button.change' | translate}}</md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
        <md-table-pagination ng-if="representatives.totalElements > representativesCriteria.size" md-limit="representativesCriteria.size" md-limit-options="[10, 20, 50]"
                             md-page="representativesCriteria.page" md-total="{{representatives.totalElements}}" md-on-paginate="loadRepresentatives"
                             md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>

      </hois-collapsable>
    </div>

    <div class="top-margin">
      <hois-collapsable label="('student.specialNeeds' | translate)">

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="35" flex-sm="100" flex-xs="100">
            <label>{{'student.isSpecialNeed' | translate}}</label>
            <hois-value value="student.isSpecialNeed ? 'main.yes' : 'main.no' | translate"></hois-value>
          </md-input-container>
          <md-input-container flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.specialNeed' | translate}}</label>
            <hois-classifier-value ng-model="student.specialNeed" main-classifier-code="ERIVAJADUS"></hois-classifier-value>
          </md-input-container>
          <md-input-container flex="20" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
            <label>{{'student.isRepresentativeMandatory' | translate}}</label>
            <hois-value value="student.isRepresentativeMandatory ? 'main.yes' : 'main.no' | translate"></hois-value>
          </md-input-container>
        </div>

      </hois-collapsable>
    </div>

    <div>
      <hois-collapsable label="('student.foreignStudy' | translate)">
      </hois-collapsable>
    </div>

    <md-button ng-href="#/students/{{student.id}}/edit?_noback" ng-if="student.userCanEditStudent" class="md-primary md-raised">{{'main.button.change' | translate}}</md-button>
    <md-button ng-click="back('#/students')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
