<div ng-cloak>
  <div ng-include="'student/templates/view.navbar.vocational.tmpl.html'"></div>
</div>

<div layout-padding ng-cloak>
  <div flex>
    <md-table-container>
      <table md-table md-progress="tabledata.$promise" class="secondary-table">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="validFrom">{{'student.absence.validFrom' | translate}}</th>
            <th md-column md-order-by="validThru">{{'student.absence.validThru' | translate}}</th>
            <th md-column md-order-by="cause">{{'student.absence.cause' | translate}}</th>
            <th md-column md-order-by="isAccepted, isRejected">{{'student.absence.status' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell>{{::row.validFrom | hoisDate}}</td>
            <td md-cell>{{::row.validThru | hoisDate}}</td>
            <td md-cell>{{::row.cause}}</td>
            <td md-cell>
              <span ng-if="row.isAccepted">{{'student.absence.isAccepted' | translate}}</span>
              <span ng-if="row.isRejected">{{'student.absence.isRejected' | translate}}</span>
              <span ng-if="!row.isAccepted && !row.isRejected">{{'student.absence.isNotAccepted' | translate}}</span>
            </td>
            <td md-cell>
              <md-button md-no-ink ng-click="editAbsence(row)" class="md-primary change-button" ng-if="row.userCanEdit">{{'main.button.change' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{directives.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>


    <md-button ng-click="editAbsence({})" class="md-primary md-raised" ng-if="tabledata.canAddAbsence">{{'main.button.create' | translate}}</md-button>
    <md-button ng-if="!auth.isStudent()" ng-click="back('#/students')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
