<div layout="column" layout-padding>
    <form name="subjectStudyPeriodTeacherEditForm">
        <div layout="column">
            <div layout="row" layout-sm="column" layout-xs="column" class="form-readonly">
                <md-input-container flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-value value="currentLanguageNameField(studyPeriod)"></hois-value>
                </md-input-container>
                 <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.teacher' | translate}}</label>
                    <hois-value value="teacher.nameEt"></hois-value>
                </md-input-container>
            </div>
            <div flex="70" layout="row" class="common-label" md-colors="{color: 'background-400'}">
              <span ng-repeat="capacity in capacityTypes">
                <span ng-if="!$first">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
              </span>
            </div>
            <div>&nbsp;</div>
            <md-table-container>
                <table class="subject-study-period">
                    <thead>
                    <tr>
                        <th>
                            <span>{{'subjectStudyPeriod.subjects' | translate}}</span>
                        </th>
                        <th ng-repeat="capacityType in capacityTypes">{{capacityType.value.toUpperCase()}}</th>
                        <th>{{'subjectStudyPeriod.overall' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="subject in record.subjects">
                        <tr>
                            <td class="bold">
                                <span>{{currentLanguageNameField(subject)}}</span>
                            </td>
                            <td ng-repeat="type in capacityTypes">{{capacitiesUtil.getSubjectsCapacityByType(subject.id, type.code)}}</td>
                            <td>{{capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)}}</td>
                        </tr>
                        <tr ng-repeat="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }">
                            <td>
                                <span ng-repeat="studentGroup in ssp.studentGroupObjects">
                                    <span ng-if="$index > 0">, </span>
                                    {{studentGroup.nameEt}}
                                </span>
                                <span ng-if="ssp.groupProportion !== 'PAEVIK_GRUPI_JAOTUS_1'">
                                    <span class="subject-study-period-proportion">{{'subjectStudyPeriod.proportion' | translate | lowercase}}:
                                        <hois-classifier-value ng-model="ssp.groupProportion" main-classifier-code="PAEVIK_GRUPI_JAOTUS"></hois-classifier-value>
                                    </span>
                                </span>
                            </td>
                            <td ng-repeat="type in capacityTypes">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code } : true">
                                    <span>{{capacity.hours}}</span>
                                </span>
                            </td>
                            <td>{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                        </tr>
                        <tr>
                            <td>{{'subjectStudyPeriod.overall' | translate}}</td>
                            <td ng-repeat="type in capacityTypes">{{capacitiesUtil.capacitiesSumBySubjectAndType(subject.id, type.code)}}</td>
                            <td>{{capacitiesUtil.capacitiesSumBySubject(subject.id)}}</td>
                        </tr>
                    </tbody>
                    <tr class="bold" md-colors="{background: 'background-200'}">
                        <td>{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                        <td ng-repeat="type in capacityTypes">{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                        <td>{{capacitiesUtil.capacitiesSumOverall()}}</td>
                    </tr>
                </table>
            </md-table-container>
            <div>&nbsp;</div>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-href="#/subjectStudyPeriods/teachers/{{teacher.id}}/{{studyPeriod.id}}/edit?_noback">{{'main.button.change' | translate}}</md-button>
            <a ng-if="auth.isAdmin() || auth.isTeacher()" ng-href="{{excel(formState.xlsUrl, container)}}" target="_blank" class="md-button md-raised">{{'main.button.printXls' | translate}}</a>
            <md-button class="md-raised" ng-click="back('#/subjectStudyPeriods/teachers')">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>
