<div class="ois-form-layout-padding" ng-cloak>
  <div flex>
    <form name="practiceJournalEntryForm" ng-submit="save()" novalidate layout="column">
      <div class="form-readonly" layout="column">
        <br>
        <div ng-if="!auth.isStudent()" layout="row" flex>
          <md-input-container class="label-only" flex>
            <label>{{'student.label' | translate}}</label>
            <hois-value value="practiceJournal.student.nameEt" href-value="'#/students/' + practiceJournal.student.id + '/main'"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'student.curriculum' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.studentCurriculumVersion)"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'student.studyForm' | translate}}</label>
            <hois-classifier-value ng-model="practiceJournal.studentStudyForm" main-classifier-code="OPPEVORM"></hois-classifier-value>
          </md-input-container>
          <br>
        </div>

        <div ng-if="!practiceJournal.subject" layout="row" flex>
          <md-input-container flex>
            <label>{{'practiceJournal.module' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.module)"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.theme' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.theme)"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{practiceJournal.isHigher ? 'practiceJournal.creditsEAP' : 'practiceJournal.creditsEKAP' | translate}}</label>
            <hois-value value="practiceJournal.credits"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.hours' | translate}}</label>
            <hois-value value="practiceJournal.hours"></hois-value>
          </md-input-container>
        </div>

        <div ng-if="practiceJournal.subject" layout="row" flex>
          <md-input-container flex>
            <label>{{'practiceJournal.subject' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.subject)"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{practiceJournal.isHigher ? 'practiceJournal.creditsEAP' : 'practiceJournal.creditsEKAP' | translate}}</label>
            <hois-value value="practiceJournal.credits"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.hours' | translate}}</label>
            <hois-value value="practiceJournal.hours"></hois-value>
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container flex>
            <label>{{'enterprise.label' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.contract.enterprise)"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'enterprise.supervisor' | translate}}</label>
            <hois-value value="practiceJournal.contract.supervisorName"></hois-value>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container flex>
            <label>{{'practiceJournal.startDate' | translate}}</label>
            <hois-value value="practiceJournal.startDate | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.endDate' | translate}}</label>
            <hois-value value="practiceJournal.endDate | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.practicePlace' | translate}}</label>
            <hois-value value="practiceJournal.practicePlace"></hois-value>
          </md-input-container>
          <md-input-container flex>
            <label>{{'practiceJournal.schoolSupervisor' | translate}}</label>
            <hois-value value="currentLanguageNameField(practiceJournal.teacher)"></hois-value>
          </md-input-container>
        </div>
      </div>

      <div flex>
        <div layout="row" flex>
          <md-button class="md-primary" ng-click="addNewEntryRow()" ng-if="auth.isStudent()">{{'main.button.addNewRow' | translate}}</md-button>
        </div>
        <md-table-container>
          <table md-table md-progress="entries.$promise">
            <thead md-head md-on-reorder="loadEntries">
              <tr md-row flex>
                <th md-column>{{'practiceJournal.practiceJournalEntry.practiceDate' | translate}}</th>
                <th md-column>{{'practiceJournal.practiceJournalEntry.description' | translate}}</th>
                <th md-column>{{'practiceJournal.practiceJournalEntry.hours' | translate}}</th>
                <th md-column>{{'practiceJournal.practiceJournalEntry.supervisorComment' | translate}}</th>
                <th md-column>{{'practiceJournal.practiceJournalEntry.teacherComment' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="row in practiceJournal.practiceJournalEntries | orderBy: 'practiceDate'" ng-class-odd="'odd'" ng-class-even="'even'"
                md-colors="{background: getEntryColor(row)}">
                <td md-cell>
                  <md-input-container ng-show="row.isStudentEntry && auth.isStudent()">
                    <md-datepicker ng-model="row.practiceDate" md-min-date="practiceJournal.startDate" md-max-date="practiceJournal.endDate"
                      required aria-label="{{'practiceJournal.practiceJournalEntry.practiceDate' | translate}}"></md-datepicker>
                  </md-input-container>
                  <div ng-if="!(row.isStudentEntry && auth.isStudent())">
                    <hois-value value="row.practiceDate | hoisDate"></hois-value>
                  </div>
                </td>
                <td md-cell>
                  <md-input-container ng-if="row.isStudentEntry && auth.isStudent()">
                    <input ng-model="row.description" type="text" aria-label="{{'practiceJournal.practiceJournalEntry.description' | translate}}" md-maxlength="10000">
                  </md-input-container>
                  <div ng-if="!(row.isStudentEntry && auth.isStudent())">
                    <hois-value value="row.description"></hois-value>
                  </div>
                </td>
                <td md-cell>
                  <md-input-container ng-if="row.isStudentEntry && auth.isStudent()">
                    <input ng-model="row.hours" type="number" aria-label="{{'practiceJournal.practiceJournalEntry.hours' | translate}}" min="0" max="24" name="hours" step="1" pattern="^\d+$">
                    <div ng-messages="practiceJournalEntryForm.hours.$error" ng-show="practiceJournalEntryForm.hours.$dirty">
                      <div ng-message="min">
                        {{'practiceJournal.practiceJournalEntry.error.hoursNegative' | translate}}
                      </div>
                      <div ng-message="max">
                        {{'practiceJournal.practiceJournalEntry.error.hourTooLarge' | translate}}
                      </div>
                      <div ng-message="pattern">
                        {{'main.messages.error.integer' | translate}}
                      </div>
                    </div>
                  </md-input-container>
                  <div ng-if="!(row.isStudentEntry && auth.isStudent())">
                    <hois-value value="row.hours"></hois-value>
                  </div>
                </td>
                <td md-cell>
                  <hois-value value="row.supervisorComment"></hois-value>
                </td>
                <td md-cell>
                  <md-input-container ng-if="auth.isTeacher()">
                    <input ng-model="row.teacherComment" type="text" aria-label="{{'practiceJournal.practiceJournalEntry.teacherComment' | translate}}" md-maxlength="10000">
                  </md-input-container>
                  <div ng-if="!auth.isTeacher()">
                    <hois-value value="row.teacherComment"></hois-value>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>

      <br>

      <div ng-if="auth.isStudent()" layout="row" flex>
        <md-input-container flex>
          <label>{{'practiceJournal.myPracticeReport' | translate}}</label>
          <textarea ng-model="practiceJournal.practiceReport" md-maxlength="10000" max-rows="5"></textarea>
        </md-input-container>
      </div>

      <div ng-if="!auth.isStudent()" class="form-readonly" layout="row">
        <md-input-container flex>
          <label>{{'practiceJournal.myPracticeReport' | translate}}</label>
          <hois-value value="practiceJournal.practiceReport"></hois-value>
        </md-input-container>
      </div>

      <div ng-if="!auth.isStudent()" layout="row" flex>
        <md-input-container flex>
          <label>{{'practiceJournal.teacherComment' | translate}}</label>
          <textarea ng-model="practiceJournal.teacherComment" md-maxlength="10000" max-rows="5"></textarea>
        </md-input-container>
      </div>

      <br>

      <div class="form-readonly" layout="row">
        <md-input-container flex>
          <label>{{'practiceJournal.supervisorComment' | translate}}</label>
          <hois-value value="practiceJournal.supervisorComment"></hois-value>
        </md-input-container>
      </div>

      <div layout="column" flex>
        <fieldset>
          <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'practiceJournal.supervisorOpinionFile' | translate}}</legend>
          <md-button ng-if="!auth.isStudent()" class="md-raised" href="" ng-click="openAddFileDialog()">{{'main.button.uploadFile' | translate}}</md-button>
          <table md-table class="secondary-table">
            <thead md-head>
              <tr md-row>
                <th md-column><span>{{'file.nameAndFile' | translate}}</span></th>
                <th md-column><span>{{'file.additionDate' | translate}}</span></th>
                <th md-column>{{'file.addedBy' | translate}}</th>
                <th md-column ng-if="!auth.isStudent()"></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="file in practiceJournal.practiceJournalFiles | orderBy: 'id'" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>
                  {{file.oisFile.fname}}
                  <a ng-href="{{getUrl(file.oisFile, 'practicejournal')}}" target="_blank" rel="noopener noreferrer">
                    <md-icon md-font-set="material-icons">file_download</md-icon>
                  </a>
                </td>
                <td md-cell>
                  {{file.inserted | hoisDateTime}}
                </td>
                <td md-cell>
                  {{file.insertedBy}}
                </td>
                <td md-cell ng-if="!auth.isStudent()">
                  <md-button class="remove nomargin" ng-click="deleteFile(file)">&times;</md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>

      <br>

      <div ng-if="auth.isStudent()" class="form-readonly" layout="row">
        <md-input-container flex>
          <label>{{'practiceJournal.teacherOpinion' | translate}}</label>
          <hois-value value="practiceJournal.teacherOpinion"></hois-value>
        </md-input-container>
      </div>

      <div ng-if="!auth.isStudent()" layout="row">
        <md-input-container flex>
          <label>{{'practiceJournal.teacherOpinion' | translate}}</label>
          <input ng-model="practiceJournal.teacherOpinion" type="text" md-maxlength="10000">
        </md-input-container>
      </div>

      <br>

      <div class="form-readonly" layout="row">
        <md-input-container flex>
          <label>{{'practiceJournal.supervisorOpinion' | translate}}</label>
          <hois-value value="practiceJournal.supervisorOpinion"></hois-value>
        </md-input-container>
      </div>

      <div ng-if="!auth.isStudent()" layout="row">
        <md-input-container>
          <label class="textInput">{{'practiceJournal.grade' | translate}}</label>
          <hois-classifier-select ng-if="practiceJournal.subject" ng-model="practiceJournal.grade" main-classifier-code="KORGHINDAMINE" model-value-attr="code"></hois-classifier-select>
          <hois-classifier-select ng-if="!practiceJournal.subject" ng-model="practiceJournal.grade" main-classifier-code="KUTSEHINDAMINE" model-value-attr="code"></hois-classifier-select>
        </md-input-container>
      </div>

      <br>

      <div layout="row">
        <md-button class="md-raised md-primary" type="submit">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="back('#/practiceJournals/', practiceJournalEntryForm)">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>

    <br>

    <div flex>
      <hois-collapsable label="('contract.practicePlan' | translate)" expanded="false">
        <div>
          {{practiceJournal.contract.practicePlan}}
        </div>
      </hois-collapsable>
    </div>
  </div>
</div>
