<div class="ois-form-layout" layout="column" layout-margin ng-cloak ng-show="!showMainForm">
    <form name="higherEducationCurriculumVersionForm" layout="column">
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex ng-if="!showMainForm">
                <label>{{'curriculum.version.code' | translate}}</label>
                <input name="code" ng-model="version.code" type="text" required md-maxlength="100" ng-model-options="{ debounce: 250 }"  
                hois-curriculum-version-code-validator unique-query="curriculumVersionCodeUniqueQuery" unique-function="validateVersionCode" ng-readonly="readOnly">
                <div ng-messages="higherEducationCurriculumVersionForm.code.$error" ng-show="higherEducationCurriculumVersionForm.code.$dirty">
                    <div ng-message="hoisQueryValidation">
                        {{'main.messages.error.mustBeUnique' | translate}}
                    </div>
                    <div ng-message="hoisFunctionValidation">
                        {{'main.messages.error.mustBeUnique' | translate}}
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>{{'curriculum.version.firstAdmissionYear' | translate}}</label>
                <md-select ng-model="version.admissionYear" required ng-disabled="readOnly">
                    <md-option ng-repeat="year in ::admissionYears" ng-value="year" aria-label="{{year}}">{{year}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex>
                <label>{{'curriculum.version.type' | translate}}</label>
                <hois-classifier-select ng-model="version.type" main-classifier-code="OPPEKAVA_VERSIOON_LIIK" required model-value-attr="code" ng-disabled="readOnly"></hois-classifier-select>
            </md-input-container>
            <md-input-container flex>
                <label>{{'curriculum.version.status' | translate}}</label>
                <hois-classifier-select ng-model="version.status" main-classifier-code="OPPEKAVA_VERSIOON_STAATUS" show-only-values="allowerVersionStatuses" required model-value-attr="code" ng-disabled="readOnly"></hois-classifier-select>
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="50" flex-sm="100" flex-xs="100">
                <label>{{'curriculum.specialty.specialties' | translate}}</label>
                <md-select multiple ng-model="version.specialitiesReferenceNumbers" required ng-change="removeSpecsFromModules()" ng-disabled="readOnly">
                    <md-option ng-repeat="speciality in curriculum.specialities | orderBy: currentLanguageNameField()" ng-value="speciality.referenceNumber">
                        {{speciality[currentLanguageNameField()]}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex flex-offset="5" ng-show="!readOnly">
                <md-button class="md-primary" ng-click="openAddSpecialtyDialog()">
                    {{'curriculum.specialty.addNew' | translate}}
                </md-button>
            </div>
        </div>
        <!-- ng-class="{invalid: higherEducationCurriculumVersionForm.$submitted && !anyModuleAdded(version)}"-->
        <h1 class="md-headline">{{'module.modules' | translate}}&nbsp;*</h1>
        <div layout-align="start center">
            <md-button class="md-primary" ng-click="openAddModuleDialog()" ng-if="!readOnly && version.specialitiesReferenceNumbers.length > 0">
                {{'module.add' | translate}}
            </md-button>
        </div>


        <!--Show modules by specialities-->

        <md-list flex>
            <md-list-item ng-repeat="spectiality in curriculum.specialities | filter: filterSpecialities | orderBy: currentLanguageNameField()" layout="column" layout-align="start start">
                <h1 class="md-title">{{'curriculum.specialty.specialty' | translate}} {{$index + 1}}: {{currentLanguageNameField(spectiality)}}</h1>

                <div layout="column" ng-repeat="module in version.modules | filter: {minorSpeciality: false} | filter: filterModulesBySpeciality(spectiality) | orderBy: currentLanguageNameField()">
                    <div layout="row"layout="row">
                        <h1 class="md-title">
                            <!-- ng-class="{invalid: !moduleValid(module)}"-->
                            <a href="" ng-click="openAddModuleDialog(module)">
                                {{'curriculum.module' | translate}} {{module[currentLanguageNameField()]}} {{module.totalCredits}} EAP
                                <!--<span ng-if="module.type !== 'KORGMOODUL_M'">(<hois-classifier-value ng-model="module.type" main-classifier-code="KORGMOODUL"></hois-classifier-value>)</span>-->
                                <span ng-if="module.type === 'KORGMOODUL_M'">({{currentLanguage()=='et' ? module.typeNameEt : module.typeNameEn}})</span>
                            </a>
                        </h1>
                        <md-button class="remove nomargin" ng-click="removeModuleFromSpeciality(module, spectiality)" ng-if="!readOnly">&times;</md-button>
                    </div>

                    <h2>{{'subject.mandatory' | translate}}</h2>
                    <table md-table class="secondary-table">
                        <thead md-head>
                            <tr md-row>
                                <th md-column>{{'subject.name' | translate}}</th>
                                <th md-column>{{'subject.code' | translate}}</th>
                                <th md-column>EAP</th>
                                <th md-column></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="subject in module.subjects | filter: {optional: false} | orderBy: currentLanguageNameField()">
                            <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                            <td md-cell>{{subject.code}}</td>
                            <td md-cell>{{subject.credits}}</td>
                            <td md-cell>
                                <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="md-body-2">{{'main.OF' | translate}} {{module.compulsoryStudyCredits}} EAP</p>

                    <h2>{{'subject.optional' | translate}}</h2>
                    <table md-table class="secondary-table">
                        <thead md-head>
                            <tr md-row>
                                <th md-column>{{'subject.name' | translate}}</th>
                                <th md-column>{{'subject.code' | translate}}</th>
                                <th md-column>EAP</th>
                                <th md-column></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="subject in module.subjects | 
                        filter: {optional: true} | filter: {electiveModule: '!'} | orderBy: currentLanguageNameField()">
                            <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                            <td md-cell>{{subject.code}}</td>
                            <td md-cell>{{subject.credits}}</td>
                            <td md-cell>
                                <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    
                    <h1 class="md-subhead"><strong>{{'module.optionalsWithMinimum' | translate}}{{module.electiveModulesNumber}}</strong></h1>
                    <md-list >
                        <md-list-item ng-repeat="electiveModule in module.electiveModules | orderBy: currentLanguageNameField()" layout="column" layout-align="start start">
                            <!--
                                NB! Table's small width is caused by <md-list-item> element.
                                Removing it will cause errors in displaying subjects
                                (filtering will brake).
                            -->
                            <h2>{{'module.optional' | translate}}: {{electiveModule[currentLanguageNameField()]}}</h2>
                            <table md-table class="secondary-table">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>{{'subject.name' | translate}}</th>
                                        <th md-column>{{'subject.code' | translate}}</th>
                                        <th md-column>EAP</th>
                                        <th md-column></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="subject in module.subjects | filter: {optional: true} |
                                filter: {electiveModule: electiveModule.referenceNumber} | orderBy: currentLanguageNameField()">
                                    <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                                    <td md-cell>{{subject.code}}</td>
                                    <td md-cell>{{subject.credits}}</td>
                                    <td md-cell>
                                        <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-list-item>
                    </md-list>
                    <p class="md-body-2">{{'module.overallAtLeast' | translate}} {{module.optionalStudyCredits}} EAP</p>
                </div>
            </md-list-item>
        </md-list>
       <br><br><br>
        <h1 class="md-headline">{{'curriculum.minorSpecialty.minorSpecialties' | translate}}</h1>
        <div layout-align="start center">
            <md-button class="md-primary" ng-click="openAddMinorSpecialtyDialog()" ng-if="!readOnly">
                {{'curriculum.minorSpecialty.add' | translate}}
            </md-button>
        </div>

        <md-list flex>
            <md-list-item ng-repeat="module in version.modules | filter: {minorSpeciality: true} | orderBy: currentLanguageNameField()" layout="column" layout-align="start start">
                <div layout="row">
                    <h1 class="md-title">
                        <!-- ng-class="{invalid: !moduleValid(module)}"-->
                        <a href="" ng-click="openAddMinorSpecialtyDialog(module)">
                            <!--TODO: module type-->
                            {{'curriculum.minorSpecialty.minorSpecialty' | translate}} {{module[currentLanguageNameField()]}} {{module.totalCredits}} EAP
                        </a>
                    </h1>
                    <md-button class="remove nomargin" ng-click="removeFromArray(version.modules, module)" ng-if="!readOnly">&times;</md-button>
                </div>
                <h2>{{'subject.mandatory' | translate}}</h2>
                <table md-table class="secondary-table">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>{{'subject.name' | translate}}</th>
                            <th md-column>{{'subject.code' | translate}}</th>
                            <th md-column>EAP</th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="subject in module.subjects | filter: {optional: false} | orderBy: currentLanguageNameField()">
                        <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                        <td md-cell>{{subject.code}}</td>
                        <td md-cell>{{subject.credits}}</td>
                        <td md-cell>
                            <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="md-body-2">{{'main.OF' | translate}} {{module.compulsoryStudyCredits}} EAP</p>

                <h2>{{'subject.optional' | translate}}</h2>
                <table md-table class="secondary-table">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>{{'subject.name' | translate}}</th>
                            <th md-column>{{'subject.code' | translate}}</th>
                            <th md-column>EAP</th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="subject in module.subjects | 
                    filter: {optional: true} | filter: {electiveModule: '!'} | orderBy: currentLanguageNameField()">
                        <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                        <td md-cell>{{subject.code}}</td>
                        <td md-cell>{{subject.credits}}</td>
                        <td md-cell>
                            <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h1 class="md-subhead"><strong>{{'module.optionalsWithMinimum' | translate}}{{module.electiveModulesNumber}}</strong></h1>
                <md-list >
                    <md-list-item ng-repeat="electiveModule in module.electiveModules | orderBy: currentLanguageNameField()" layout="column" layout-align="start start">
                        <!--
                            NB! Table's small width is caused by <md-list-item> element.
                            Removing it will cause errors in displaying subjects
                            (filtering will brake).
                        -->
                        <h2>{{'module.optional' | translate}}: {{electiveModule[currentLanguageNameField()]}}</h2>                        
                        <table md-table class="secondary-table">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>{{'subject.name' | translate}}</th>
                                    <th md-column>{{'subject.code' | translate}}</th>
                                    <th md-column>EAP</th>
                                    <th md-column></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="subject in module.subjects | filter: {optional: true} |
                            filter: {electiveModule: electiveModule.referenceNumber} | orderBy: currentLanguageNameField()">
                                <td md-cell>{{subject[currentLanguageNameField()]}}</td>
                                <td md-cell>{{subject.code}}</td>
                                <td md-cell>{{subject.credits}}</td>
                                <td md-cell>
                                    <md-button class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-list-item>
                </md-list>
                <p class="md-body-2">{{'module.overallAtLeast' | translate}} {{module.optionalStudyCredits}} EAP</p>
            </md-list-item>
        </md-list>
    </form>
    <div layout="row">
        <md-button class="md-raised md-primary" ng-click="save()" ng-if="!readOnly">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-href="#/higherEducationCurriculum/{{version.curriculum}}/edit" ng-if="!readOnly">{{'main.button.back' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-href="#/higherEducationCurriculum/{{version.curriculum}}/view" ng-if="readOnly">{{'main.button.back' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="copy()" ng-if="version.id && !readOnly">{{'main.button.copy' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="delete()" ng-if="!readOnly">{{'main.button.delete' | translate}}</md-button>
    </div>
 </div>