<div layout="column" layout-padding>
    <form name="messageTemplateForm">
        <div layout="column">
            <md-input-container ng-if="isValid">
                <label>{{'messageTemplate.type' | translate}}</label>
                <hois-classifier-select ng-if="isValid" ng-model="record.type" model-value-attr="code" main-classifier-code="TEATE_LIIK" required filter-values="allowedTypes" ng-disabled="readOnly"></hois-classifier-select>
            </md-input-container>
            <md-input-container ng-if="!isValid">
                <label>{{'messageTemplate.type' | translate}}</label>
                <hois-classifier-select ng-if="!isValid" ng-model="record.type" model-value-attr="code" main-classifier-code="TEATE_LIIK" required ng-disabled="readOnly"></hois-classifier-select>
            </md-input-container>
            <md-input-container>
                <label>{{'generalmessage.title' | translate}}</label>
                <textarea ng-model="record.headline" required md-maxlength="1000" max-rows="2" ng-readonly="readOnly"></textarea>
            </md-input-container>
            <md-input-container>
                <label>{{'generalmessage.content' | translate}}</label>
                <textarea ng-model="record.content" required md-maxlength="2000" max-rows="2" ng-readonly="readOnly"></textarea>
            </md-input-container>
			<div layout="row">
            <md-input-container>
                <label>{{'messageTemplate.validFrom' | translate}}</label>
                <md-datepicker ng-model="record.validFrom" ng-change="getIsValid()" ng-disabled="readOnly"></md-datepicker>
            </md-input-container>
            <md-input-container flex-offset="5">
                <label>{{'messageTemplate.validThru' | translate}}</label>
                <md-datepicker ng-model="record.validThru" md-min-date="record.validFrom" ng-change="getIsValid()" ng-disabled="readOnly"></md-datepicker>
            </md-input-container>
			</div>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-href="#/messageTemplate/{{::record.id}}/edit" ng-if="readOnly && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_AUTOTEADE')">{{'main.button.change' | translate}}</md-button>
            <md-button class="md-raised md-primary" ng-click="save()" ng-if="!readOnly">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-click="delete()" ng-if="record.id && !readOnly">{{'main.button.delete' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-if="!readOnly" ng-click="back('#/messageTemplate', messageTemplateForm)">{{'main.button.back' | translate}}</md-button>
            <md-button class="md-raised md-default" ng-if="readOnly" ng-click="back('#/messageTemplate')">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
  <hois-collapsable class="hois-collapse2" expanded="false" ng-if="record.userRights.length > 0">
    <hois-collapsable-header>
      <div>
        <span>
          {{'messageTemplate.sendTo' | translate}}:
          <span ng-repeat="userRights in record.userRights | orderBy: currentLanguageNameField">
            {{currentLanguageNameField(userRights)}}{{!$last ? ', ' : ' '}}
          </span>
        </span>
      </div>
    </hois-collapsable-header>
    <md-table-container>
      <table class="secondary-table" md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
        <tr md-row>
          <th md-column>{{'main.order' | translate}}</th>
          <th md-column>{{'person.name' | translate}}</th>
          <th md-column>{{'person.idcode' | translate}}</th>
          <th md-column>{{'messageTemplate.hasUserRights' | translate}}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
          <td md-cell width="10%">{{$index + 1}}.</td>
          <td md-cell>{{::(currentLanguageNameField(row))}}</td>
          <td md-cell>{{::row.idcode}}</td>
          <td md-cell>
            <span ng-repeat="ur in row.userRights | orderBy: currentLanguageNameField">
              {{currentLanguageNameField(ur)}}{{!$last ? ', ' : ' '}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
      <md-table-pagination ng-show="tabledata.totalElements > 10" md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                           md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                           md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
    </md-table-container>
  </hois-collapsable>
</div>
