<div class="ois-form-layout-padding" ng-cloak>
    <form name="subjectStudyPeriodStudentGroupEditForm">
        <div layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container ng-if="!isEditing" flex="25" flex-sm="100" flex-xs="100"  class="readonly top-margin" >
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-value value="currentLanguageNameField(studyPeriod)"></hois-value>
                </md-input-container>
                <md-input-container ng-if="isEditing" flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-select ng-model="record.studyPeriod" values="studyPeriods" required></hois-select>
                </md-input-container>
                <md-input-container ng-if="isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <md-select ng-model="record.studentGroup" required>
                      <md-option ng-value="option.id" ng-repeat="option in studentGroups">
                        {{ option.code }}
                     </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="!isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5"  class="readonly top-margin" >
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <hois-value value="studentGroup.code"></hois-value>
                </md-input-container>

                <md-input-container  class="readonly top-margin"  flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.course' | translate}}</label>
                    <hois-value value="course"></hois-value>
                </md-input-container>

            </div>
            <div layout="row" layout-sm="column" layout-xs="column" class="form-readonly">
                <md-input-container flex="25" flex-sm="100" flex-xs="100" >
                    <label>{{'subjectStudyPeriod.curriculum' | translate}}</label>
                    <hois-value value="curriculum.code + ' - ' + currentLanguageNameField(curriculum)"></hois-value>
                </md-input-container>
                <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.curriculumStudyPeriod.label' | translate}}</label>
                    <hois-value value="'subjectStudyPeriod.curriculumStudyPeriod.value' | translate:curriculumStudyPeriod"></hois-value>
                </md-input-container>
            </div>
            <div flex="70" layout="row" class="common-label" md-colors="{color: 'background-400'}">
              <span ng-repeat="capacity in capacityTypes">
                <span ng-if="!$first">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
              </span>
            </div>
            <div>&nbsp;</div>
            <md-table-container>
                <table class="subject-study-period">
                    <thead>
                      <tr>
                        <th>
                          <span>{{'subjectStudyPeriod.subjects' | translate}}</span>
                          <a ng-href="#/subjectStudyPeriod/new?studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}"
                          ng-if="record.studentGroup">{{'subjectStudyPeriod.addSubjects' | translate}}</a>
                        </th>
                        <th ng-repeat="capacityType in capacityTypes" >{{capacityType.value.toUpperCase()}}</th>
                        <th>{{'subjectStudyPeriod.overall' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="subject in record.subjects">
                        <tr>
                            <td>
                                <span class="bold">{{currentLanguageNameField(subject)}}</span>
                                <a ng-href="#/subjectStudyPeriod/new?subjectId={{subject.id}}&studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}">{{'subjectStudyPeriod.addTeachers' | translate}}</a>
                            </td>
                            <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.getSubjectsCapacityByType(subject.id, type.code)}}</td>
                            <td class="bold">{{capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)}}</td>
                        </tr>
                        <tr ng-repeat="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }">
                            <td>
                                <span ng-repeat="teacher in ssp.teachers" ng-class="{'invalid': !capacitiesUtil.teachersLoadOk(ssp)}">
                                    <span ng-if="$index > 0">, </span>
                                    {{teacher.name}}
                                </span>
                                <span ng-if="ssp.groupProportion !== 'PAEVIK_GRUPI_JAOTUS_1'">
                                    <span class="subject-study-period-proportion">{{'subjectStudyPeriod.proportion' | translate | lowercase}}:
                                        <hois-classifier-value ng-model="ssp.groupProportion" main-classifier-code="PAEVIK_GRUPI_JAOTUS"></hois-classifier-value>
                                    </span>
                                </span>
                                <a ng-href="#/subjectStudyPeriod/{{ssp.id}}/edit?studentGroupId={{record.studentGroup}}">{{'main.button.change' | translate}}</a>
                            </td>
                            <td ng-repeat="type in capacityTypes">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code } : true">
                                  <input type="number" ng-model="capacity.hours" min="0" max="1000" aria-label="{{'subjectStudyPeriod.changeLoad' | translate}}" pattern="^\d+$">
                                </span>
                            </td>
                            <td class="bold">{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                        </tr>
                        <tr>
                            <td>{{'subjectStudyPeriod.overall' | translate}}</td>
                            <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.capacitiesSumBySubjectAndType(subject.id, type.code)}}</td>
                            <td class="bold">{{capacitiesUtil.capacitiesSumBySubject(subject.id)}}</td>
                        </tr>
                    </tbody>
                    <tr class="bold" md-colors="{background: 'background-200'}">
                        <td>{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                        <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                        <td >{{capacitiesUtil.capacitiesSumOverall()}}</td>
                    </tr>
                </table>
            </md-table-container>
            <br>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
            <a ng-if="!isEditing" ng-href="{{excel(formState.xlsUrl, container)}}" target="_blank" class="md-button md-raised">{{'main.button.printXls' | translate}}</a>
            <md-button class="md-raised" ng-click="back('#/subjectStudyPeriods/studentGroups', subjectStudyPeriodStudentGroupEditForm)">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>
