<div class="ois-form-layout-padding" ng-cloak>
    <form name="subjectStudyPeriodStudentGroupEditForm">
        <div layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container ng-if="!isEditing" flex="25" flex-sm="100" flex-xs="100" class="readonly">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-value value="currentLanguageNameField(studyPeriod)"></hois-value>
                </md-input-container>
                <md-input-container ng-if="isEditing" flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-select ng-model="record.studyPeriod" values="studyPeriods" required sorted-query="true"></hois-select>
                </md-input-container>
                <md-input-container ng-if="isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <md-select ng-model="record.studentGroup" required>
                      <md-option ng-value="option.id" ng-repeat="option in studentGroups">
                        {{ option.code }}
                     </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="!isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5"  class="readonly" >
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <hois-value value="studentGroup.code"></hois-value>
                </md-input-container>
                <md-input-container  class="readonly"  flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.course' | translate}}</label>
                    <hois-value value="course"></hois-value>
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column" class="form-readonly">
                <md-input-container flex="25" flex-sm="100" flex-xs="100" >
                    <label>{{'subjectStudyPeriod.curriculum' | translate}}</label>
                    <hois-value value="curriculum.code + ' - ' + currentLanguageNameField(curriculum)"></hois-value>
                </md-input-container>
                <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.curriculumStudyPeriod.label' | translate}}</label>
                    <hois-value value="'subjectStudyPeriod.curriculumStudyPeriod.value' | translate:curriculumStudyPeriod"></hois-value>
                </md-input-container>
            </div>
            <ng-include src="'subjectStudyPeriod/studentGroup/subject.study.period.student.group.edit.action.buttons.html'"></ng-include>
            <div>&nbsp;</div>
            <div layout="row" style="margin-top: -18px; margin-bottom: 8px;" ng-show="record.studyPeriod && studentGroup.id && studentGroup.curriculumVersionAdmissinYear">
              <md-input-container flex="100" flex-gt-sm="25">
                <label>{{'subjectStudyPeriod.plannedSemester' | translate}}</label>
                <md-select ng-model="semester" ng-change="changedSemester()">
                  <md-option md-option-empty></md-option>
                  <md-option ng-value="$index + 1" ng-repeat="val in semesters track by $index">{{'subjectStudyPeriod.semester' | translate: {number: $index + 1} }}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex="70" layout="row" class="common-label" md-colors="{color: 'background-400'}">
              <span ng-repeat="capacity in capacityTypes">
                <span ng-if="!$first">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
              </span>
            </div>
            <div>&nbsp;</div>
            <md-table-container fixed-column-table fixed-columns="1" resize-table search-criteria-height="250">
                <table class="subject-study-period pre-last-col-wide load-plan">
                    <thead>
                      <tr class="header">
                        <th>
                          <span>{{'subjectStudyPeriod.subjectStudyPeriod' | translate}}</span>
                          <a ng-href="#/subjectStudyPeriod/new?studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}"
                          ng-if="record.studentGroup">{{'subjectStudyPeriod.addSubjectStudyPeriod' | translate}}</a>
                        </th>
                        <th ng-repeat="capacityType in capacityTypes" >{{capacityType.value.toUpperCase()}}</th>
                        <th>{{'subjectStudyPeriod.overallTeacher' | translate}}</th>
                        <th>{{'subjectStudyPeriod.eap' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="subject in record.subjects">
                        <tr ng-class="{'bold-top-line': !$first}">
                            <td>
                                <span class="bold">{{currentLanguageNameField(subject)}}</span>
                                <a ng-href="#/subjectStudyPeriod/new?subjectId={{subject.id}}&studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}">{{'subjectStudyPeriod.addTeachers' | translate}}</a>
                            </td>
                            <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.getSubjectsCapacityByType(subject.id, type.code)}}</td>
                            <td class="bold">{{capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)}}</td>
                            <td class="bold">{{capacitiesUtil.toEap(capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)) | number: 2}}</td>
                        </tr>
                        <tr ng-repeat="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }">
                            <td>
                                <span ng-repeat="teacher in ssp.teachers" ng-class="{'invalid': !capacitiesUtil.teachersLoadOk(ssp) || (teacher.scheduleLoad - teacher.plannedLessons) < 0}">
                                    <span title="{{'subjectStudyPeriod.teacherLoad' | translate : teacherPlannedLoad(teacher) }}">{{teacher.name}}{{!$last ? ', ' : ''}}</span>
                                </span>
                                <i ng-if="ssp.capacityDiff || ssp.teachers.length > 1 || ssp.subgroups.length > 1" class="material-icons pointer" title="{{'subjectStudyPeriod.teacherSpecificLoads' | translate}}"
                                    ng-click="teacherCapacities(ssp)">*</i>
                                <span ng-if="ssp.subgroups.length > 0">
                                  <span class="subject-study-period-proportion">{{'subjectStudyPeriod.subgroups.label' | translate | lowercase}}:
                                    {{ssp.subgroups.length}}
                                  </span>
                                </span>
                                <span ng-repeat="group in ssp.studentGroupObjects | filter: {id: '!' + record.studentGroup}">
                                  <br ng-if="$first"/>
                                  <br ng-if="$first"/>
                                  {{currentLanguageNameField(group)}}{{!$last ? ', ' : ''}}
                                </span>
                                <a ng-href="#/subjectStudyPeriod/{{ssp.id}}/edit?studentGroupId={{record.studentGroup}}">{{'main.button.change' | translate}}</a>
                            </td>
                            <td ng-repeat="type in capacityTypes">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code } : true">
                                  <input type="number" ng-model="capacity.hours" min="0" max="1000" aria-label="{{'subjectStudyPeriod.changeLoad' | translate}}" pattern="^\d+$">
                                </span>
                            </td>
                            <td class="bold">{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                            <td class="bold">{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumBySsp(ssp)) | number: 2}}</td>
                        </tr>
                        <tr class="bold">
                          <td>{{'subjectStudyPeriod.overallSubject' | translate}}</td>
                          <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.capacitiesSumBySubjectAndType(subject.id, type.code)}}</td>
                          <td>{{capacitiesUtil.capacitiesSumBySubject(subject.id)}}</td>
                          <td></td>
                        </tr>
                        <tr class="bold">
                          <td>{{'subjectStudyPeriod.eap' | translate}}</td>
                          <td ng-repeat="type in capacityTypes">{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumBySubjectAndType(subject.id, type.code)) | number: 2}}</td>
                          <td></td>
                          <td>{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumBySubject(subject.id)) | number: 2}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="!!semester && semesterSubjects.length > 0">
                      <tr class="header different-color" ng-class="{'bold-top-line': record.subjects.length > 0}" style="background-color: rgb(248, 187, 208);">
                        <td>
                          <span class="bold">{{'subjectStudyPeriod.unplannedSubjects' | translate}}</span>
                        </td>
                        <td ng-repeat="capacityType in capacityTypes" class="bold">{{capacityType.value.toUpperCase()}}</td>
                        <td class="bold">{{'subjectStudyPeriod.overallSubject' | translate}}</td>
                        <td class="bold">{{'subjectStudyPeriod.eap' | translate}}</td>
                      </tr>
                      <tr class="different-color" ng-repeat="subject in semesterSubjects | orderBy: ['-semester', unplannedSubjectOrderBy]" style="background-color: rgb(252, 228, 236);">
                        <td class="div-space-between">
                          <div>
                            <span style="margin-right: 16px;" ng-style="{'font-style': subject.semester === semester ? 'normal' : 'italic'}">
                              <md-tooltip ng-if="subject.semester !== semester" md-direction="right">
                                {{'subjectStudyPeriod.semester' | translate: {number: subject.semester} }}
                              </md-tooltip>
                              {{subject.code}} - {{currentLanguageNameField(subject.subject)}} ({{subject.credits | number:1}} EAP)
                            </span>
                          </div>
                          <div>
                            <a style="float: initial" ng-href="#/subjectStudyPeriod/new?subjectId={{subject.subject.id}}&studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}">{{'subjectStudyPeriod.addTeachers' | translate}}</a>
                            <span ng-if="subject.subjectStudyPeriods.length > 0">või</span>
                            <md-input-container ng-if="subject.subjectStudyPeriods.length > 0">
                              <label>{{'subjectStudyPeriod.selectExisting' | translate}}</label>
                              <md-select ng-model="subject.selectedPair" ng-change="selectedPair(subject)" style="padding: 0;">
                                <md-option md-option-empty></md-option>
                                <md-option ng-value="pair.id" ng-repeat="pair in subject.subjectStudyPeriods">{{currentLanguageNameField(pair)}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                        </td>
                        <td ng-repeat="type in capacityTypes">
                          <span ng-repeat="capacity in subject.plan.capacities | filter:{ capacityType: type.code } : true">
                            {{capacity.hours}}
                          </span>
                        </td>
                        <td class="bold">{{calculateSubjectCapacityFromProgram(subject)}}</td>
                        <td class="bold">{{capacitiesUtil.toEap(calculateSubjectCapacityFromProgram(subject)) | number: 2}}</td>
                      </tr>
                    </tbody>
                    <tr class="bold" ng-class="{'bold-top-line': record.subjects.length > 0 || !!semester && semesterSubjects.length > 0}" md-colors="{background: 'background-200'}">
                      <td>{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                      <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                      <td>{{capacitiesUtil.capacitiesSumOverall()}}</td>
                      <td></td>
                    </tr>
                    <tr class="bold" md-colors="{background: 'background-200'}">
                      <td>{{'subjectStudyPeriod.eap' | translate | uppercase}}</td>
                      <td ng-repeat="type in capacityTypes" >{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumByType(type.code)) | number: 2}}</td>
                      <td></td>
                      <td>{{capacitiesUtil.toEap(capacitiesUtil.capacitiesSumOverall()) | number: 2}}</td>
                    </tr>
                </table>
            </md-table-container>
            <div>&nbsp;</div>
        </div>
        <ng-include src="'subjectStudyPeriod/studentGroup/subject.study.period.student.group.edit.action.buttons.html'"></ng-include>
    </form>
</div>
