@page {
    size: A4;
    margin: 60pt;
    @bottom-right {
        content: element(footer);
    }
}

html {
    font-family: Garamond;
    font-size: 11pt;
}
.page-break-avoid, table tr {
    page-break-inside: avoid;
}
.page-break-after-avoid {
    page-break-after: avoid;
}
.label {
    font-weight: bold;
}
.center {
    text-align: center;
}
.font-size-9 {
    font-size: 9pt;
}

#footer {
    position: running(footer);
    text-align: right;
}
#pagenumber:before {
    content: counter(page);
}
#pagecount:before {
    content: counter(pages);
}

.padding-top {
    height: 60pt;
}
.school-name {
	font-size: 18pt;
    font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
div.diploma-nr {
    font-size: 12pt;
    font-weight: bold;
	margin-top: 50pt;
	text-align: center;
	width: 100%;
}
.supplement-description {
	border: 1px solid black;
	margin: 10pt;
	margin-bottom: 20pt;
	padding: 2pt 5pt;
	width: 95%;
}
h1 {
    font-size: 12pt;
    font-weight: bold;
	margin-top: 10pt;
	page-break-after: avoid;
}
table.general-info {
	width: 100%;
}
table.general-info td:first-child {
	width: 200pt;
}
table.general-info td:last-child {
	font-weight: bold;
}
.study-results {
    width: 100%;
}
.study-results-order {
    width: 30pt;
}
.study-results-credits {
    width: 60pt;
}
.study-results-grade {
    width: 80pt;
}
.evaluation-description, .evaluation-description th, .evaluation-description td {
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: normal;
    padding: 2pt 5pt;
}
.margin-top {
    margin-top: 10pt;
}
.diploma-signers {
    margin-top: 50pt;
    width: 100%;
}
.diploma-signer-left {
    display: inline-block;
    width: 55%;
}
.diploma-signer-right {
    display: inline-block;
    width: 44%;
}
