<div layout="row" layout-xs="column">
  <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>

  <md-button ng-if="subject.canSetActive" ng-click="saveAndConfirm()"
             class="md-raised">{{'subject.activate' | translate}}</md-button>
  <md-button ng-if="subject.canSetPassive" ng-click="saveAndUnconfirm()"
             class="md-raised">{{'subject.passive' | translate}}</md-button>

  <md-button ng-if="subject.canDelete" ng-click="delete()" class="md-raised">{{'main.button.delete' | translate}}</md-button>
  <md-button ng-click="back(formState.backUrl, subjectForm)" class="md-raised">{{'main.button.back' | translate}}</md-button>
</div>
