<style>
  .my-select .md-select-value span:first-child {
    visibility: collapse;
  }
  .my-select .md-select-value .md-text {
    visibility: visible;
  }
</style>
<div>
  <div flex>
    <fieldset tabindex="1">
    <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.abroadStudies' | translate}} *</legend>
      <div layout="column">
      <md-input-container layout="row" layout-align="start center" flex="60">
        <md-radio-group name="isAbroad" ng-model="application.isAbroad" ng-change="isAbroadChanged()" required layout="row">
          <md-radio-button ng-value="false" aria-label="estonian educational institution">{{ 'application.inEstonianEducationalInstitution' | translate }}</md-radio-button>
          <md-radio-button ng-value="true" aria-label="abroad educational institution">{{ 'application.inAbroadEducationalInstitution' | translate }}</md-radio-button>
        </md-radio-group>
      </md-input-container>
      <div layout="row" flex="20" md-colors="{color: 'warn-A400'}"  ng-if="applicationForm.$submitted" ng-messages="applicationForm.isAbroad.$error" >
        <div ng-message="required">{{'main.messages.error.inputFieldIsRequired' | translate}}</div>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column" ng-if="!application.isAbroad">
        <md-input-container flex="60" flex-sm="100" flex-xs="100">
          <label>{{'main.educationInstitution' | translate}}</label>
          <hois-classifier-select ng-model="application.ehisSchool" main-classifier-code="EHIS_KOOL" ng-change="application.country = 'RIIK_EST'"
            criteria="{higher: auth.school.higher ? true : undefined, vocational: auth.school.vocational ? true : undefined}" only-valid
            filter-values="[studentEhisSchool]" by-property="ehisSchool" model-value-attr="code" ng-required="!application.isAbroad"></hois-classifier-select>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column" ng-if="application.isAbroad && !formState.isNewSchool">
        <md-input-container flex="30" flex-sm="100" flex-xs="100">
          <label>{{'apel.formalLearnings.schoolNameEt' | translate}}</label>
          <md-select ng-model="formState.apelSchool" aria-label="apelSchool" ng-change="apelSchoolChanged()"
            ng-model-options="{trackBy: '$value.id + $value.nameEt'}" required>
            <md-option ng-repeat="val in apelSchools" ng-value="val">{{currentLanguageNameField(val)}}</md-option>
          </md-select>
        </md-input-container>
        <div layout="column" class="form-readonly" flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <br>
          <md-input-container flex style="margin-bottom: none;" ng-init="apelSchoolChanged()">
            <label>{{'apel.formalLearnings.schoolCountry' | translate}}</label>
            <hois-classifier-value ng-model="application.country" model-value-attr="code" main-classifier-code="RIIK"></hois-classifier-value>
          </md-input-container>
        </div>
      </div>
      <div ng-if="application.isAbroad">
        <md-input-container ng-if="!formState.isNewSchool">
          <md-button ng-click="addNewSchool()" class="md-raised">{{'apel.formalLearnings.addNewSchool' | translate}}</md-button>
        </md-input-container>
        <fieldset ng-if="formState.isNewSchool">
          <legend class="md-title-small">{{'apel.formalLearnings.newSchool' | translate}}</legend>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="30" flex-sm="100" flex-xs="100">
              <label>{{'apel.formalLearnings.schoolCountry' | translate}}</label>
              <hois-classifier-select ng-model="application.newApelSchool.country" aria-label="country" model-value-attr="code"
                main-classifier-code="RIIK" ng-change="newSchoolCountryChanged(application.newApelSchool.country)"
                required></hois-classifier-select>
            </md-input-container>
            <md-input-container ng-if="newSchoolEst" flex="30" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'apel.formalLearnings.schoolEHIS' | translate}}</label>
              <hois-classifier-select ng-model="application.newApelSchool.ehisSchool" aria-label="EHIS" model-value-attr="code"
                main-classifier-code="EHIS_KOOL" ng-change="ehisSchoolChanged(application.newApelSchool.ehisSchool)"
                filter-values="apelSchoolsEhisCodes()" required></hois-classifier-select>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container ng-if="application.newApelSchool.country" flex="30" flex-sm="100" flex-xs="100">
              <label>{{'apel.formalLearnings.schoolNameEt' | translate}}</label>
              <input type="text" ng-model="application.newApelSchool.nameEt" ng-disabled="formState.isMySchool" md-maxlength="100"
                required>
            </md-input-container>
            <md-input-container ng-if="application.newApelSchool.country" flex="30" flex-sm="100" flex-xs="100"
              flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'apel.formalLearnings.schoolNameEn' | translate}}</label>
              <input type="text" ng-model="application.newApelSchool.nameEn" ng-disabled="formState.isMySchool" md-maxlength="100">
            </md-input-container>
          </div>
          <md-button class="md-raised" ng-click="cancelCreatingNewSchool()">{{'main.button.annul' | translate}}</md-button>
        </fieldset>
      </div>
      <div ng-include="'application/templates/period.html'"
          ng-init="labelStart='application.abroadStudiesStart';labelEnd='application.abroadStudiesEnd'">
      </div>
      <div layout="row" layout-sm="column" layout-xs="column" >
        <md-input-container flex="60" flex-sm="100" flex-xs="100">
          <label>{{'main.purposeOfStudies' | translate}}</label>
          <hois-classifier-select ng-model="application.abroadPurpose" main-classifier-code="VALISOPE_EESMARK" ignore-preselected
            criteria="{higher: auth.school.higher ? true : undefined, vocational: auth.school.vocational ? true : undefined}" only-valid
            model-value-attr="code" required></hois-classifier-select>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column" >
        <md-input-container flex="60" flex-sm="100" flex-xs="100">
          <label>{{'main.programmeOfStudies' | translate}}</label>
          <hois-classifier-select ng-model="application.abroadProgramme" main-classifier-code="VALISKOOL_PROGRAMM"
            criteria="{higher: auth.school.higher ? true : undefined, vocational: auth.school.vocational ? true : undefined}" only-valid
            model-value-attr="code" ng-required="auth.school.higher"></hois-classifier-select>
        </md-input-container>
      </div>
    </div>
  </fieldset>
</div>
<div>&nbsp;<div>
  <div layout="column" flex>
    <fieldset tabindex="1">
      <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.subjects' | translate}}</legend>
      <md-button class="md-raised" href="" ng-click="addPlannedSubjectRow()">{{'main.button.addRow' | translate}}</md-button>
      <md-table-container>
        <table md-table class="secondary-table">
          <thead md-head>
            <tr md-row>
              <th md-column><span>{{(!student.curriculumVersion.isVocational ? 'application.plannedSubject': 'application.plannedModulesThemes') | translate}}</span></th>
              <th md-column><span>{{(!student.curriculumVersion.isVocational ? 'application.substitutableSubject' : 'application.substitutableModulesThemes') | translate}}</span></th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="plannedSubject in application.plannedSubjects | orderBy: 'id'" ng-class-odd="'odd'" ng-class-even="'even'">
              <td md-cell>
                <md-input-container>
                  <input type="text" ng-model="plannedSubject.name" aria-label="planned subject name" required>
                </md-input-container>
              </td>
              <td md-cell>
                <md-input-container ng-if="!student.curriculumVersion.isVocational">
                  <md-select class="my-select" style="display: block;" ng-model="plannedSubject.subjectsSelected" ng-change="subjectsChanged(plannedSubject)"
                  ng-model-options="{trackBy: '$value.subject'}" required multiple aria-label="planned subject equivalent subject">
                    <md-option ng-repeat="val in studentSubjects" ng-value="val">{{currentLanguageNameField(val)}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container ng-if="student.curriculumVersion.isVocational">
                  <md-select class="my-select" ng-model="plannedSubject.subjectsSelected" ng-change="moduleOrThemeSelected(plannedSubject)"
                    ng-model-options="{trackBy: '$value.moduleId && $value.themeId'}" required multiple aria-label="planned subject equivalent module or theme">
                    <md-option ng-repeat="val in modulesAndThemes" ng-value="val">{{currentLanguageNameField(val)}}</md-option>
                  </md-select>
                </md-input-container>
              </td>
              <td md-cell>
                <md-button class="remove nomargin" ng-click="removeFromArray(application.plannedSubjects, plannedSubject)">&times;</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </fieldset>	
  </div>
</div>
<div>&nbsp;<div>
