<div class="ois-form-layout-padding nomargin">
  <form ng-cloak name="vocationalCurriculumModuleForm">
    <div layout="column" ng-cloak>
      <fieldset tabindex="1" ng-if="module.canHaveOccupations">
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{module.occupation ? 'module.occupationPartOccupationSpecialize' : 'module.partOccupation' | translate}}</legend>
        <div layout="column">
            <div ng-repeat="item in module.curriculumOccupations | orderBy: 'occupation'">
                <md-checkbox ng-model="occupationsSelected[item.occupation]" ng-change="validateOccupations()"
              >
              <hois-classifier-value ng-model="item.occupation" main-classifier-codes="KUTSE,OSAKUTSE" class="inline"></hois-classifier-value>
            </md-checkbox>
            <div layout="column">
              <div ng-repeat="partOccupation in item.partOccupations | orderBy" flex layout="row">
                <div flex="5">&nbsp;</div>
                <md-checkbox ng-model="occupationsSelected[partOccupation]" ng-change="validateOccupations()"
                  >
                  <hois-classifier-value ng-model="partOccupation" main-classifier-code="OSAKUTSE" class="inline"></hois-classifier-value>
                </md-checkbox>
              </div>
            </div>

            <div layout="column">
              <div ng-repeat="speciality in item.specialities | orderBy" layout="row">
                <div flex="5">&nbsp;</div>
                <md-checkbox ng-model="specialitiesSelected[speciality]" ng-change="validateOccupations()"
                  >
                  <hois-classifier-value ng-model="speciality" main-classifier-code="SPETSKUTSE" class="inline"></hois-classifier-value>
                </md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <md-input-container hide>
          <input ng-model="occupationsValid" type="text" required>
        </md-input-container>
        <p ng-show="vocationalCurriculumModuleForm.$submitted && !occupationsValid" class="invalid">{{'curriculum.error.moduleOccupations' | translate}}</p>
      </fieldset>
      <div>&nbsp;</div>
      <div layout="row" flex>
        <md-input-container flex="45">
          <label>{{'module.type' | translate}}</label>
          <hois-classifier-select name="module" ng-model="module.module" show-only-values="possibleTypes" main-classifier-code="KUTSEMOODUL"
            required ng-disabled="module.id && !module.basicDataCanBeEdited" model-value-attr="code"></hois-classifier-select>
        </md-input-container>
        <md-input-container flex="10" flex-sm="50" flex-xs="50" flex-offset="5">
          <label>{{'module.credits' | translate}}</label>
          <input ng-model="module.credits" type="number" name="credits" min="0" max="999" pattern="^\d+(\.\d{1})?$" required >
          <div ng-messages="vocationalCurriculumModuleForm.credits.$error" ng-show="vocationalCurriculumModuleForm.credits.$dirty">
            <div ng-message="min">
              {{'main.messages.error.positive' | translate}}
            </div>
            <div ng-message="max">
              {{'curriculum.error.max999' | translate}}
            </div>
            <div ng-message="pattern">
              {{'stateCurriculum.error.decimalPresision' | translate}}
            </div>
          </div>
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>{{'module.nameEt' | translate}}</label>
        <input ng-model="module.nameEt" type="text" md-maxlength="255" required >
      </md-input-container>
      <md-input-container flex>
        <label>{{'module.nameEn' | translate}}</label>
        <input ng-model="module.nameEn" type="text" md-maxlength="255" >
      </md-input-container>
      <md-input-container flex>
        <label>{{'module.objectivesEt' | translate}}</label>
        <textarea ng-model="module.objectivesEt" md-maxlength="10000" max-rows="10" required ></textarea>
      </md-input-container>
      <md-input-container flex>
        <label>{{'module.objectivesEn' | translate}}</label>
        <textarea ng-model="module.objectivesEn" md-maxlength="10000" max-rows="10" ></textarea>
      </md-input-container>
      <fieldset tabindex="4">
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.studyOutcome' | translate}} *</legend>
        <input style="display:none" type="number" readonly name="outcomesLength" ng-model="module.outcomes.length" min="1" />
        <div class="invalid" ng-if="vocationalCurriculumModuleForm.$submitted" ng-messages="vocationalCurriculumModuleForm.outcomesLength.$error">
          <div ng-message="min">{{'main.messages.error.atLeastOneShouldBeAdded' | translate}}</div>
        </div>
        <div layout="row" flex>
          <md-input-container flex="45">
            <label>{{'studyOutcome.nameEt' | translate}} *</label>
            <textarea ng-model="outcomeEt" md-maxlength="1000" max-rows="10" ></textarea>
          </md-input-container>
          <md-input-container flex="40" flex-offset="5">
            <label>{{'studyOutcome.nameEn' | translate}}</label>
            <textarea ng-model="outcomeEn" md-maxlength="1000" max-rows="10" ></textarea>
          </md-input-container>
          <md-button class="md-primary" ng-click="addOutcome()" ng-if="!isEditingOutcome">{{'main.button.add' | translate}}</md-button>
          <md-button class="md-primary" ng-click="saveOutcome()" ng-if="isEditingOutcome">{{'main.button.change' | translate}}</md-button>
        </div>
        <div layout="column">
          <div ng-repeat="item in module.outcomes track by $index" class="occupation-row align-center" layout="row" flex>
            <div flex="45">
              <a ng-click="editOutcome(item)">
                <p class="scrollable">{{item.outcomeEt}}</p>
              </a>
            </div>
            <div flex="40" flex-offset="5">
              <a ng-click="editOutcome(item)">
                <p class="scrollable">{{item.outcomeEn}}</p>
              </a>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>
              <a class="remove" ng-click="removeFromArray(module.outcomes, item)">&times;&nbsp;&nbsp;</a>
            </div>
            <div>
              <p ng-if="$first" class="link-disabled">&#9650;&nbsp;</p>
              <a ng-if="!$first" class="link-no-underline" ng-click="swap($index, $index - 1)">&#9650;&nbsp;</a>
            </div>
            <div>
              <p ng-if="$last" class="link-disabled">&#9660;&nbsp;</p>
              <a ng-if="!$last" class="link-no-underline" ng-click="swap($index, $index + 1)">&#9660;&nbsp;</a>
            </div>
          </div>
        </div>
      </fieldset>
      <div>&nbsp;</div>
      <md-input-container flex>
        <label>{{'stateCurriculum.enter.module.criteriaEt' | translate}}</label>
        <textarea ng-model="module.assessmentsEt" required md-maxlength="20000" max-rows="10"></textarea>
      </md-input-container>
      <md-input-container flex>
        <label>{{'stateCurriculum.enter.module.criteriaEn' | translate}}</label>
        <textarea ng-model="module.assessmentsEn" md-maxlength="20000" max-rows="10"></textarea>
      </md-input-container>
      <md-input-container flex>
        <label>{{'module.competencesAquired' | translate}}</label>
        <md-select multiple="true" ng-model="module.competences" ng-disabled="module.module !== 'KUTSEMOODUL_P' || competences.length === 0">
          <md-option ng-repeat="option in competences | orderBy: currentLanguageNameField() track by $index" ng-value="option.code"
            aria-label="{{currentLanguageNameField(option)}}">
            {{currentLanguageNameField(option)}}</md-option>
        </md-select>
      </md-input-container>

      <!-- <md-input-container flex>
        <label>{{'module.competencesAquired' | translate}}</label>
        <hois-select ng-model="module.competences" values="studyPeriods"
        ng-disabled="module.module !== 'KUTSEMOODUL_P' || competences.length === 0"
        valueProperty="code"></hois-select>
      </md-input-container> -->

        <!-- <md-input-container flex>
          <label>{{'module.competencesAquired' | translate}}</label>
          <hois-classifier-select  ng-model="module.competences" show-only-values="competences" main-classifier-code="KOMPETENTS"
          ng-disabled="module.module !== 'KUTSEMOODUL_P' || competences.length === 0" model-value-attr="code"></hois-classifier-select>
        </md-input-container> -->

      <br/>
      <md-input-container flex>
        <md-checkbox ng-model="module.practice" ng-disabled="module.module === 'KUTSEMOODUL_L'">{{'module.practice' | translate}}</md-checkbox>
      </md-input-container>
      <md-input-container>
        <md-checkbox ng-model="module.isAdditional"
          aria-label="{{'stateCurriculum.enter.module.isAdditional' | translate}}">
          {{'stateCurriculum.enter.module.isAdditional' | translate}}
        </md-checkbox>
      </md-input-container>
    </div>
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="save()">{{"main.button.save" | translate}}</md-button>
    <md-button class="md-raised" ng-click="delete()" ng-if="module.id && !module.addedToImplementationPlan">{{"main.button.delete" | translate}}</md-button>
    <md-button class="md-raised" ng-click="back('#/vocationalCurriculum/' + curriculumId + '/edit', vocationalCurriculumModuleForm)">{{"main.button.back" | translate}}</md-button>
  </form>
</div>
<style>
  .link-no-underline {
    text-decoration: none;
  }

  .link-disabled {
    color: #d7dde5;
  }

</style>
