<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="{{'subjectStudyPeriod.label.options' | translate}}" ng-show="formState.showNavBar">
  <md-nav-item md-nav-href="#/declaration/current/view" name="current">{{'declaration.myDeclaration' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/declarations/previous?_menu" name="previous">{{'declaration.previousDeclarations' | translate}}</md-nav-item>
</md-nav-bar>

<div class="ois-form-layout-padding form-readonly" layout="column">
  <div layout="row" layout-sm="column" layout-xs="column" ng-show="auth.isAdmin()">
    <md-input-container flex="25" flex-sm="100" flex-xs="100">
        <label>{{'declaration.student' | translate}}</label>
        <hois-value value="declaration.student.fullname"></hois-value>
    </md-input-container>
  </div>
  <div layout="row" layout-sm="column" layout-xs="column">
    <md-input-container flex="25" flex-sm="100" flex-xs="100">
        <label>{{'declaration.studyPeriod' | translate}}</label>
        <hois-value value="currentLanguageNameField(declaration.studyPeriod)"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.curriculumVersion' | translate}}</label>
        <hois-value value="currentLanguageNameField(declaration.student.curriculumVersion)"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.course' | translate}}</label>
        <hois-value value="declaration.course.toString()"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.studentGroup' | translate}}</label>
        <hois-value value="currentLanguageNameField(declaration.student.studentGroup)"></hois-value>
    </md-input-container>
  </div>
  <div layout="row" layout-sm="column" layout-xs="column">
    <md-input-container flex="25" flex-sm="100" flex-xs="100">
        <label>{{'declaration.status' | translate}}</label>
        <hois-classifier-value ng-model="declaration.status" main-classifier-code="OPINGUKAVA_STAATUS"></hois-classifier-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.inserted' | translate}}</label>
        <hois-value value="declaration.inserted | hoisDateTime"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.confirmDate' | translate}}</label>
        <hois-value value="declaration.confirmDate | hoisDate"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'declaration.confirmer' | translate}}</label>
        <hois-value value="declaration.confirmer"></hois-value>
    </md-input-container>
  </div>
  <div layout="row" layout-xs="column">
    <md-button class="md-raised" ng-click="openAddCurriculumSubject()">{{'declaration.addCurriculumSubject' | translate}}</md-button>
    <md-button class="md-raised" ng-click="openAddExtraCurriculumSubject()">{{'declaration.addExtraCurriculumSubject' | translate}}</md-button>
  </div>
  <br>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>{{'declaration.subject' | translate}}</th>
          <th md-column>{{'declaration.teacher' | translate}}</th>
          <th md-column>{{'declaration.eap_assessment' | translate}}</th>
          <th md-column>{{'declaration.module_isRequired' | translate}}</th>
          <th md-column>{{'declaration.prerequisites' | translate}}</th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="subject in declaration.subjects | orderBy: 'subject.' + currentLanguageNameField()" ng-class="{listItem: subject.newlyAdded}" ng-class-odd="'odd'" ng-class-even="'even'">
          <td md-cell>
            {{currentLanguageNameField(subject.subject)}} ({{subject.subject.code}})
            <span ng-show="subject.isDeclaredRepeatedly">&nbsp;*</span>
          </td>
          <td md-cell>
            <table>
                <tr ng-repeat="teacher in subject.teachers | orderBy">
                    <td>{{teacher}}</td>
                </tr>
            </table>
          </td>
          <td md-cell>{{subject.subject.credits}} / {{subject.subject.assessment}}</td>
          <td md-cell>{{subject.module != null ? currentLanguageNameField(subject.module) : ' - '}} / {{subject.isOptional ? 'main.no' : 'main.yes' | translate}}</td>
          <td md-cell>
            <span ng-show="!hasPrerequisites(subject)"> - </span>
            <span ng-show="hasPrerequisites(subject)"><a href="" ng-click="seePrerequisites(subject)">
              {{'declaration.seePrerequisites' | translate}}</a>
            </span>
          </td>
          <td md-cell><a class="remove nomargin" ng-click="removeSubject(subject)">&times;</a></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <br>
  <div layout="row">
    <md-button ng-show="declaration.canBeSetConfirmed" class="md-raised md-primary" ng-click="confirm()">{{'declaration.confirm' | translate}}</md-button>
    <md-button ng-show="declaration.canBeSetUnconfirmed" class="md-raised md-primary" ng-click="removeConfirmation()">{{'declaration.removeConfirmation' | translate}}</md-button>
    <md-button class="md-raised md-default" ng-click="back('#/declarations')">{{'main.button.back' | translate}}</md-button>
  </div>
</div>

<style>

.listItem.ng-enter {
    transition: all 2.5s ease;
}
.listItem.ng-enter-active {
    background-color: #84ff8e;
}
</style>
