<div layout-padding ng-if="typeId || searchResultEvents">   
    <div layout="row" layout-align="center" style="padding: 0px">
        <a ng-if="shownTimetableCurriculum || shownTeacher || shownRoom" ng-href="#/timetable/{{timetableType}}/{{::schoolId}}/{{::typeId}}/{{weekIndex}}">
            <span ng-if="shownTimetableCurriculum">{{shownTimetableCurriculum.studentGroupCode}}, {{currentLanguageNameField(shownTimetableCurriculum)}}</span>
            <span ng-if="shownTeacher">{{shownTeacher.lastname}}, {{shownTeacher.firstname}}</span>
            <span ng-if="shownRoom">{{shownRoom.buildingCode}}, {{shownRoom.roomCode}}</span>
        </a>
    </div>
    <div layout="row" layout-align="center" style="padding: 0px">
        <md-button ng-if="previousWeekIndex && directRoute" class="md-icon-button md-primary" ng-href="#/timetable/{{timetableType}}/{{::schoolId}}/{{::typeId}}/{{::previousWeekIndex}}">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <md-button ng-if="previousWeekIndex && !directRoute" class="md-icon-button md-primary" ng-click="previousWeek(typeId, previousWeekIndex)">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2 ng-if="shownTimetable" style="display:inline-block">{{currentLanguageNameField(shownTimetable)}}. {{shownWeek.start | hoisDate}} - {{shownWeek.end | hoisDate}}</h2>
        <h2 ng-if="!shownTimetable" style="display:inline-block">{{shownWeek.start | hoisDate}} - {{shownWeek.end | hoisDate}}</h2>
        <md-button ng-if="nextWeekIndex && directRoute" class="md-icon-button md-primary" ng-href="#/timetable/{{timetableType}}/{{::schoolId}}/{{::typeId}}/{{::nextWeekIndex}}">
            <md-icon>arrow_forward</md-icon>
        </md-button>
        <md-button ng-if="nextWeekIndex && !directRoute" class="md-icon-button md-primary" ng-click="nextWeek(typeId, nextWeekIndex)">
            <md-icon>arrow_forward</md-icon>
        </md-button>
    </div>

    <div hide-xs ng-if="timetableEvents.length > 0" layout="column" flex="90" style="border: 1px solid #ccc; margin-left: auto; margin-right: auto;" id="vTimetable">
        <div layout="row" style="position:relative">
            <div layout="column" flex style="position:absolute;width:100%;">
                <div style="height:20px;text-align:center">&nbsp;</div>
                <div ng-repeat="time in timeColumn track by $index" style="height:15px;border-bottom:1px dotted #ccc;border-collapse: collapse"
                    ng-show="$index > 0">&nbsp;</div>
            </div>
            <div flex="10" layout="column">
                <div style="height:20px;text-align:center">&nbsp;</div>
                <div ng-repeat="time in timeColumn" style="height:16px;">
                    <span ng-show="($index % 2 != 0)">{{time}}</span>
                </div>
            </div>
            <div ng-repeat="day in weekColumns" flex="20" layout="column" style="position:relative; border-left: 1px solid #ccc;border-collapse: collapse">
                <div style="height:32px;text-align:center" md-colors="day.today ?  {background: 'accent-400'}:{}">{{'timetable.timetablePlan.' + day.name | translate}}<br>{{day.date | hoisDate}}</div>
                <div layout="row">
                    <div flex ng-repeat="event in day.events track by $index" ng-style="{'height': event.rowHeight + 'px', 'top': event.top + 'px', 'z-index': $index}"
                        style="padding: 0; border: 1px solid; position:absolute; overflow: hidden;width:calc(100% - 10px);" 
                        md-colors="event.public ? {background: 'primary-100-0.8','border-color': 'primary-500'} : {background: 'accent-100-0.8','border-color': 'accent-500'}"
                        class="timetableEvent">
                        <md-tooltip md-direction="bottom" style="margin: -18px; height: auto;">
                            <div ng-if="event.public">{{event.timeStart}}-{{event.timeEnd}} {{currentLanguageNameField(event)}}</div>
                            <div ng-if="!event.public">{{event.timeStart}}-{{event.timeEnd}} {{'timetable.timetableEvent.occupied' | translate}}</div>
                            <div ng-repeat="room in event.rooms track by $index">{{room.buildingCode}}-{{room.roomCode}}</div>
                            <div ng-repeat="teacher in event.teachers track by $index">{{teacher.name}}</div>
                            <div ng-repeat="studentGroup in event.studentGroups track by $index">{{studentGroup.code}}</div>
                            <div>{{event.studentGroup}}</div>
                        </md-tooltip>
                        <div>
                            <span>{{event.timeStart}}-{{event.timeEnd}}</span>
                            <span ng-if="event.public">{{currentLanguageNameField(event)}}</span>
                            <span ng-if="!event.public">{{'timetable.timetableEvent.occupied' | translate}}</span>
                        </div>
                        <div>
                            <span ng-repeat="teacher in event.teachers track by $index">
                                <a ng-href="/#/timetable/teacher/{{::schoolId}}/{{::teacher.id}}/{{::weekIndex}}">{{teacher.name}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                        <div>
                            <span ng-repeat="room in event.rooms track by $index">
                                <a ng-href="/#/timetable/room/{{::schoolId}}/{{::room.id}}/{{::weekIndex}}">{{room.buildingCode}}-{{room.roomCode}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                        <div>
                            <span ng-repeat="studentGroup in event.studentGroups track by $index">
                                <a ng-href="/#/timetable/group/{{::schoolId}}/{{::studentGroup.id}}/{{::weekIndex}}">{{studentGroup.code}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div hide-gt-xs ng-if="timetableEvents.length > 0">
        <span>
        <hois-collapsable ng-repeat="day in weekColumns" expanded="day.today" header-background-color="day.today ? 'rgb(236, 64, 122)' : none">
            <hois-collapsable-header>
                <span ng-style="{color: day.today ? 'white' : none}">{{'timetable.timetablePlan.' + day.name | translate}} {{day.date | hoisDate}}</span>
            </hois-collapsable-header>
            <div layout="column">
                <div flex ng-repeat="event in day.events track by $index">
                    <div style="border: 1px solid #e8e8e8; min-height: 80px;">
                        <div>
                            <span style="font-weight: bold">{{event.timeStart}}-{{event.timeEnd}}</span>
                            <span ng-if="event.public">{{currentLanguageNameField(event)}}</span>
                            <span ng-if="!event.public">{{'timetable.timetableEvent.occupied' | translate}}</span>
                        </div>
                        <div>
                            <span ng-repeat="teacher in event.teachers track by $index">
                                <a ng-href="/#/timetable/teacher/{{::schoolId}}/{{::teacher.id}}">{{teacher.name}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                        <div>
                            <span ng-repeat="room in event.rooms track by $index">
                                <a ng-href="/#/timetable/room/{{::schoolId}}/{{::room.id}}">{{room.buildingCode}}-{{room.roomCode}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                        <div>
                            <span ng-repeat="studentGroup in event.studentGroups track by $index">
                                <a ng-href="/#/timetable/group/{{::schoolId}}/{{::studentGroup.id}}">{{studentGroup.code}}</a>
                                {{$last ? '' : ', '}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </hois-collapsable>
        </span>
    </div>
    
    <div ng-if="!(timetableEvents.length > 0)">
        <div ng-if="!timetableSearch" layout="row" layout-align="center">{{'timetable.error.noWeekTimetable' | translate}}</div>
        <div ng-if="timetableSearch" layout="row" layout-align="center">{{'timetable.error.noSearchResults' | translate}}</div>
    </div>

    <div>
        <md-button class="md-icon-button timetableIconButton" ng-click="generateCalendar()">
            <md-tooltip md-direction="bottom">{{'timetable.saveToCalendar' | translate}}</md-tooltip>
            <md-icon md-font-set="material-icons md-primary md-48">event</md-icon>
        </md-button>
    
        <md-button ng-if="directRoute && auth != null" ng-click="back('#/timetable/generalTimetableByGroup'); emptyParentVariable()" class="md-raised">{{'main.button.back' | translate}}</md-button>
        <md-button ng-if="directRoute && auth == null" ng-click="back('#/timetable/generalTimetableByGroup/' + schoolId)" class="md-raised">{{'main.button.back' | translate}}</md-button>
    </div>
</div>

<style>
    .hois-collapse {
        margin-bottom: 1px;
    }
</style>
