<!--FIXME: type color is not supported in IE 11-->
<table md-table class="secondary-table" ng-if="legends.length > 0">
  <thead md-head>
  <tr md-row>
    <th md-column>{{'studyYearScheduleLegend.code' | translate}}</th>
    <th md-column>{{'studyYearScheduleLegend.nameEt' | translate}}</th>
    <th md-column>{{'studyYearScheduleLegend.nameEn' | translate}}</th>
    <th md-column>{{'studyYearScheduleLegend.color' | translate}}</th>
  </tr>
  </thead>
  <tbody md-body>
  <tr md-row ng-repeat="item in legends" ng-class-odd="'odd'" ng-class-even="'even'">
    <td md-cell>{{item.code}}</td>
    <td md-cell>{{item.nameEt}}</td>
    <td md-cell>{{item.nameEn}}</td>
    <td md-cell><input ng-model="item.color" type="color" disabled></td>
  </tr>
  </tbody>
</table>


<!--FIXME: this form is slow in IE-->
<div layout="column" layout-padding>
  <form name="studyYearScheduleForm">
    <div layout="column">
      <div layout="row" layout-sm="column" layout-xs="column" ng-if="!auth.school">
        <md-input-container flex="50" flex-sm="100" flex-xs="100">
          <label>{{'studyYearSchedule.studyYear' | translate}}</label>
          <md-select ng-model="criteria.studyYear">
            <md-option ng-value="option" ng-repeat="option in studyYears">
              <hois-classifier-value ng-model="option.year" main-classifier-code="OPPEAASTA"></hois-classifier-value>
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="45" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'studyYearSchedule.schoolDepartment' | translate}}</label>
          <hois-select ng-model="criteria.schoolDepartments" values="schoolDepartments" multiple></hois-select>
        </md-input-container>
      </div>
      <br>
      <md-table-container ng-cloak layout-padding>
        <table class="schedule">
          <thead>
            <tr class="schedule">
              <th class="studentGroup schedule"></th>
              <th class="schedule" ng-repeat="studyPeriod in criteria.studyYear.studyPeriods" colspan="{{studyPeriod.weeks}}">
                {{currentLanguageNameField(studyPeriod)}}
              </th>
            </tr>
            <tr>
              <th class="schedule studentGroup"></th>
              <th class="schedule weekCell weekNr" ng-repeat="week in weeks">
                {{$index + 1}}
                <md-tooltip>
                    {{week.start | hoisDate}} - {{week.end | hoisDate}}
                </md-tooltip>
              </th>
            </tr>
          </thead>
          <tbody ng-repeat="department in schoolDepartments | filter: filterSchoolDepartments">
            <tr>
              <td colspan="{{weeks.length + 1}}" class="schedule schoolDepartment">{{currentLanguageNameField(department)}}</td>
            </tr>
            <tr ng-repeat="sg in studentGroups | filter: filterStudentGroups(department)">
              <td class="schedule studentGroup">{{sg.code}}</td>
              <!--
                                style="background: { getLegendById(getSchedule(sg.id, week.weekNr).studyYearScheduleLegend).color}"
                                Was not used insted of ng-style as VS code marked curly braces as error(css property expected),
                                though it did not cause an error on "grunt build" on local machine

                                ng-if="!isPastStudyYear" was used, because in case of past study year, it should not become bold when clicked
                            -->
              <td ng-if="!isPastStudyYear" class="schedule weekCell" ng-repeat="week in weeks" ng-click="openAddScheduleDialog(sg, week, getSchedule(sg.id, week.weekNr))"
                ng-style="{ background: true ? getLegendById(getSchedule(sg.id, week.weekNr).studyYearScheduleLegend).color : 'white' }" title="{{getSchedule(sg.id, week.weekNr).addInfo}}">
                {{getLegendById(getSchedule(sg.id, week.weekNr).studyYearScheduleLegend).code}}
              </td>
              <td ng-if="isPastStudyYear" class="schedule weekCell" ng-repeat="week in weeks"
                ng-style="{ background: true ? getLegendById(getSchedule(sg.id, week.weekNr).studyYearScheduleLegend).color : 'white' }" title="{{getSchedule(sg.id, week.weekNr).addInfo}}">
                {{getLegendById(getSchedule(sg.id, week.weekNr).studyYearScheduleLegend).code}}
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <div layout="row">
        <md-button class="md-raised md-primary" ng-click="save()" ng-show="!isPastStudyYear">{{'main.button.save' | translate}}</md-button>
      </div>
    </div>
  </form>
</div>

<style>
  table.schedule,
  th.schedule,
  td.schedule {
    border: 1px solid #1cb3ff;
    border-collapse: collapse;
  }

  .studentGroup {
    width: 100px;
  }

  .weekCell {
    width: 30px;
  }

  .schoolDepartment {
    font-weight: bold;
  }

  .weekNr {
    font-weight: normal;
  }
</style>
