<div layout="column" layout-padding>
    <form name="studyYearScheduleForm">

        <div layout="column">

            <div layout="row" layout-sm="column" layout-xs="column"  ng-if="!auth.school">
                <md-input-container flex="50" flex-sm="100" flex-xs="100">
                    <label>{{'studyYearSchedule.studyYear' | translate}}</label>
                    <md-select ng-model="criteria.studyYear">
                      <md-option ng-value="option" ng-repeat="option in studyYears">
                        <hois-classifier-value ng-model="option.year" main-classifier-code="OPPEAASTA"></hois-classifier-value>
                      </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="45" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
                    <label>{{'studyYearSchedule.schoolDepartment' | translate}}</label>
                    <hois-select ng-model="criteria.schoolDepartments" values="schoolDepartments" multiple></hois-select>
                </md-input-container>
            </div>
            <br>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="studyPeriod in getSelectedYearsStudyPeriods()" colspan="3">
                            {{currentLanguageNameField(studyPeriod)}}
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th ng-repeat="week in weeks">{{$index + 1}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="department in schoolDepartments | filter: filterSchoolDepartments">
                    <tr>
                        <td colspan="{{weeks.length + 1}}"><b>{{currentLanguageNameField(department)}}<b></td>
                    </tr>
                    <tr ng-repeat="sg in studentGroups | filter: filterStudentGroups(department)">
                        <td>{{sg.code}}</td>
                        <td ng-repeat="week in weeks" ng-click="openAddScheduleDialog(sg, week)">X</td>
                    </tr>
                </tbody>
            </table>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
        </div>
    </form>
    <!--<p ng-repeat="studyPeriod in getSelectedYearsStudyPeriods()">{{studyPeriod.nameEt}}</p>
    <hr><hr>
    <div ng-repeat="department in schoolDepartments | filter: filterSchoolDepartments">
        {{department.nameEt}}
        <ul>
            <li ng-repeat="sg in studentGroups | filter: filterStudentGroups(department)">{{department.nameEt}}: {{sg.code}}</li>
        </ul>
    </div>-->


 <!--<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->

</div>

<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
