<div id="scrolling_div" style="overflow: auto;">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="main selection" ng-cloak>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.id" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/view?_noback" name="enterprise.data">
            {{'enterprise.data' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/persons/view?_noback" name="enterprise.persons">
            {{'enterprise.persons' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/locations/view?_noback" name="enterprise.locations">
            {{'enterprise.locations' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/studentGroups/view?_noback" name="enterprise.studentGroups">
            {{'enterprise.studentGroups' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/contracts/view?_noback" name="enterprise.contracts">
            {{'enterprise.contracts' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/grades/view?_noback" name="enterprise.grades">
            {{'enterprise.grades' | translate}}</md-nav-item>
        <md-nav-item ng-if="auth.isAdmin() && enterprise.enterpriseSchoolId && enterprise.application" md-nav-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/admission/view?_noback" name="enterprise.admission">
            {{'enterprise.requests' | translate}}</md-nav-item>
    </md-nav-bar>
</div>

<div layout-padding>
    <div flex>
        <md-table-container>
            <table md-table md-progress="tabledata.$promise" class="secondary-table">
                <thead md-head md-order="criteria.order" md-on-reorder="loadData">
                <tr md-row>
                    <th md-column md-order-by="pa.valid_from, pa.valid_thru">{{'enterprise.admissionTab.period' | translate}}</th>
                    <th md-column>{{'enterprise.admissionTab.studentGroups' | translate}}</th>
                    <th md-column>{{'enterprise.admissionTab.places' | translate}}</th>
                    <th md-column>{{'enterprise.admissionTab.addInfo' | translate}}</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="row in tabledata.content track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td md-cell>{{row.validFrom | hoisDate}} - {{row.validThru | hoisDate}}</td>
                    <td md-cell>{{row.studentGroups ? row.studentGroups : '-'}}</td>
                    <td md-cell>{{row.places ? row.places : '-'}}</td>
                    <td md-cell>{{row.addInfo ? row.addInfo : '-'}}</td>
                    <td md-cell></td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]" md-page="criteria.page" 
    md-total="{{tabledata.totalElements}}"
    md-on-paginate="loadData" 
    md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}"
    md-page-select>
    </md-table-pagination>
    </div>
</div>
<div layout="row" layout-xs="column">
    <md-button ng-if="auth.isAdmin() && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_ETTEVOTE')" class="md-raised md-primary" ng-href="#/practice/enterprise/{{::enterprise.id}}/{{::enterprise.enterpriseSchoolId}}/admission/edit">{{'main.button.change' | translate}}</md-button>
    <md-button ng-if="auth.isAdmin()" class="md-raised" ng-click="back('#/practice/enterprise')">{{'main.button.back' | translate}}</md-button>
</div>