<div layout="row">
  <div flex layout-xs="column">
    <span ng-show="curriculum.status === STATUS.ENTERING">
      <span ng-show="!curriculum.id" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
      </span>
      <span ng-show="curriculum.id && !formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="save()" ng-if="curriculum.canChange">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised" ng-click="saveAndProceed()" ng-if="curriculum.canChange && curriculum.canConfirm">{{'main.button.status.approving' | translate}}</md-button>
        <md-button class="md-raised" ng-click="setStatusClosed()" ng-if="curriculum.canChange && curriculum.canClose">{{'main.button.status.close' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="delete()" ng-if="curriculum.canDelete">{{'main.button.delete' | translate}}</md-button>
      </span>
      <span ng-show="curriculum.id && formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="goToEditForm()" ng-if="curriculum.canChange">{{'main.button.change' | translate}}</md-button>
      </span>
    </span>
    <span ng-show="curriculum.status === STATUS.PROCEEDING && !formState.sentToEhis">
      <span ng-show="!formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="save()" ng-if="curriculum.canChange">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="changeStatusUnderRevision()" ng-if="curriculum.canSetUnderRevision">{{'curriculum.button.changeStatusUnderRevision' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="delete()" ng-if="curriculum.canDelete">{{'main.button.delete' | translate}}</md-button>
      </span>
      <span ng-show="formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="goToEditForm()" ng-if="curriculum.canChange">{{'main.button.change' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="changeStatusUnderRevision()" ng-if="curriculum.canSetUnderRevision">{{'curriculum.button.changeStatusUnderRevision' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="sendToEhis(true)" ng-if="curriculum.canConfirm">{{'curriculum.button.sendToEhisTest' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="sendToEhis(false)" ng-if="curriculum.canConfirm">{{'curriculum.button.sendToEhis' | translate}}</md-button>
        <md-button class="md-raised" ng-click="setStatusClosed()" ng-if="curriculum.canClose">{{'main.button.status.close' | translate}}</md-button>
      </span>
    </span>
    <span ng-show="curriculum.status === STATUS.PROCEEDING && formState.sentToEhis" layout-xs="column">
      <md-button class="md-raised md-default" ng-click="changeStatusUnderRevision()" ng-if="curriculum.canSetUnderRevision">{{'curriculum.button.changeStatusUnderRevision' | translate}}</md-button>
      <md-button class="md-raised md-default" ng-click="updateFromEhis(true)" ng-if="curriculum.canConfirm">{{'curriculum.button.updateFromEhisTest' | translate}}</md-button>
      <md-button class="md-raised md-default" ng-click="updateFromEhis(false)" ng-if="curriculum.canConfirm">{{'curriculum.button.updateFromEhis' | translate}}</md-button>
    </span>
    <span ng-show="curriculum.status === STATUS.VERIFIED">
      <span ng-show="!formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="save()" ng-if="curriculum.canChange">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="changeStatusUnderRevision()" ng-if="curriculum.canSetUnderRevision">{{'curriculum.button.changeStatusUnderRevision' | translate}}</md-button>
      </span>
      <span ng-show="formState.readOnly" layout-xs="column">
        <md-button class="md-raised md-primary" ng-click="goToEditForm()" ng-if="curriculum.canChange">{{'main.button.change' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="changeStatusUnderRevision()" ng-if="curriculum.canSetUnderRevision">{{'curriculum.button.changeStatusUnderRevision' | translate}}</md-button>
        <md-button class="md-raised" ng-click="setStatusClosed()" ng-if="curriculum.canClose">{{'main.button.status.close' | translate}}</md-button>
      </span>
    </span>
    <a ng-show="curriculum.id && (auth.isAdmin() || auth.isLeadingTeacher() || curriculum.status === STATUS.VERIFIED)"
       href="{{formState.curriculumXmlUrl}}" target="_blank" class="md-button md-raised" >XML</a>
    <md-button class="md-raised md-default" ng-click="back('#/curriculum', higherCurriculumForm)">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
