<div class="ois-form-layout" layout="column" layout-margin ng-cloak ng-show="!showMainForm">
    <form name="higherCurriculumVersionForm" layout="column">
		<fieldset tabindex="1">
		<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'curriculum.mainData' | translate}}</legend>
			<div layout="column">
				<md-input-container flex ng-if="!showMainForm">
					<label>{{'curriculum.version.code' | translate}}</label>
					<input name="code" ng-model="version.code" type="text" required md-maxlength="100" ng-model-options="{ debounce: 250 }"  
					hois-curriculum-version-code-validator unique-query="curriculumVersionCodeUniqueQuery" unique-function="validateVersionCode" ng-readonly="readOnly">
					<div ng-messages="higherCurriculumVersionForm.code.$error" ng-show="higherCurriculumVersionForm.code.$dirty">
						<div ng-message="hoisQueryValidation">
							{{'main.messages.error.mustBeUnique' | translate}}
						</div>
						<div ng-message="hoisFunctionValidation">
							{{'main.messages.error.mustBeUnique' | translate}}
						</div>
					</div>
				</md-input-container>
				<div layout="row" flex>
					<md-input-container flex="45">
						<label>{{'curriculum.version.firstAdmissionYear' | translate}}</label>
						<md-select ng-model="version.admissionYear" required ng-disabled="readOnly">
							<md-option ng-repeat="year in ::admissionYears" ng-value="year" aria-label="{{year}}">{{year}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="50" flex-offset="5">
						<label>{{'curriculum.version.type' | translate}}</label>
						<hois-classifier-select ng-model="version.type" main-classifier-code="OPPEKAVA_VERSIOON_LIIK" required model-value-attr="code" ng-disabled="readOnly"></hois-classifier-select>
					</md-input-container>
            <!--md-input-container flex>
                <label>{{'curriculum.version.status' | translate}}</label>
                <hois-classifier-select ng-model="version.status" main-classifier-code="OPPEKAVA_VERSIOON_STAATUS" show-only-values="allowedVersionStatuses" required model-value-attr="code" ng-disabled="readOnly"></hois-classifier-select>
            </md-input-container-->
				</div>
				<div layout="row" layout-sm="column" layout-xs="column">
					<md-input-container flex="45" flex-sm="100" flex-xs="100">
						<label>{{'curriculum.specialty.specialties' | translate}}</label>
						<md-select multiple ng-model="version.specialitiesReferenceNumbers" required ng-change="removeSpecsFromModules()" ng-disabled="readOnly">
							<md-option ng-repeat="speciality in curriculum.specialities | orderBy: currentLanguageNameField()" ng-value="speciality.referenceNumber">
								{{speciality[currentLanguageNameField()]}}
							</md-option>
						</md-select>
					</md-input-container>
					<div flex="50" flex-offset="5" ng-show="!readOnly" layout="start center">
						<md-button class="md-raised" ng-click="openAddSpecialtyDialog()">{{'curriculum.specialty.addNew' | translate}}</md-button>
					</div>
				</div>
		</fieldset>
		<div>&nbsp;</div>
		<fieldset tabindex="1" flex>
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'module.modules' | translate}}&nbsp;*</legend>
			<md-button class="md-raised" ng-click="openAddModuleDialog()" ng-if="!readOnly && version.specialitiesReferenceNumbers.length > 0">{{'module.add' | translate}}</md-button>

            <div ng-repeat="spectiality in curriculum.specialities | filter: filterSpecialities | orderBy: currentLanguageNameField()" layout="column" flex>
                <h2 class="md-title-small">{{'curriculum.specialty.specialty' | translate}} {{$index + 1}}: {{currentLanguageNameField(spectiality)}}</h2>
				<div flex class="secondary-table-header" layout="row">
					<div flex="5">&nbsp;</div>
					<div flex="35">{{'subject.name' | translate}}</div>
                    <div flex="10">{{'subject.code' | translate}}</div>
                    <div flex="20">EAP</div>
                    <div></div>
				</div>

                <div layout="column" flex ng-repeat="module in version.modules | filter: {minorSpeciality: false} | filter: filterModulesBySpeciality(spectiality) | orderBy: currentLanguageNameField()">
                    <div layout="row" flex class="occupation-header" layout-align="start center">
                        <a href="" ng-click="openAddModuleDialog(module)" flex="70">
                                {{'curriculum.module' | translate}} {{module[currentLanguageNameField()]}} {{module.totalCredits}} EAP
                                <!--<span ng-if="module.type !== 'KORGMOODUL_M'">(<hois-classifier-value ng-model="module.type" main-classifier-code="KORGMOODUL"></hois-classifier-value>)</span>-->
                                <span ng-if="module.type === 'KORGMOODUL_M'">({{currentLanguage()=='et' ? module.typeNameEt : module.typeNameEn}})</span>
                            </a>
                        <a class="remove nomargin" ng-click="removeModuleFromSpeciality(module, spectiality)" ng-if="!readOnly">&times;</a>
                    </div>

                    <div flex class="sub-header1" layout-align="start center" layout="row"><div>{{'subject.mandatory' | translate}}</div></div>
					<div ng-repeat="subject in module.subjects | filter: {optional: false} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
                            <div flex="5">&nbsp;</div>
							<div flex="35">{{subject[currentLanguageNameField()]}}</div>
							<div flex="10">{{subject.code}}</div>
							<div flex="20">{{subject.credits}}</div>
                            <div>
                                <a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
                            </div>
					</div>		

					<div layout="row" flex layout-align="start center" class="secondary-table-header">
						<div flex="5">&nbsp;</div>
						<div flex="35">{{'main.OF' | translate}}</div>
						<div flex="10">&nbsp;</div>
						<div flex="20">{{module.compulsoryStudyCredits}}</div>
						<div></div>
					</div>	

					<div flex class="sub-header1" layout-align="start center" layout="row"><div>{{'subject.optional' | translate}}</div></div>
					<div ng-repeat="subject in module.subjects | 
                        filter: {optional: true} | filter: {electiveModule: '!'} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
                            <div flex="5">&nbsp;</div>
							<div flex="35">{{subject[currentLanguageNameField()]}}</div>
							<div flex="10">{{subject.code}}</div>
							<div flex="20">{{subject.credits}}</div>
                            <div>
                                <a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
                            </div>
					</div>		

                    <div flex class="sub-header-italic" layout-align="start center" layout="row" style="padding-left: 10px"><div>{{'module.optionalsWithMinimum' | translate}}{{module.electiveModulesNumber}}</div></div>
                    <div ng-repeat="electiveModule in module.electiveModules | orderBy: currentLanguageNameField()" layout-align="start center" flex>
                            <div class="sub-header2" layout-align="start center" layout="row"><div>{{'module.optional' | translate}}: {{electiveModule[currentLanguageNameField()]}}</div></div>
							<div ng-repeat="subject in module.subjects | filter: {optional: true} |
                                filter: {electiveModule: electiveModule.referenceNumber} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
									<div flex="5">&nbsp;</div>
									<div flex="35">{{subject[currentLanguageNameField()]}}</div>
									<div flex="10">{{subject.code}}</div>
									<div flex="20">{{subject.credits}}</div>
									<div>
										<a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
									</div>
							</div>
                </div>							
					<div layout="row" flex layout-align="start center" class="secondary-table-header">
						<div flex="5">&nbsp;</div>
						<div flex="35">{{'module.overallAtLeast' | translate}}</div>
						<div flex="10">&nbsp;</div>
						<div flex="20">{{module.optionalStudyCredits}}</div>
						<div></div>
					</div>	
            </div>

        <!--Show modules by specialities-->

        
        </fieldset>
		<div>&nbsp;</div>
		<fieldset tabindex="1">
			<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'curriculum.minorSpecialty.minorSpecialties' | translate}}</legend>
			<md-button class="md-raised" ng-click="openAddMinorSpecialtyDialog()" ng-if="!readOnly">{{'curriculum.minorSpecialty.add' | translate}}</md-button>
			
			<div layout="column" flex ng-repeat="module in version.modules | filter: {minorSpeciality: true} | orderBy: currentLanguageNameField()">
                <div layout="row" flex class="occupation-header" layout-align="start center">
                     <a href="" ng-click="openAddMinorSpecialtyDialog(module)" flex="70">
                                {{'curriculum.minorSpecialty.minorSpecialty' | translate}} {{module[currentLanguageNameField()]}} {{module.totalCredits}} EAP</span>
                     </a>
                     <a class="remove nomargin" ng-click="removeModule(version.modules, module)" ng-if="!readOnly">&times;</a>
                 </div>	

				<div flex class="sub-header1" layout-align="start center" layout="row"><div>{{'subject.mandatory' | translate}}</div></div>
					<div ng-repeat="subject in module.subjects | filter: {optional: false} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
                            <div flex="5">&nbsp;</div>
							<div flex="35">{{subject[currentLanguageNameField()]}}</div>
							<div flex="10">{{subject.code}}</div>
							<div flex="20">{{subject.credits}}</div>
                            <div>
                                <a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
                            </div>
					</div>		

					<div layout="row" flex layout-align="start center" class="secondary-table-header">
						<div flex="5">&nbsp;</div>
						<div flex="35">{{'main.OF' | translate}}</div>
						<div flex="10">&nbsp;</div>
						<div flex="20">{{module.compulsoryStudyCredits}}</div>
						<div></div>
					</div>	
                
				    <div flex class="sub-header1" layout-align="start center" layout="row"><div>{{'subject.optional' | translate}}</div></div>
					<div ng-repeat="subject in module.subjects | 
                        filter: {optional: true} | filter: {electiveModule: '!'} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
                            <div flex="5">&nbsp;</div>
							<div flex="35">{{subject[currentLanguageNameField()]}}</div>
							<div flex="10">{{subject.code}}</div>
							<div flex="20">{{subject.credits}}</div>
                            <div>
                                <a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
                            </div>
					</div>		

                    <div flex class="sub-header-italic" layout-align="start center" layout="row" style="padding-left: 10px"><div>{{'module.optionalsWithMinimum' | translate}}{{module.electiveModulesNumber}}</div></div>
                    <div ng-repeat="electiveModule in module.electiveModules | orderBy: currentLanguageNameField()" layout-align="start center" flex>
                            <div class="sub-header2" layout-align="start center" layout="row"><div>{{'module.optional' | translate}}: {{electiveModule[currentLanguageNameField()]}}</div></div>
							<div ng-repeat="subject in module.subjects | filter: {optional: true} |
                                filter: {electiveModule: electiveModule.referenceNumber} | orderBy: currentLanguageNameField()" layout="row" flex class="secondary-table-row" layout-align="start center">
									<div flex="5">&nbsp;</div>
									<div flex="35">{{subject[currentLanguageNameField()]}}</div>
									<div flex="10">{{subject.code}}</div>
									<div flex="20">{{subject.credits}}</div>
									<div>
										<a class="remove nomargin" ng-click="deleteSubject(module, subject)" ng-if="!readOnly">&times;</a>
									</div>
							</div>	
					</div>
					<div layout="row" flex layout-align="start center" class="secondary-table-header">
						<div flex="5">&nbsp;</div>
						<div flex="35">{{'module.overallAtLeast' | translate}}</div>
						<div flex="10">&nbsp;</div>
						<div flex="20">{{module.optionalStudyCredits}}</div>
						<div></div>
					</div>	

            </div>
		</fieldset>
    </form>
    <div layout="row">
        <md-button class="md-raised md-primary" ng-href="#/higherCurriculum/{{version.curriculum}}/version/{{version.id}}/edit" ng-if="readOnly">{{'main.button.change' | translate}}</md-button>
        <md-button class="md-raised md-primary" ng-click="save()" ng-if="!readOnly">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-href="#/higherCurriculum/{{version.curriculum}}/edit" ng-if="!readOnly">{{'main.button.back' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-href="#/higherCurriculum/{{version.curriculum}}/view" ng-if="readOnly">{{'main.button.back' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="copy()" ng-if="version.id && !readOnly">{{'main.button.copy' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-click="delete()" ng-if="!readOnly">{{'main.button.delete' | translate}}</md-button>
    </div>
 </div>
 