<div class="ois-form-layout-padding ois-form-layout" ng-cloak>

  <div layout="column">

    <form name="absencesSearchForm" ng-submit="loadData()" novalidate class="nomargin">
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100" flex-xs="100">
          <label>{{'absence.studyYear' | translate}}</label>
          <hois-select ng-model="criteria.studyYear" type="studyyear" required></hois-select>
        </md-input-container>
        <md-input-container flex flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'absence.studyPeriod' | translate}}</label>
          <md-select ng-model="criteria.studyPeriod">
            <md-option ng-value="null"></md-option>
            <md-option ng-repeat="studyPeriod in studyPeriods | filter: filterByStudyYear(criteria.studyYear)" ng-value="studyPeriod.id">
              {{ currentLanguageNameField(studyPeriod) }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100" flex-xs="100">
          <label>{{'absence.curriculumVersion' | translate}}</label>
          <hois-select ng-model="criteria.curriculumVersions" type="curriculumversion" multiple></hois-select>
        </md-input-container>
        <md-input-container flex flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'absence.studentGroup' | translate}}</label>
          <input ng-model="criteria.studentGroupCode" type="text" md-maxlength="255">
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100" flex-xs="100">
          <label>{{'absence.student' | translate}}</label>
          <input ng-model="criteria.studentName" type="text" md-maxlength="255">
        </md-input-container>
        <md-input-container flex flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'absence.status' | translate}}</label>
          <md-select ng-model="criteria.isAccepted">
            <md-option ng-value="null"></md-option>
            <md-option ng-value="true">{{ 'absence.isAccepted' | translate }}</md-option>
            <md-option ng-value="false">{{ 'absence.isNotAccepted' | translate }}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div layout="row" layout-sm="row" layout-xs="column">
        <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
        <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
      </div>
    </form>

    <md-table-container ng-cloak layout-padding>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="p.lastname,p.firstname">{{'absence.student' | translate}}</th>
            <th md-column md-order-by="sa.valid_from">{{'absence.absenceFrom' | translate}}</th>
            <th md-column md-order-by="sa.valid_thru">{{'absence.absenceThru' | translate}}</th>
            <th md-column md-order-by="sa.cause">{{'absence.absenceCause' | translate}}</th>
            <th md-column md-order-by="sa.inserted_by">{{'absence.applicant' | translate}}</th>
            <th md-column md-order-by="sa.is_accepted">{{'absence.isAccepted' | translate}}</th>
            <th md-column md-order-by="sa.changed_by">{{'absence.absenceAcceptor' | translate}}</th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell class="one-row">
              <a ng-href="#/students/{{row.student.id}}/main">{{currentLanguageNameField(row.student)}}</a>
            </td>
            <td md-cell>{{row.validFrom | hoisDate}}</td>
            <td md-cell>{{row.validThru | hoisDate}}</td>
            <td md-cell>{{::row.cause}}</td>
            <td md-cell>{{::row.applicant}}</td>
            <td md-cell>{{row.isAccepted ? 'main.yes' : 'main.no' | translate}}</td>
            <td md-cell>{{row.acceptor}}</td>
            <td md-cell>
              <md-button ng-if="row.canAccept" md-no-ink class="md-primary change-button" ng-click="accept(row)">{{'absence.accept' | translate}}</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]" md-page="criteria.page" md-total="{{tabledata.totalElements}}"
      md-on-paginate="loadData" md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}' }"
      md-page-select></md-table-pagination>
  </div>
</div>
