<div class="ois-form-layout-padding" ng-cloak>
  <div flex>
    <form name="stipendForm">
      <div class="form-readonly">
        <div layout="row" flex>
          <md-input-container flex>
            <label class="textInput">{{formState.typeIsScholarship ? 'stipend.scholarshipType' : 'stipend.grantType' | translate}}</label>
            <hois-classifier-value ng-model="stipend.type" main-classifier-code="STIPTOETUS"></hois-classifier-value>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container flex>
            <label class="textInput">{{formState.typeIsScholarship ? 'stipend.scholarshipName' : 'stipend.grantName' | translate}}</label>
            <hois-value value="stipend.nameEt"></hois-value>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container flex>
            <label class="textInput">{{'stipend.studyPeriod' | translate}}</label>
            <hois-value value="currentLanguageNameField(formState.readonlyStudyPeriod)"></hois-value>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="20" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.applicationPeriod' | translate}}</label>
            <input type="hidden">
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.from' | translate}}</label>
            <hois-value value="stipend.applicationStart | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.thru' | translate}}</label>
            <hois-value value="stipend.applicationEnd | hoisDate"></hois-value>
          </md-input-container>

        </div>
        <div layout="row">
          <md-input-container flex="20" flex-md="100" flex-sm="100" flex-xs="100">
            <label>{{'stipend.paymentPeriod' | translate}}</label>
            <input type="hidden">
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.from' | translate}}</label>
            <hois-value value="stipend.paymentStart | hoisDate"></hois-value>
          </md-input-container>
          <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
            <label>{{'main.thru' | translate}}</label>
            <hois-value value="stipend.paymentEnd | hoisDate"></hois-value>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <md-input-container flex="45">
            <label>{{'stipend.places' | translate}}</label>
            <hois-value value="stipend.places"></hois-value>
          </md-input-container>
          <md-input-container flex="50" flex-offset="5">
            <label>{{'stipend.amountPaid' | translate}}</label>
            <hois-value value="stipend.amountPaid"></hois-value>
          </md-input-container>
        </div>
        <div>
          <div layout="row" flex>
            <md-input-container flex>
              <label>{{'stipend.curriculums' | translate}}</label>
              <hois-value value="formState.curriculumsDisplay.join(', ')"></hois-value>
            </md-input-container>
          </div>
          <div layout="row" flex>
            <md-input-container flex="45" ng-if="display.studyLoad">
              <label class="textInput">{{'stipend.studyLoad' | translate}}</label>
              <hois-classifier-value ng-model="stipend.studyLoads" main-classifier-code="OPPEKOORMUS" multiple></hois-classifier-value>
            </md-input-container>
            <md-input-container flex="45" ng-if="display.studyForm">
              <label class="textInput">{{'stipend.studyForm' | translate}}</label>
              <hois-classifier-value ng-model="stipend.studyForms" main-classifier-code="OPPEVORM" multiple></hois-classifier-value>
            </md-input-container>
            <md-input-container flex="50" flex-offset="5">
              <label class="textInput">{{'stipend.courses' | translate}}</label>
              <hois-classifier-value ng-model="stipend.courses" main-classifier-code="KURSUS" multiple></hois-classifier-value>
            </md-input-container>
          </div>
          <div ng-if="display.avgPreviousCompletion">
            <div layout="row" flex>
              <md-input-container flex="45">
                <label class="textInput">{{'stipend.averageMark' | translate}}</label>
                <hois-value value="stipend.averageMark"></hois-value>
              </md-input-container>
              <md-input-container flex="50" flex-offset="5">
                <label class="textInput">{{'stipend.priority' | translate}}</label>
                <hois-classifier-value ng-model="stipend.averageMarkPriority" main-classifier-code="PRIORITEET"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container flex="45">
                <label class="textInput">{{'stipend.lastPeriodMark' | translate}}</label>
                <hois-value value="stipend.lastPeriodMark"></hois-value>
              </md-input-container>
              <md-input-container flex="50" flex-offset="5">
                <label class="textInput">{{'stipend.priority' | translate}}</label>
                <hois-classifier-value ng-model="stipend.lastPeriodMarkPriority" main-classifier-code="PRIORITEET"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container flex="45">
                <label class="textInput">{{'stipend.curriculumCompletion' | translate}}</label>
                <hois-value value="stipend.curriculumCompletion"></hois-value>
              </md-input-container>
              <md-input-container flex="50" flex-offset="5">
                <label class="textInput">{{'stipend.priority' | translate}}</label>
                <hois-classifier-value ng-model="stipend.curriculumCompletionPriority" main-classifier-code="PRIORITEET"></hois-classifier-value>
              </md-input-container>
            </div>
          </div>
          <div layout="row" flex ng-if="display.maxAbsences">
            <md-input-container flex="45">
              <label class="textInput">{{'stipend.maxAbsences' | translate}}</label>
              <hois-value value="stipend.maxAbsences"></hois-value>
            </md-input-container>
            <md-input-container flex="50" flex-offset="5">
              <label class="textInput">{{'stipend.priority' | translate}}</label>
              <hois-classifier-value ng-model="stipend.maxAbsencesPriority" main-classifier-code="PRIORITEET"></hois-classifier-value>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex="20" flex-md="100" flex-sm="100" flex-xs="100">
              <label>{{'stipend.studyPeriodDates' | translate}}</label>
              <input type="hidden">
            </md-input-container>
            <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
              <label>{{'main.from' | translate}}</label>
              <hois-value value="stipend.studyStartPeriodStart | hoisDate"></hois-value>
            </md-input-container>
            <md-input-container flex="35" flex-md="100" flex-sm="100" flex-xs="100" flex-offset="5">
              <label>{{'main.thru' | translate}}</label>
              <hois-value value="stipend.studyStartPeriodEnd | hoisDate"></hois-value>
            </md-input-container>
          </div>
          <div layout="row">
            <md-checkbox ng-model="stipend.isAcademicLeave" disabled aria-label="Is academic leave">
              {{'stipend.isAcademicLeave' | translate}}
            </md-checkbox>
          </div>
          <div layout="row">
            <md-checkbox ng-model="stipend.isTeacherConfirm" ng-if="display.isTeacherConfirm" disabled aria-label="Is academic leave">
              {{'stipend.isTeacherConfirm' | translate}}
            </md-checkbox>
          </div>
          <div layout="row">
            <md-checkbox ng-model="stipend.isStudyBacklog" ng-if="display.isStudyBacklog" disabled aria-label="Is academic leave">
              {{'stipend.isStudyBacklog' | translate}}
            </md-checkbox>
          </div>

          <div layout="row">
            <md-checkbox ng-model="stipend.isFamilyIncomes" ng-if="display.isFamilyIncomes" disabled aria-label="Is academic leave">
              {{'stipend.isFamilyIncomes' | translate}}
            </md-checkbox>
          </div>
          <div layout="row">
            <div layout="row">
              <md-button class="md-raised" ng-click="back('#/scholarships/', stipendForm)">{{'main.button.back' | translate}}</md-button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
