<div class="ois-form-layout-padding" layout="column" ng-cloak>
  <form name="personForm" class="nomargin">
   <div layout="column" flex>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100">
          <label>{{'person.idcode' | translate}}</label>
          <hois-value value="person.idcode"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-sm="100"  flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'person.sex' | translate}}</label>
          <hois-classifier-value ng-model="person.sex" main-classifier-code="SUGU"></hois-classifier-value>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="20" flex-sm="100">
          <label>{{'teacher.person.birthdate' | translate}}</label>
          <hois-value value="'main.formattedDate' | translate: {date: person.birthdate}"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100">
          <label>{{'person.firstname' | translate}}</label>
          <hois-value value="person.firstname"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-sm="100"  flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'person.lastname' | translate}}</label>
          <hois-value value="person.lastname"></hois-value>
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-input-container flex="45" flex-sm="100">
          <label>{{'person.email' | translate}}</label>
          <hois-value value="person.email"></hois-value>
        </md-input-container>
        <md-input-container flex="50" flex-sm="100"  flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
          <label>{{'person.phone' | translate}}</label>
          <hois-value value="person.phone"></hois-value>
        </md-input-container>
      </div>
    </div>
    <!--<md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>-->
    <md-button ng-if="person.id" ng-click="delete()" class="md-raised">{{'main.button.delete' | translate}}</md-button>
    <md-button ng-click="back('#/persons')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </form>
  <div ng-if="person.id">
    <div layout="row" class="align-center">
      <h2>{{'user.role' | translate}}</h2>
      <md-button class="md-primary" ng-if="person.id" ng-href="#/persons/{{::person.id}}/users/new">{{'main.button.create' | translate}}</md-button>
    </div >
    <div layout="row">
      <table md-table class="secondary-table">
        <thead md-head>
        <tr md-row>
          <th ng-if="showSchool" md-column>{{'school.label' | translate}}</th>
          <th md-column>{{'user.role' | translate}}</th>
          <th md-column>{{'main.status' | translate}}</th>
          <th md-column></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="user in person.users | orderBy: orderValue" ng-class-odd="'odd'" ng-class-even="'even'">
          <td ng-if="showSchool" md-cell>{{currentLanguageNameField(user.school)}}</td>
          <td md-cell>{{currentLanguageNameField(user.role)}}</td>
          <td md-cell>{{user.valid ? 'main.valid' : 'main.invalid' | translate }}</td>
          <td md-cell ><md-button class="md-primary change-button" ng-href="#/persons/{{::person.id}}/users/{{::user.id}}/edit">{{'main.button.change' | translate}}</md-button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
