<div class="ois-form-layout-padding" layout="column" ng-cloak>
  <form name="userForm">
    <div layout="column" flex>
      <div layout="row" flex class="form-readonly">
        <md-input-container flex="45">
          <label>{{'person.name' | translate}}</label>
          <hois-value value="user.person.fullname"/>
        </md-input-container>
        <md-input-container flex-offset="5" flex="50">
          <label>{{'person.idcode' | translate}}</label>
          <hois-value value="user.person.idcode"/>
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>{{'school.label' | translate}}</label>
        <hois-select ng-disabled="noSchool.indexOf(user.role) !== -1 || !auth.isMainAdmin()" ng-model="user.school.id" ng-required="noSchool.indexOf(user.role) === -1" type="school"></hois-select>
      </md-input-container>
      <md-input-container flex>
        <label>{{'user.role' | translate}}</label>
        <hois-classifier-select ng-model="user.role" filter-values="filterValues" ng-change="roleChanged()" main-classifier-code="ROLL" model-value-attr="code" required></hois-classifier-select>
      </md-input-container>
      <div layout="row">
        <md-input-container flex="15">
          <label>{{'user.validFrom' | translate}}</label>
          <md-datepicker ng-model="user.validFrom" md-max-date="user.validThru" required md-open-on-focus></md-datepicker>
        </md-input-container>
        <md-input-container flex>
          <label>{{'user.validThru' | translate}}</label>
          <md-datepicker ng-model="user.validThru" md-min-date="user.validFrom" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
    </div>
    <div>
      <div flex>
        <md-table-container>
          <table md-table ng-show="user.role">
            <thead md-head>
              <tr md-row>
                <th md-column>{{'user.rights.right' | translate}}</th>
                <th md-column ng-repeat="perm in permissions">
                  <md-checkbox ng-model="multiSelects[perm.code]" ng-change="multiSelectPermission(perm.code, multiSelects[perm.code])" aria-label="{{currentLanguageNameField(perm)}}" flex>{{currentLanguageNameField(perm)}}</md-checkbox>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="object in objectsForRole | orderBy: currentLanguageNameField()" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>{{currentLanguageNameField(object)}}</td>
                <td md-cell ng-repeat="perm in permissions">
                  <md-checkbox ng-if="showPermission(object.code, perm.code)" ng-model="(rights[object.code] || {})[perm.code]" aria-label="{{currentLanguageNameField(object)+' '+currentLanguageNameField(perm)}}" flex></md-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
    <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
    <md-button ng-if="user.id" ng-click="delete()" class="md-raised">{{'main.button.delete' | translate}}</md-button>
    <md-button ng-click="back('#/persons/' + user.person.id + '/edit')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </form>
</div>
