<div class="ois-form-layout-padding" layout="column" ng-cloak>
  <form name="userForm" class="ois-form-layout nomargin">
    <div layout="column" flex>
      <div layout="row" flex>
        <md-input-container flex>
          <label>{{'person.name' | translate}}</label>
          <input ng-model="user.person.fullname" type="text" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>{{'person.idcode' | translate}}</label>
          <input ng-model="user.person.idcode" type="text" disabled>
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>{{'school.label' | translate}}</label>
        <hois-school-select ng-disabled="noSchool.indexOf(user.role) !== -1 || !showSchool" ng-model="user.school" ng-required="noSchool.indexOf(user.role) === -1"></hois-school-select>
      </md-input-container>
      <md-input-container flex>
        <label>{{'user.role' | translate}}</label>
        <hois-classifier-select ng-model="user.role" filter-values="filterValues" ng-change="roleChange();" main-classifier-code="ROLL" model-value-attr="code" required></hois-classifier-select>
      </md-input-container>
      <md-input-container flex>
        <label>{{'user.validFrom' | translate}}</label>
        <md-datepicker ng-model="user.validFrom" md-max-date="user.validThru" required md-open-on-focus></md-datepicker>
      </md-input-container>
      <md-input-container flex>
        <label>{{'user.validThru' | translate}}</label>
        <md-datepicker ng-model="user.validThru" md-min-date="user.validFrom" md-open-on-focus></md-datepicker>
      </md-input-container>
    </div>
    <div layout-padding>
      <div flex>
        <md-table-container>
          <table md-table ng-show="user.role">
            <thead md-head>
              <tr md-row>
                <th md-column>{{'user.rights.right' | translate}}</th>
                <th md-column>{{'user.rights.insertModify' | translate}}</th>
                <th md-column>{{'user.rights.confirmation' | translate}}</th>
                <th md-column>{{'user.rights.searchOpen' | translate}}</th>

                <!--<th md-column>{{'users.rights.delete' | translate}}</th>-->
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="right in user.rights | orderBy: orderValue" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell><hois-classifier-value ng-model="right.object" main-classifier-code="TEEMAOIGUS"></hois-classifier-value></td>
                <td md-cell><md-checkbox ng-model="right.oigusM" flex></md-checkbox></td>
                <td md-cell><md-checkbox ng-model="right.oigusK" flex></md-checkbox></td>
                <td md-cell><md-checkbox ng-model="right.oigusV" flex></md-checkbox></td>

                <!--<td md-cell><md-checkbox ng-model="right.oigus_D" flex></md-checkbox></td>-->
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
    </div>
    <md-button ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
    <md-button ng-if="user.id" ng-click="delete()" class="md-raised">{{'main.button.delete' | translate}}</md-button>
    <md-button ng-href="#/persons/{{::user.person.id}}/edit" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </form>
</div>
