<div ng-include="'timetable/generalTimetable/timetable.generalTimetable.navbar.html'"></div>

<div ng-show="auth.isStudent() || auth.isParent()" ng-controller="StudentTimetableViewController">
  <div ng-include="'timetable/timetable.week.view.html'"></div>
</div>

<div ng-show="auth.isTeacher()" ng-controller="TeacherTimetableViewController">
  <div ng-include="'timetable/timetable.week.view.html'"></div>
</div>

<div layout-padding>
  <div flex>
    <div ng-repeat="row in timetables track by $index">
      <a ng-class="{shownTimetable: $index === shownTimetableIndex}" ng-click="showTimetable(row.id, row.studyPeriodId, $index)">
        {{currentLanguageNameField(row)}} {{row.startDate | hoisDate}}-{{row.endDate | hoisDate}}</a>
    </div>
  </div>
</div>
