<div ng-include="'timetable/generalTimetable/timetable.generalTimetable.navbar.html'"></div>

<div>
  <div ng-if="groupTimetables">
    <md-grid-list ng-app="app" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-lg="8" md-cols-gt-lg="8" md-gutter="1em"
      md-row-height="40px" flex>
      <md-grid-tile ng-repeat="row in groupTimetables" style="text-align: left;">
        <md-button class="md-button" md-colors="{background: 'background-200'}" ng-click="showGroupWeek(row.groupId)">
          {{row.groupCode}}
        </md-button>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div ng-controller="GroupTimetableViewController">
    <div ng-include="'timetable/timetable.week.view.html'"></div>
  </div>
</div>
