<md-nav-bar md-selected-nav-item="currentNavItem" aria-label="{{'timetable.options' | translate}}">
  <md-nav-item ng-if="auth.isStudent() || auth.isTeacher()" md-nav-href="#/timetable/personalGeneralTimetable?_menu" name="personal">
    {{'timetable.myTimetable' | translate}}</md-nav-item>
  <md-nav-item ng-if="auth.isParent()" md-nav-href="#/timetable/personalGeneralTimetable?_menu" name="personal">
    {{'timetable.parentTimetable' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/timetable/generalTimetableByGroup?_menu" name="studentGroup">{{'timetable.studentGroups' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/timetable/generalTimetableByTeacher?_menu" name="teacher">{{'timetable.teachers' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/timetable/generalTimetableByRoom?_menu" name="room">{{'timetable.rooms' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding ng-if="timetables.length > 0">
  <md-button ng-if="!timetableSearch" class="md-icon-button timetableIconButton" ng-click="showSearch()">
    <md-tooltip md-direction="bottom">{{'timetable.search.label' | translate}}</md-tooltip>
    <md-icon md-font-set="material-icons" class="material-icons md-primary md-48">search</md-icon>
  </md-button>
</div>

<div> 
  <div ng-if="timetableSearch" ng-controller="GeneralTimetableSearchController">
      <div ng-include="'timetable/generalTimetable/timetable.generalTimetable.search.html'"></div>
      
      <div ng-controller="SearchTimetableViewController">
          <div ng-include="'timetable/timetable.week.view.html'"></div>
      </div>
  
      <md-button ng-click="backToTimetableByGroup()" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
  
  <span ng-show="!timetableSearch">
    <div ng-if="timetablesByCurriculums">
      <md-grid-list ng-app="app" md-cols="5" md-gutter="1em" md-row-height="36px" flex>
        <md-grid-tile ng-repeat="row in timetablesByCurriculums" style="text-align: left;">
          <md-button class="md-raised md-primary" ng-click="showGroupWeek(shownStudyPeriodId, row.groupId, shownTimetableId)">
            {{row.groupCode}}
          </md-button>
        </md-grid-tile>
      </md-grid-list>
    </div>
  
    <div ng-controller="GroupTimetableViewController">
      <div ng-include="'timetable/timetable.week.view.html'"></div>
    </div>
  
    <div layout-padding>
      <div ng-repeat="row in timetables track by $index" style="padding:0;">
        <a ng-class="{shownTimetable: $index === shownTimetableIndex}" ng-click="showTimetable(row.id, row.studyPeriodId)">
          {{currentLanguageNameField(row)}} {{row.startDate | hoisDate}}-{{row.endDate | hoisDate}}
        </a>
      </div>
    </div>
  </span>
</div>