<div ng-if="isForbidden" layout-margin>
  <hois-whiteframe-warning md-color="'accent'">
    <span>{{'main.messages.error.onlyForLoggedInUsers' | translate}}</span>
  </hois-whiteframe-warning>

  <md-button ng-click="back('#/timetables/')" class="md-raised">{{'main.button.back' | translate}}</md-button>
</div>
<div ng-if="!isForbidden" ng-include="'timetable/generalTimetable/timetable.generalTimetable.navbar.html'"></div>

<div ng-if="!isForbidden" class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <fieldset>
      <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.searchlabel' | translate}}</legend>
      <form name="timetableSearchForm" ng-submit="loadData()" novalidate class="nomargin">
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container>
            <label>{{'main.from' | translate}}</label>
            <md-datepicker ng-model="criteria.from" md-max-date="criteria.thru" hois-datepicker-extension hd-controller="directiveControllers"></md-datepicker>
          </md-input-container>

          <md-input-container flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
            <label>{{'main.thru' | translate}}</label>
            <md-datepicker ng-model="criteria.thru" md-min-date="criteria.from" hois-datepicker-extension hd-controller="directiveControllers"></md-datepicker>
          </md-input-container>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-autocomplete flex="45" flex-sm="100" flex-xs="100"
            md-search-text="teacherSearchText"
            md-selected-item="criteria.teacherObject"
            md-items="item in parameterSearch(teacherSearchText, formState.teachers)"
            md-item-text="currentLanguageNameField(item)"
            md-selected-item-change="selectedTeacherChanged(item)"
            md-min-length="1"
            md-floating-label="{{(isHigherSchool ? 'timetable.search.teacherHigher' :'timetable.search.teacherVocational') | translate}}"
            md-require-match
            md-no-cache>
            <md-item-template>
              <span md-highlight-text="teacherSearchText">{{currentLanguageNameField(item)}}</span>
            </md-item-template>
          </md-autocomplete>

          <md-autocomplete flex="50" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0"
            md-search-text="studentGroupSearchText"
            md-selected-item="criteria.studentGroupObject"
            md-items="item in parameterSearch(studentGroupSearchText, formState.studentGroups)"
            md-item-text="currentLanguageNameField(item)"
            md-selected-item-change="selectedStudentGroupChanged(item)"
            md-min-length="1"
            md-floating-label="{{'timetable.search.studentGroup' | translate}}"
            md-require-match
            md-no-cache>
            <md-item-template>
              <span md-highlight-text="studentGroupSearchText">{{currentLanguageNameField(item)}}</span>
            </md-item-template>
          </md-autocomplete>
        </div>

        <div layout="row" layout-sm="column" layout-xs="column">
          <md-autocomplete flex="45" flex-sm="100" flex-xs="100"
            md-search-text="roomSearchText"
            md-selected-item="criteria.roomObject"
            md-items="item in parameterSearch(roomSearchText, formState.rooms)"
            md-item-text="currentLanguageNameField(item)"
            md-selected-item-change="selectedRoomChanged(item)"
            md-min-length="1"
            md-floating-label="{{'timetable.search.room' | translate}}"
            md-require-match
            md-no-cache>
            <md-item-template>
              <span md-highlight-text="roomSearchText">{{currentLanguageNameField(item)}}</span>
            </md-item-template>
          </md-autocomplete>

          <md-input-container flex="50" flex-sm="100" flex-xs="100" flex-offset="5" flex-offset-sm="0" flex-offset-xs="0">
            <label class="textInput">{{'timetable.timetableEvent.name' | translate}}</label>
            <input ng-model="criteria.name" type="text" md-maxlength="255">
          </md-input-container>
        </div>

        <div layout="row">
          <md-button type="submit" class="md-raised md-primary">{{'main.button.search' | translate}}</md-button>
          <md-button class="md-raised" ng-click="clearSearchParameters()">{{'main.button.clear' | translate}}</md-button>
        </div>
      </form>
    </fieldset>
  </div>

  <div layout-padding>
    <div flex>
      <md-table-container>
        <table md-table md-progress="tabledata.$promise">
          <thead md-head md-order="criteria.order" md-on-reorder="loadData">
            <tr md-row>
              <th md-column md-order-by="4, cast(tet_start as time), cast(tet_end as time)">{{'timetable.timetableEvent.date' | translate}}</th>
              <th md-column md-order-by="cast(tet_start as time), cast(tet_end as time)">{{'timetable.timetableEvent.time' | translate}}</th>
              <th md-column md-order-by="{{currentLanguage()==='en' ? 3 : 2}}">{{'timetable.timetableEvent.name' | translate}}</th>
              <th md-column>{{(isHigherSchool ? 'timetable.timetableEvent.teachersHigher' : 'timetable.timetableEvent.teachersVocational') | translate}}</th>
              <th md-column>{{'timetable.timetableEvent.rooms' | translate}}</th>
              <th md-column>{{'timetable.timetableEvent.studentGroups' | translate}}</th>
              <th md-column>{{'timetable.timetableEvent.students' | translate}}</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
              <td md-cell>{{::row.date | hoisDate}}</td>
              <td md-cell>{{::row.timeStart | hoisTime}}-{{::row.timeEnd | hoisTime}}</td>
              <td md-cell>{{currentLanguageNameField(row)}}</td>
              <td md-cell>
                <span ng-repeat="teacher in row.teachers | limitTo: 5">{{::teacher.name}}{{$last ? "" : ", "}}</span>
                <span class="custom-tooltip" ng-if="row.teachers.length > 5" ng-click="openEventRelatedEntitiesDialog(row, 'teacher')">{{'main.button.showMore' | translate}}</span>
              </td>
              <td md-cell>
                <span ng-repeat="room in row.rooms | orderBy: ['buildingCode', 'roomCode']">
                  <span ng-if="room.id">{{::room.buildingCode}}-{{::room.roomCode}}</span><span ng-if="!room.id">{{::room.roomCode}}</span>{{$last ? "" : ", "}}
                </span>
              </td>
              <td md-cell>
                <span ng-repeat="group in row.studentGroups | orderBy: 'code' | limitTo: 5">{{::group.code}}{{$last ? "" : ", "}}</span>
                <span class="custom-tooltip" ng-if="row.studentGroups.length > 5" ng-click="openEventRelatedEntitiesDialog(row, 'studentGroup')">{{'main.button.showMore' | translate}}</span>
              </td>
              <td md-cell>
                <span ng-repeat="student in row.students | limitTo: 5">{{::student.name}}{{$last ? "" : ", "}}</span>
                <span class="custom-tooltip" ng-if="row.students.length > 5" ng-click="openEventRelatedEntitiesDialog(row, 'student')">{{'main.button.showMore' | translate}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
        md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
        md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}"
        md-page-select></md-table-pagination>
    </div>
  </div>
</div>
