<md-table-container ng-if="application.records.length > 0">
  <table md-table md-progress="tabledata.$promise" class="secondary-table">
    <thead md-head md-on-reorder="loadData">
      <tr md-row>
        <th md-column ng-if="!(application.status === 'VOTA_STAATUS_K')" colspan="1">{{'apel.formalLearnings.transfer' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.school' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.subject' | translate}} ({{'apel.formalLearnings.code' | translate}})</th>
        <th md-column>{{'apel.formalLearnings.creditsEAP' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.assessment' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.result' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.resultDate' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.teacher' | translate}}</th>
        <th md-column>{{'apel.formalLearnings.module' | translate}} ({{'apel.formalLearnings.required' | translate}})</th>
        <th md-column>{{'apel.formalLearnings.substitutableSubjects' | translate}}</th>
        <th md-column ng-if="editing"></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="row in application.records | filter:{isFormalLearning: true}" ng-class-odd="'odd'" ng-class-even="'even'">
        <td md-cell ng-if="!(application.status === 'VOTA_STAATUS_K')">
          <md-checkbox ng-if="(row.data[0].transfer === false || row.data[0].transfer === true) && canChangeTransferStatus" 
            ng-model="row.data[0].transfer" ng-click="changeFormalTransferStatus(row.data[0])" aria-label="{{'apel.formalLearnings.transfer' | translate}}"></md-checkbox>
          <md-checkbox ng-if="(row.data[0].transfer === false || row.data[0].transfer === true) && !canChangeTransferStatus" 
            ng-model="row.data[0].transfer" ng-click="changeFormalTransferStatus(row.data[0])" aria-label="{{'apel.formalLearnings.transfer' | translate}}" ng-disabled="true"></md-checkbox>
        </td>
        <td md-cell>{{currentLanguageNameField(row.data[0].school)}}</td>
        <td md-cell>{{currentLanguageNameField(row.data[0].subject)}} ({{row.data[0].code}})</td>
        <td md-cell>{{row.data[0].credits}}</td>
        <td md-cell>{{row.data[0].assessment.value}}</td>
        <td md-cell>{{row.data[0].grade.value}}</td>
        <td md-cell>{{row.data[0].gradeDate | hoisDate}}</td>
        <td md-cell>{{row.data[0].teachers}}</td>
        <td md-cell>
            <span ng-if="row.data[0].isOptional === false">{{currentLanguageNameField(row.data[0].module)}} ({{'main.yes' | translate}})</span>
            <span ng-if="row.data[0].isOptional === true">{{currentLanguageNameField(row.data[0].module)}} ({{'main.no' | translate}})</span>
        </td>
        <td md-cell>
            <p ng-repeat="replacedSubjectOrModule in row.data[0].formalReplacedSubjectsOrModules">{{currentLanguageNameField(replacedSubjectOrModule.subject)}} ({{replacedSubjectOrModule.subject.code}})</p>
        </td>
        <td md-cell ng-if="editing">
            <md-button md-no-ink class="md-primary change-button" ng-click="editFormalLearning(row.data[0].recordId)">{{'main.button.change' | translate}}</md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
