<md-dialog aria-label="studyfield add dialog" flex="50" flex-xs="90">
    <form name="dialogForm" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{"curriculum.fieldOfStudy" | translate}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-set="material-icons">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <span flex></span>
        <div class="ois-form-layout form-readonly" layout="column" layout-margin ng-cloak>
            <div layout="row">
                <md-input-container flex>
                    <label>{{'curriculum.studyField.nameEt' | translate}}</label>
                    <hois-value value="data.nameEt"></hois-value>
                </md-input-container>
    
                <md-input-container flex>
                    <label>{{'curriculum.studyField.nameEn' | translate}}</label>
                    <hois-value value="data.nameEn"></hois-value>
                </md-input-container>
            </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row" layout-align="start center">
        <md-button class="md-raised" ng-click="cancel()">{{"main.button.close" | translate}}</md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
  
  