<div class="ois-form-layout-padding" ng-cloak>

  <div class="form-readonly">
    <div layout="row" layout-sm="column" layout-xs="column">
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.number' | translate}}</label>
        <hois-value value="record.protocolNr"></hois-value>
      </md-input-container>
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.status' | translate}}</label>
        <hois-classifier-value ng-model="record.status" main-classifier-code="PROTOKOLL_STAATUS"></hois-classifier-value>
      </md-input-container>
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.studyPeriod' | translate}}</label>
        <hois-value value="currentLanguageNameField(record.subjectStudyPeriodMidtermTaskDto.subjectStudyPeriod.studyPeriod)"></hois-value>
      </md-input-container>
    </div>

    <div layout="row" layout-sm="column" layout-xs="column">
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.type' | translate}}</label>
        <hois-classifier-value ng-model="record.protocolType" main-classifier-code="PROTOKOLLI_LIIK"></hois-classifier-value>
      </md-input-container>
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.subject' | translate}}</label>
        <hois-value value="currentLanguageNameField(record.subjectStudyPeriodMidtermTaskDto.subjectStudyPeriod.subject)"></hois-value>
      </md-input-container>
      <md-input-container flex flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.teacher' | translate}}</label>
        <hois-value value="record.subjectStudyPeriodMidtermTaskDto.subjectStudyPeriod.teachers.join(', ')"></hois-value>
      </md-input-container>
    </div>
  </div>

  <form layout="column" name="higherProtocolForm">
    <md-table-container>
      <table md-table md-row-select="formState.canCalculate" multiple="true" ng-model="calculateGrades.protocolStudents">
        <thead md-head>
          <tr md-row>
            <th md-column>{{'higherProtocol.student' | translate}}</th>
            <th md-column ng-show="record.subjectStudyPeriodMidtermTaskDto.subjectStudyPeriod.isPracticeSubject">{{'higherProtocol.practiceResult' | translate}}</th>
            <th md-column ng-repeat="midtermTask in record.subjectStudyPeriodMidtermTaskDto.midtermTasks">
              {{getMidtermTaskHeader(midtermTask)}}
            </th>
            <th md-column>{{'higherProtocol.finalGrade' | translate}}</th>
            <th md-column ng-if="formState.canChangeConfirmedProtocolGrade" style="min-width: 250px;">{{'higherProtocol.changeReason' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="student in record.protocolStudents | orderBy: 'student.nameEt'" ng-disabled="!student.canEdit" ng-class-odd="'odd'" ng-class-even="'even'"
          md-select="student.id" md-select-id="student.id">
            <ng-form name="higherProtocolStudentForm">
              <td md-cell>{{student.student.nameEt}}</td>
              <td md-cell ng-show="record.subjectStudyPeriodMidtermTaskDto.subjectStudyPeriod.isPracticeSubject">
                <span ng-repeat="journalResult in student.practiceJournalResults | orderBy: 'inserted'">
                  <span ng-class="{badResult: !gradeUtil.isPositive(journalResult.grade.code)}">{{journalResult.grade | hoisHigherGrade: letterGrades}}</span>
                  <span ng-if="!$last">/</span>
                </span>
              </td>
              <td md-cell ng-repeat="result in record.subjectStudyPeriodMidtermTaskDto.studentResults | filter: filterStudentResults(student)">
                <span ng-if="!result.isText">{{result.points}}</span>
                <span ng-if="result.isText">{{result.pointsTxt}}</span>
              </td>
              <td md-cell>
                <hois-select class="protocolGradeSelect" ng-model="student.grade" ng-change="gradeChanged(student)" values="grades"
                  value-property="code" show-property="shownValue" hide-values="hideInvalid" sorted-query="true"
                  aria-label="{{'higherProtocol.finalGrade' | translate}}" ng-disabled="!formState.canEditProtocol || !student.canEdit"></hois-select>
              </td>
              <td md-cell ng-if="formState.canChangeConfirmedProtocolGrade">
                <md-input-container ng-if="student.gradeHasChanged">
                  <input ng-model="student.addInfo" aria-label="addInfo" type="text" md-maxlength="255" ng-change="addInfoChanged(student);" required>
                </md-input-container> 
                <span ng-if="student.addInfo && !student.gradeHasChanged">
                  {{student.addInfo}}
                </span>
              </td>
            </ng-form>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <br>
    <div layout="row">
      <md-button class="md-raised" ng-click="calculate()" ng-show="formState.canCalculate" ng-disabled="calculateGrades.protocolStudents.length === 0">{{'higherProtocol.calculate' | translate}}</md-button>
    </div>
    <br>
    <div>
      <md-button ng-show="formState.canEditProtocol && record.status.code !== 'PROTOKOLL_STAATUS_K'" class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
      <hois-button ng-show="formState.canConfirm" class="md-raised md-primary" hb-click="confirm()" hb-label="{{'main.button.confirm' | translate}}" hb-loading hb-promise></hois-button>
      <a href="{{formState.protocolPdfUrl}}" target="_blank" class="md-button md-raised">{{'main.button.print' | translate}}</a>
      <a ng-show="record.oisFile" ng-href="{{getUrl(record.oisFile, 'protocol')}}" target="_blank" rel="noopener noreferrer"
        class="md-button md-raised">{{'higherProtocol.downloadSigned' | translate}}</a>
      <md-button class="md-raised" ng-click="back('#/higherProtocols/', higherProtocolForm)">{{'main.button.back' | translate}}</md-button>
    </div>
  </form>
</div>