<div class="ois-form-layout-padding" ng-cloak>
  <div flex>


  <div layout="row" layout-sm="column" layout-xs="column" class="ois-form-layout-padding form-readonly">
    <md-input-container flex="25" flex-sm="100" flex-xs="100">
        <label>{{'higherProtocol.subject' | translate}}</label>
        <hois-value value="currentLanguageNameField(record.subject)"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'higherProtocol.teacher' | translate}}</label>
        <hois-value value="record.teachers.join(', ')"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'higherProtocol.studyPeriod' | translate}}</label>
        <hois-value value="currentLanguageNameField(record.studyPeriod)"></hois-value>
    </md-input-container>
    <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
        <label>{{'higherProtocol.number' | translate}}</label>
        <hois-value value="record.protocolNr"></hois-value>
    </md-input-container>
  </div>


    <form ng-submit="save()" novalidate layout="column" name="moduleProtocolForm">
      <div>
        <div flex>





    <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column></th>
            <th md-column>{{'higherProtocol.student' | translate}}</th>
            <th md-column ng-repeat="midtermTask in record.nidtermTasks">

            </th>
            <th md-column>{{'higherProtocol.finalGrade' | translate}}</th>
            <th md-column>{{'higherProtocol.comment' | translate}}</th>
            <th md-column></th>
          </tr>

        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in record.midtermTasks" ng-class-odd="'odd'" ng-class-even="'even'">
            <ng-form name="higherProtocolStudentForm">
              <td md-cell>checkbox</td>
              <td md-cell></td>
              <td md-cell ng-repeat="studentResult in row.results"></td>


              <td md-cell>
                <md-input-container>
                  <input ng-model="row.descriptionEt" type="text" md-maxlength="4000"
                  aria-label="{{'midtermTask.descriptionEt' | translate}}" required>
                </md-input-container>
              </td>


              <td md-cell>
                <md-input-container>
                  <input ng-model="row.descriptionEn" type="text" md-maxlength="4000"
                  aria-label="{{'midtermTask.descriptionEn' | translate}}">
                </md-input-container>
              </td>
            </ng-form>
          </tr>
          <tr md-row ng-repeat="row in record.midtermTasks | orderBy:propertyName:reverse" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="!record.canBeEdited">
            <ng-form name="midtermTaskUnitForm">
              <td md-cell>{{$index + 1}}</td>
              <td md-cell>{{row.nameEt}}</td>
              <td md-cell>{{row.nameEn}}</td>
              <td md-cell>{{row.descriptionEt}}</td>
              <td md-cell>{{row.descriptionEn}}</td>
              <td md-cell>{{row.maxPoints}}</td>
              <td md-cell>{{row.percentage}}</td>
              <td md-cell>{{row.taskDate | hoisDate}}</td>
              <td md-cell>
                <md-checkbox ng-model="row.threshold"
                        aria-label="{{currentLanguageNameField(row)}} {{'midtermTask.threshold' | translate}}"
                        disabled>
                </md-checkbox>
              </td>
              <td md-cell>{{row.thresholdPercentage}}</td>
              <td md-cell></td>
            </ng-form>
          </tr>
        </tbody>
      </table>
    </md-table-container>









        </div>
      </div>
      <br>
      <div>
        <md-button class="md-raised md-primary" type="submit" ng-show="record.canBeChanged">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised" ng-click="confirmAndSave()" ng-show="record.canBeConfirmed">{{'main.button.confirm' | translate}}</md-button>
        <md-button class="md-raised" ng-href="#/higherProtocols">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>
  </div>
</div>
