<div layout="row" layout-xs="column">
  <md-button class="md-raised md-primary" ng-if="!isPublic && subjectProgram.id
      && subjectProgram.canEdit" ng-click="edit()">{{"main.button.change" | translate}}</md-button>
  <md-button class="md-raised" ng-if="!isPublic && subjectProgram.id && (isSupervisor || (auth.isAdmin()
      && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_AINEOPPETAJA'))) && subjectProgram.status === 'AINEPROGRAMM_STAATUS_V'"
             ng-click="confirm()">{{"main.button.confirm" | translate}}</md-button>
  <md-button class="md-raised" ng-if="!isPublic && subjectProgram.id && (isSupervisor || (auth.isAdmin()
      && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_AINEOPPETAJA'))) && subjectProgram.status !== 'AINEPROGRAMM_STAATUS_I'"
             ng-click="openRejectDialog()">{{"subjectProgram.operation.reject.label" | translate}}</md-button>
  <md-button class="md-raised" ng-if="subjectProgram.id" ng-href="{{pdfUrl()}}" target="_blank">{{"main.button.print" | translate}}</md-button>
  <md-button class="md-raised" ng-click="back(getDefaultBack())">{{"main.button.back" | translate}}</md-button>
</div>
