<div class="ois-form-layout-padding form-readonly" ng-cloak>

  <div flex>
    <form layout="column">
      <div style="padding-top: 1em">

        <md-input-container ng-if="!application.isAdult && application.needsRepresentativeConfirm === true && application.status === 'AVALDUS_STAATUS_KOOST'" flex="60" flex-sm="100" flex-xs="100">
          <b>{{'application.missingRepresentativeConfirmation' | translate}}</b>
        </md-input-container>

        <div ng-include="'application/templates/application.information.html'"></div>
        <div ng-include="templateUrlByType"></div>


        <div layout="row" layout-sm="column" layout-xs="column"  >
          <md-input-container flex="60" flex-sm="100" flex-xs="100">
            <label class="textInput">{{'application.additionalInfo' | translate}}</label>
            <hois-value value="application.addInfo"></hois-value>
          </md-input-container>
        </div>

        <div layout="column" flex>
		<fieldset>
		<legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.relatedFiles' | translate}}</legend>
          <table md-table class="secondary-table">
            <thead md-head>
              <tr md-row>
                <th md-column><span>{{'file.nameAndFile' | translate}}</span></th>
                <th md-column><span>{{'file.additionDate' | translate}}</span></th>
                <th md-column>{{'file.addedBy' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="file in application.files | orderBy: 'id'" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>
                  {{file.oisFile.fname}}
                  <a ng-href="{{getUrl(file.oisFile, 'application')}}" target="_blank" rel="noopener noreferrer">
                    <md-icon md-font-set="material-icons">file_download</md-icon>
                  </a>
                </td>
                <td md-cell>
                  {{file.inserted | hoisDateTime}}
                </td>
                <td md-cell>
                  {{file.insertedBy}}
                </td>
              </tr>
            </tbody>
          </table>
		  </fieldset>
        </div>
      </div>
      <div>&nbsp;</div>


      <div layout="row">
        <md-button ng-if="(application.status === 'AVALDUS_STAATUS_KOOST' 
        && ((auth.isAdmin() && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_AVALDUS')) || auth.isStudent()))
        || (application.status === 'AVALDUS_STAATUS_YLEVAAT' && (auth.isAdmin() && isAuthorized('ROLE_OIGUS_M_TEEMAOIGUS_AVALDUS')))"
          ng-href="#/applications/{{application.id}}/edit?_noback" class="md-raised md-primary">{{'main.button.change' | translate}}</md-button>
        <div ng-include="'application/templates/action.buttons.html'"></div>
        <md-button ng-if="auth.isStudent()" ng-click="back('#/applications/student')" class="md-raised">{{'main.button.back' | translate}}</md-button>
        <md-button ng-if="!auth.isStudent()" ng-click="back('#/applications/', applicationForm)" class="md-raised">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>
  </div>
</div>
