<div class="ois-form-layout-padding" ng-cloak>
  <div flex>
    <form layout="column" name="finalExamProtocolForm">
      <div ng-include="'finalExamProtocol/templates/final.exam.higher.protocol.header.tmpl.html'"></div>

      <br>
      <br>
      <div class="form-readonly">
        <div layout="row" layout-sm="column" layout-xs="column">
          <md-input-container flex="20" flex-sm="100" flex-xs="100">
            <label>{{'finalExamProtocol.finalExamDate' | translate}}</label>
            <hois-value value="protocol.finalDate | hoisDate"></hois-value>
          </md-input-container>
        </div>
      </div>

      <fieldset ng-if="(presentMembers = (committeeMembers | filter: {isPresent: true})).length > 0">
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'finalExamProtocol.committee' | translate}}</legend>
        <md-table-container>
          <table md-table md-progress="protocol.$promise" class="secondary-table">
            <thead md-head>
              <tr md-row>
                <th md-column>{{'finalExamProtocol.name' | translate}}</th>
                <th md-column>{{'finalExamProtocol.role' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="row in presentMembers | orderBy: 'memberName'" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>{{row.memberName}}</td>
                <td md-cell ng-if="row.isChairman">{{'finalExamProtocol.chairman' | translate}}</td>
                <td md-cell ng-if="!row.isChairman">{{'finalExamProtocol.member' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </fieldset>
      <br>

      <div>
        <div flex>
          <md-table-container>
            <table md-table md-progress="protocol.$promise" multiple="true">
              <thead md-head>
                <tr md-row>
                  <th md-column>{{'finalExamProtocol.id' | translate}}</th>
                  <th md-column>{{'student.label' | translate}}</th>
                  <th md-column>{{'student.idcode' | translate}}</th>
                  <th md-column>{{'finalExamProtocol.studentGroup' | translate}}</th>
                  <th md-column>{{'finalExamProtocol.grade' | translate}}</th>
                  <th md-column>{{'finalExamProtocol.givenCurriculumGrade' | translate}}</th>
                  <th md-column>{{'finalExamProtocol.givenOccupation' | translate}}</th>
                  <th md-column>{{'finalExamProtocol.changeReason' | translate}}</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="row in protocol.protocolStudents | orderBy: 'fullname' track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
                  <td md-cell>{{$index + 1}}</td>
                  <td md-cell>{{row.fullname}}</td>
                  <td md-cell>{{row.idcode}}</td>
                  <td md-cell>{{row.studentGroup}}</td>
                  <td md-cell>{{gradeValue(row.grade)}}</td>
                  <td md-cell>{{currentLanguageNameField(row.curriculumGrade)}}</td>
                  <td md-cell>
                    <span ng-repeat="occupation in protocol.occupations track by $index">
                      <span ng-if="(studentOccupation = occupationView(occupation.code, row)) ? true : false">
                        <span>{{currentLanguageNameField(occupation)}}</span>
                        <span ng-if="studentOccupation.certificateNr">({{studentOccupation.certificateNr}})</span>
                        &nbsp;
                      </span>
                    </span>
                  </td>
                  <td md-cell>{{row.addInfo}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </div>
      </div>

      <br/>

      <div layout="row">
        <md-button class="md-raised" ng-click="back('#/finalExamVocationalProtocols/')">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>
  </div>
</div>
