<md-dialog aria-label="module add dialog" flex="50" flex-xs="90">
    <form name="dialogForm" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{"stateCurriculum.viewSubject" | translate}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-set="material-icons">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <span flex></span>
        <div class="ois-form-layout form-readonly" layout="column" layout-margin>
          <div layout="column">
            <md-input-container>
                <label>{{'stateCurriculum.enter.subject.subjectArea' | translate}}</label>
                <hois-classifier-value ng-model="data.syllabus" main-classifier-code="AINEVALDKOND"></hois-classifier-value>
            </md-input-container>
  
            <md-input-container>
                <label>{{'stateCurriculum.enter.subject.label' | translate}}</label>
                <hois-classifier-value ng-model="data.module" main-classifier-code="EHIS_AINE"></hois-classifier-value>
            </md-input-container>

            <md-input-container>
              <label>{{'stateCurriculum.enter.subject.syllabusLink' | translate}}</label>
              <hois-value value="data.riigiteatajaUrl" hois-linky></hois-value>
            </md-input-container>

            <div layout="row" layout-align="start center">
                <md-input-container style="width: 120px">
                    <label>{{highSchool ? ('stateCurriculum.enter.subject.courses' | translate) : 
                        ('stateCurriculum.enter.subject.weeks' | translate)}}</label>
                    <hois-value value="data.coursesOrWeeks"></hois-value>
                </md-input-container>

                <!-- IS REQUIRED -->
                <md-input-container flex-offset="5">
                    <md-checkbox ng-model="data.isAdditional" aria-label="{{'stateCurriculum.enter.subject.required' | translate}}" disabled>
                        {{'stateCurriculum.enter.subject.required' | translate}}
                    </md-checkbox>
                </md-input-container>
            </div>
  
            <div>
              <fieldset tabindex="2">
                <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'stateCurriculum.enter.subject.competence.header' | translate}}</legend>
                <div layout="column">
                    <div layout="row">
                        <div flex="45">
                            <label class="secondary-table-header">{{'stateCurriculum.enter.subject.competence.label' | translate}}</label>
                        </div>
                        <div flex="40" flex-offset="5">
                            <label class="secondary-table-header">{{'stateCurriculum.enter.subject.competence.description' | translate}}</label>
                        </div>
                    </div>
                    <div ng-repeat="item in data.competences | orderBy: 'id' track by $index" class="occupation-row align-center" layout="row" flex>

                        <md-input-container flex="45">
                            <hois-classifier-value ng-model="item.competence" main-classifier-code="PADEVUS"></hois-classifier-value>
                        </md-input-container>

                        <div flex="40" flex-offset="5">
                        <p style="word-break: break-all;">{{item.description}}</p>
                        </div>
                    </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row" layout-align="start center">
        <md-button class="md-raised" ng-click="cancel()">{{"main.button.close" | translate}}</md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
  
  