<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <form name="directiveForm" class="nomargin">
      <div layout="column">
        <md-input-container class="md-block">
          <label class="textInput">{{'directive.type' | translate}}</label>
          <hois-classifier-select ng-model="record.type" name="type" ng-change="directiveTypeChanged()" ng-disabled="formState.state !== 'CHOOSETYPE'" model-value-attr="code" main-classifier-code="KASKKIRI" required autofocus></hois-classifier-select>
        </md-input-container>
      </div>

      <div flex ng-if="formState.state === 'CHOOSETYPE' && formState.students">
        <md-table-container>
          <table md-table md-row-select multiple ng-model="formState.selectedStudents">
            <thead md-head>
              <tr md-row>
                <th md-column>{{'directive.student.fullname' | translate}}</th>
                <th md-column>{{'directive.student.idcode' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="row" md-select-id="id" ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>
                  <md-button md-no-ink class="md-primary change-button" ng-href="#/student/{{::row.id}}/main?backUrl=directive">{{::row.fullname}}</md-button>
                </td>
                <td md-cell>{{::row.idcode}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>

      <div layout="row" ng-if="formState.state === 'CHOOSETYPE'">
        <md-button class="md-raised" ng-click="addDirective()" ng-if="formState.state === 'CHOOSETYPE' && formState.students">{{'directive.addToDirective' | translate}}</md-button>
        <md-button ng-href="#/directives" class="md-raised">{{'main.button.back' | translate}}</md-button>
      </div>
      <div flex-xs="0" flex-gt-xs="0" flex-gt-sm="50"></div>

      <div flex ng-if="formState.state === 'EDIT'">
        <md-input-container class="md-block">
          <label class="textInput">{{'directive.headline' | translate}}</label>
          <input type="text" ng-model="record.headline" name="headline" required></input>
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'directive.inserted' | translate}}</label>
          <hois-value value="'main.formattedDate' | translate: {date: record.inserted}"></hois-value>
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'directive.insertedBy' | translate}}</label>
          <hois-value value="record.insertedBy"></hois-value>
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'directive.addInfo' | translate}}</label>
          <textarea ng-model="record.addInfo" md-maxlength="4000"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label class="textInput">{{'directive.directiveCoordinator' | translate}}</label>
          <hois-select ng-model="record.directiveCoordinator" name="directiveCoordinator" type="directivecoordinator"></hois-value>
        </md-input-container>

        <div ng-include="formState.templateUrl"></div>

        <div layout="row">
          <md-button class="md-raised" ng-click="update()">{{'main.button.save' | translate}}</md-button>
          <md-button class="md-raised" ng-if="record.id" ng-click="delete()">{{'main.button.delete' | translate}}</md-button>
          <md-button ng-href="#/directives" class="md-raised">{{'main.button.back' | translate}}</md-button>
        </div>
      </div>
    </form>
  </div>
</div>
