<div layout="column" layout-padding>
    <form name="subjectStudyPeriodSubjectEditForm">
        <p class="md-body-1">
            <span ng-repeat="capacity in capacityTypes">
                <span ng-if="$index !== 0">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
            </span>
        </p>
        <br>
        <div layout="column" class="form-readonly">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-value value="currentLanguageNameField(studyPeriod)"></hois-value>
                </md-input-container>
                 <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.subject' | translate}}</label>
                    <hois-value value="subject.nameEt"></hois-value>
                </md-input-container>
            </div>
            <br>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column class="head">
                            {{'subjectStudyPeriod.teachers' | translate}}
                        </th>
                        <th md-column ng-repeat="capacityType in capacityTypes" class="center head">{{capacityType.value.toUpperCase()}}</th>
                        <th md-column class="center head">{{'subjectStudyPeriod.overall' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                        <tr ng-repeat="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }">
                            <td class="cell">
                                <span ng-repeat="teacher in ssp.teachers" ng-class="{'invalid': !capacitiesUtil.teachersLoadOk(ssp)}">
                                    <span ng-if="$index > 0">, </span>
                                    {{teacher.name}}
                                </span>
                                <span ng-show="ssp.studentGroupObjects && ssp.studentGroupObjects.length > 0">
                                    (
                                    <span ng-repeat="sg in ssp.studentGroupObjects">
                                        <span ng-if="$index > 0">, </span>
                                        {{sg.nameEt}}
                                    </span>
                                    )
                                </span>
                                <span ng-if="ssp.groupProportion !== 'PAEVIK_GRUPI_JAOTUS_1'">
                                    <span class="proportion">{{'subjectStudyPeriod.proportion' | translate | lowercase}}:
                                        <hois-classifier-value ng-model="ssp.groupProportion" main-classifier-code="PAEVIK_GRUPI_JAOTUS"></hois-classifier-value>
                                    </span>
                                </span>
                            </td>
                            <td ng-repeat="type in capacityTypes" class="cell center">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code }">
                                    <span>{{capacity.hours}}</span>
                                </span>
                            </td>
                            <td class="cell center">{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                        </tr>
                    </tbody>
                    <tr class="footer bold">
                        <td class="cell">{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                        <td ng-repeat="type in capacityTypes" class="cell center">{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                        <td class="cell center">{{capacitiesUtil.capacitiesSumOverall()}}</td>
                    </tr>
                </table>
            </md-table-container>
            <br>
        </div>
        <div layout="row">
            <md-button ng-if="!readOnly" class="md-raised md-primary" ng-href="#/subjectStudyPeriods/subjects/{{subject.id}}/{{studyPeriod.id}}/edit?_noback">{{'main.button.change' | translate}}</md-button>
            <md-button class="md-raised" ng-click="back('#/subjectStudyPeriods/subjects')">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>

<style>
    .cell {
        border: 1px solid #f2f2f2;
    }
    .center {
        text-align: center !important;
    }
    .footer {
        background-color: #e1e5ed;
    }
    .bold {
        font-weight: bold;
    }
    .right {
        float: right;
    }
    .head {
        background-color: #E0E0E0 !important;
        color: black !important;
        font-size: 16px !important;
    }
    .hois-classifier-value {
        display: inline-block;
        font-size: 16px !important;
    }
    .proportion {
        font-size: 16px;
        margin-left: 30px;
        color: grey;
    }
</style>
