<div layout="column" layout-padding>
    <form name="subjectStudyPeriodPlanStudentGroupEditForm">
        <p class="md-body-1">
            <span ng-repeat="capacity in capacityTypes">
                <span ng-if="$index !== 0">|</span>
                {{capacity.value.toUpperCase()}} - {{currentLanguageNameField(capacity)}}
            </span>
        </p>
        <br>
        <div layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.studyPeriod' | translate}}</label>
                    <hois-select ng-model="record.studyPeriod" values="studyPeriods" required disabled></hois-select>
                </md-input-container>
                <md-input-container ng-if="isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <md-select ng-model="record.studentGroup" required ng-disabled="studentGroupDisabled">
                      <md-option ng-value="option.id" ng-repeat="option in studentGroups">
                        {{ option.code }}
                     </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="!isEditing" flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.studentGroup' | translate}}</label>
                    <input type="text" ng-model="studentGroup.code" readonly>
                </md-input-container>
                <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.course' | translate}}</label>
                    <hois-value value="course"></hois-value>
                </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-input-container flex="25" flex-sm="100" flex-xs="100">
                    <label>{{'subjectStudyPeriod.curriculum' | translate}}</label>
                    <hois-value value="currentLanguageNameField(curriculum)"></hois-value>
                </md-input-container>
                <md-input-container flex="25" flex-sm="100" flex-xs="100" flex-offset-xs="0" flex-offset-sm="0" flex-offset="5">
                    <label>{{'subjectStudyPeriod.curriculumStudyPeriod' | translate}}</label>
                    <hois-value value="curriculumStudyPeriod"></hois-value>
                </md-input-container>
            </div>
            <br>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column class="head">
                            {{'subjectStudyPeriod.subjects' | translate}}
                        <md-button md-no-ink class="md-primary change-button right" 
                        ng-href="#/subjectStudyPeriod/new?studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}" 
                        ng-disabled="!record.studentGroup">{{'subjectStudyPeriod.addSubjects' | translate}}
                        </md-button>
                        </th>
                        <th md-column ng-repeat="capacityType in capacityTypes" class="center head">{{capacityType.value.toUpperCase()}}</th>
                        <th md-column class="center head">{{'subjectStudyPeriod.overall' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody md-body ng-repeat="subject in record.subjects">
                        <tr md-row ng-class-odd="'even'" ng-class-even="'even'">
                            <td class="cell bold">
                                <span>{{currentLanguageNameField(subject)}}</span>
                                <md-button md-no-ink class="md-primary change-button right" ng-href="#/subjectStudyPeriod/new?subjectId={{subject.id}}&studentGroupId={{record.studentGroup}}&studyPeriodId={{record.studyPeriod}}">{{'subjectStudyPeriod.addTeachers' | translate}}
                                </md-button>
                            </td>
                            <td ng-repeat="type in capacityTypes" class="cell center">{{capacitiesUtil.getSubjectsCapacityByType(subject.id, type.code)}}</td>
                            <td class="cell center">{{capacitiesUtil.getSubjectsTotalCapacity(subject.id, capacityTypes)}}</td>
                        </tr>
                        <tr ng-repeat="ssp in record.subjectStudyPeriodDtos | filter:{ subject: subject.id }">
                            <td class="cell">
                                <span ng-repeat="teacher in ssp.teachers" ng-class="{'invalid': !teachersLoadOk(ssp)}">
                                    <span ng-if="$index > 0">, </span>
                                    {{teacher.name}}
                                </span>
                                <span ng-if="ssp.groupProportion !== 'PAEVIK_GRUPI_JAOTUS_1'">
                                    <span class="proportion">{{'subjectStudyPeriod.proportion' | translate | lowercase}}:
                                        <hois-classifier-value ng-model="ssp.groupProportion" main-classifier-code="PAEVIK_GRUPI_JAOTUS"></hois-classifier-value>
                                    </span>
                                </span>
                                <md-button md-no-ink class="md-primary change-button right" ng-href="#/subjectStudyPeriod/{{ssp.id}}/edit?studentGroupId={{record.studentGroup}}">{{'main.button.change' | translate}}
                                </md-button>
                            </td>
                            <td ng-repeat="type in capacityTypes" class="cell center" ng-click="capacitiesUtil.setCapacityEditable(ssp, type.code)" ng-mouseleave="capacitiesUtil.unsetCapacityEditable(ssp, type.code)">
                                <span ng-repeat="capacity in ssp.capacities | filter:{ capacityType: type.code }">
                                    <span ng-if="!capacitiesUtil.getCapacity(ssp, type.code).editable">{{capacity.hours}}</span>
                                    <md-input-container ng-if="capacitiesUtil.getCapacity(ssp, type.code).editable">
                                        <input type="number" ng-model="capacity.hours" min="0" max="1000" aria-label="{{'subjectStudyPeriod.changeLoad' | translate}}" pattern="^\d+$">
                                    </md-input-container>
                                </span>
                            </td>
                            <td class="cell center">{{capacitiesUtil.capacitiesSumBySsp(ssp)}}</td>
                        </tr>
                        <tr class="footer">
                            <td class="cell">{{'subjectStudyPeriod.overall' | translate}}</td>
                            <td ng-repeat="type in capacityTypes" class="cell center">{{capacitiesUtil.capacitiesSumBySubjectAndType(subject.id, type.code)}}</td>
                            <td class="cell center">{{capacitiesUtil.capacitiesSumBySubject(subject.id)}}</td>
                        </tr>
                    </tbody>
                    <tr class="footer bold">
                        <td class="cell">{{'subjectStudyPeriod.overall' | translate | uppercase}}</td>
                        <td ng-repeat="type in capacityTypes" class="cell center">{{capacitiesUtil.capacitiesSumByType(type.code)}}</td>
                        <td class="cell center">{{capacitiesUtil.capacitiesSumOverall()}}</td>
                    </tr>
                </table>
            </md-table-container>
            <br>
        </div>
        <div layout="row">
            <md-button ng-if="!readOnly" class="md-raised md-primary" ng-click="save()">{{'main.button.save' | translate}}</md-button>
            <md-button class="md-raised" ng-click="back('#/subjectStudyPeriods/studentGroups')">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>

<style>
    .cell {
        border: 1px solid #f2f2f2;
    }
    .center {
        text-align: center !important;
    }
    .footer {
        background-color: #e1e5ed;
    }
    .bold {
        font-weight: bold;
    }
    .right {
        float: right;
    }
    .head {
        background-color: #E0E0E0 !important;
        color: black !important;
        font-size: 16px !important;
    }
    .hois-classifier-value {
        display: inline-block;
        font-size: 16px !important;
    }
    .proportion {
        font-size: 16px;
        margin-left: 30px;
        color: grey;
    }
</style>