<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="{{'teacher.data' | translate}}">
    <md-content class="md-padding">
      <div style="padding-top: 1em">
        <div layout="column">
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="25" flex-sm="100" flex-xs="100">
              <label>{{'teacher.person.idcode' | translate}}</label>
              <hois-value value="teacher.person.idcode"></hois-value>
            </md-input-container>
            <md-input-container flex="20" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.person.birthdate' | translate}}</label>
              <hois-value value="'main.formattedDate' | translate: {date: teacher.person.birthdate}"></hois-value>
            </md-input-container>
            <md-input-container flex="10" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.person.sex' | translate}}</label>
              <hois-classifier-value ng-model="teacher.person.sex" main-classifier-code="SUGU"></hois-classifier-value>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="25" flex-sm="100" flex-xs="100">
              <label>{{'teacher.person.name' | translate}}</label>
              <hois-value value="teacher.person.firstname + ' ' + teacher.person.lastname"></hois-value>
            </md-input-container>
            <md-input-container flex="45" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.person.nativeLanguage' | translate}}</label>
              <hois-value value="teacher.person.nativeLanguage"></hois-value>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="25" flex-sm="100" flex-xs="100">
              <label>{{'teacher.person.citizenship' | translate}}</label>
              <hois-classifier-value ng-model="teacher.person.citizenship" main-classifier-code="RIIK"></hois-classifier-value>
            </md-input-container>
            <md-input-container flex="20" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.person.phone' | translate}}</label>
              <hois-value value="teacher.person.phone"></hois-value>
            </md-input-container>
            <md-input-container flex="45" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.person.email' | translate}}</label>
              <hois-value value="teacher.person.email"></hois-value>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex>
              <label>{{'teacher.occupation.label' | translate}}</label>
              <hois-value value="currentLanguageNameField(teacher.teacherOccupation)"></hois-value>
            </md-input-container>
            <md-input-container flex="20" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.phone' | translate}}</label>
              <hois-value value="teacher.phone"></hois-value>
            </md-input-container>
            <md-input-container flex="45" flex-sm="100" flex-offset="5" flex-offset-xs="0" flex-offset-sm="0">
              <label>{{'teacher.email' | translate}}</label>
              <hois-value value="teacher.email"></hois-value>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex>
              <label>{{'teacher.scheduleLoad' | translate}}</label>
              <hois-value value="teacher.scheduleLoad"></hois-value>
            </md-input-container>
            <md-input-container flex>
              <hois-value ng-if="teacher.isStudyPeriodScheduleLoad === true" value="'teacher.studyPeriodLoad' | translate"></hois-value>
              <hois-value ng-if="teacher.isStudyPeriodScheduleLoad === false" value="'teacher.studyYearLoad' | translate"></hois-value>
            </md-input-container>
          </div>
          <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex>
              <label>{{'teacher.isVocationalOrIsHigher' | translate}}</label>
              <hois-value value="vocationalHigher"></hois-value>
            </md-input-container>
          </div>
        </div>
      </div>
      <div ng-repeat="teacherPositionEhis in teacher.teacherPositionEhis | orderBy: 'id'">
        <hois-collapsable label="('teacher.teacherPositionEhis.label' | translate)">
          <div layout="column">
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.teachingLevel' | translate}}</label>
                <hois-value value="teacherPositionEhis.isVocational === true ? 'teacher.isVocational' : 'teacher.isHigher' | translate"></hois-value>
              </md-input-container>
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.position' | translate}}</label>
                <hois-classifier-value ng-model="teacherPositionEhis.position" main-classifier-code="EHIS_AMETIKOHT"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.positionSpecificationEt' | translate}}</label>
                <hois-value value="teacherPositionEhis.positionSpecificationEt"></hois-value>
              </md-input-container>
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.contractType' | translate}}</label>
                <hois-classifier-value ng-model="teacherPositionEhis.contractType" main-classifier-code="EHIS_LEPING"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.contractStart' | translate}}</label>
                <hois-value value="'main.formattedDate' | translate: {date: teacherPositionEhis.contractStart}"></hois-value>
              </md-input-container>
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.contractEnd' | translate}}</label>
                <hois-value value="'main.formattedDate' | translate: {date: teacherPositionEhis.contractEnd}"></hois-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.isContractEnded' | translate}}</label>
                <hois-value value="teacherPositionEhis.isContractEnded === true ? 'main.yes' : 'main.no' | translate"></hois-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.load' | translate}}</label>
                <hois-value value="teacherPositionEhis.load"></hois-value>
              </md-input-container>
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.language' | translate}}</label>
                <hois-classifier-value ng-model="teacherPositionEhis.language" main-classifier-code="EHIS_OPETAJA_KEEL"></hois-classifier-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.meetsQualification' | translate}}</label>
                <hois-value value="teacherPositionEhis.meetsQualification === true ? 'main.yes' : 'main.no' | translate"></hois-value>
              </md-input-container>
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.workHalted' | translate}}</label>
                <hois-value value="teacherPositionEhis.isChildCare === true ? 'main.yes' : 'main.no' | translate"></hois-value>
              </md-input-container>
            </div>
            <div layout="row" layout-sm="column" layout-xs="column">
              <md-input-container flex>
                <label>{{'teacher.teacherPositionEhis.isClassTeacher' | translate}}</label>
                <hois-value value="teacherPositionEhis.isClassTeacher === true ? 'main.yes' : 'main.no' | translate"></hois-value>
              </md-input-container>
            </div>
          </div>
        </hois-collapsable>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="{{'teacher.qualification.qualification' | translate}}" ng-if="teacher.teacherQualifications.length > 0">
    <md-content class="md-padding">
      <div ng-include="'teacher/teacher.qualification.view.html'"></div>
    </md-content>
  </md-tab>
  <md-tab label="{{'teacher.mobility.mobility' | translate}}" ng-if="teacher.teacherMobility.length > 0">
    <md-content class="md-padding">
      <div ng-include="'teacher/teacher.mobility.view.html'"></div>
    </md-content>
  </md-tab>
</md-tabs>
<md-button ng-href="#/teachers/{{teacher.id}}/edit" class="md-raised md-primary">{{'main.button.change' | translate}}</md-button>
<md-button ng-href="#/teachers" class="md-raised">{{'main.button.back' | translate}}</md-button>
