<md-nav-bar ng-if="rtipPage" md-selected-nav-item="currentNavItem" nav-bar-aria-label="main selection" ng-cloak>
  <md-nav-item md-nav-href="#/teachers/{{::teacher.id}}/edit" name="teacher.data">
      {{'teacher.data' | translate}}</md-nav-item>
  <md-nav-item ng-if="teacher.id && teacher.isVocational" md-nav-href="#/teachers/{{::teacher.id}}/continuingEducation" name="teacher.continuingEducation">
      {{'teacher.continuingEducation.label' | translate}}</md-nav-item>
  <md-nav-item ng-if="teacher.id" md-nav-href="#/teachers/{{::teacher.id}}/qualification" name="teacher.qualification">
      {{'teacher.qualification.qualification' | translate}}</md-nav-item>
  <md-nav-item ng-if="teacher.id && teacher.isHigher && isHigher" md-nav-href="#/teachers/{{::teacher.id}}/mobility" name="teacher.mobility">
      {{'teacher.mobility.mobility' | translate}}</md-nav-item>
  <md-nav-item ng-if="teacher.id" md-nav-href="#/teachers/{{::teacher.id}}/rtipAbsence" name="teacher.rtipAbsence">
      {{'teacher.rtipAbsence.label' | translate}}</md-nav-item>
</md-nav-bar>

<div layout-padding>
  <md-table-container>
    <table md-table md-progress="tabledata.$promise" class="secondary-table">
      <thead md-head md-order="criteria.order" md-on-reorder="loadData">
        <tr md-row>
          <th md-column md-order-by="startDate">{{'teacher.rtipAbsence.absenceFrom' | translate}}</th>
          <th md-column md-order-by="endDate">{{'teacher.rtipAbsence.absenceThru' | translate}}</th>
          <th md-column md-order-by="reason">{{'teacher.rtipAbsence.absenceReason' | translate}}</th>
          <th md-column md-order-by="changed">{{'teacher.rtipAbsence.changed' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
          <td md-cell>{{row.startDate | hoisDate}}</td>
          <td md-cell>{{row.endDate | hoisDate}}</td>
          <td md-cell>{{row.reason}}</td>
          <td md-cell>{{row.changed | hoisDate}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]" md-page="criteria.page" md-total="{{tabledata.totalElements}}"
  md-on-paginate="loadData" md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}"
  md-page-select></md-table-pagination>

  <div layout="row" ng-if="!auth.isTeacher() && rtipPage">
    <md-button ng-if="teacher.canEdit" ng-click="updateData()" class="md-raised md-primary">{{'teacher.rtipAbsence.updateData' | translate}}</md-button>
    <md-button ng-click="back('#/teachers')" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
