<md-dialog style="width: 400px; height: 320px;">
  <md-toolbar>
    <div class="md-toolbar-tools" style="height: 40px">
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <span class="material-icons">close</span>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="{{ 'main.login.user.title' | translate }}">
        <md-content class="md-padding">
          <form name="userLoginForm">
            <md-input-container class="md-block">
              <label flex>{{ 'main.login.user.school' | translate }}</label>
              <md-select flex class="form-control" name="school" ng-model="credentials.school" required>
                <md-option ng-value="school.id" ng-repeat="school in schools">{{currentLanguageNameField(school)}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label flex>{{ 'main.login.user.username' | translate }}</label>
              <input type="text" flex class="form-control" name="username" ng-model="credentials.username" required/>
            </md-input-container>
            <md-input-container class="md-block">
              <label flex>{{ 'main.login.user.password' | translate }}</label>
              <input type="password" flex class="form-control" name="password" ng-model="credentials.password" required/>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="login()">{{ 'main.logIn' | translate }}</md-button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="{{ 'main.login.idcard.title' | translate }}">
        <md-content class="md-padding">
          <form name="idCardLoginForm">
            <md-button class="md-raised md-primary" ng-click="idlogin()">{{ 'main.logIn' | translate }}</md-button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="{{ 'main.login.mobileid.title' | translate }}">
        <md-content class="md-padding">
          <form name="mobileIdLoginForm">
            <md-input-container class="md-block">
              <label flex>{{ 'main.login.mobileid.mobilenumber' | translate }}</label>
              <input type="text" flex class="form-control" name="mobilenumber" ng-model="mobilenumber" required/>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="mIdLogin()">{{ 'main.logIn' | translate }}</md-button>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>
