<div layout="column" layout-padding>
  <div>
    <form name="generalMessageForm">
      <md-input-container class="md-block">
        <label class="textInput">{{'generalmessage.title' | translate}}</label>
        <hois-value value="record.title"></hois-value>
      </md-input-container>

      <md-input-container class="md-block">
        <label class="textInput">{{'generalmessage.content' | translate}}</label>
        <hois-value value="record.content"></hois-value>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="20">
          <label>{{'main.validityPeriod' | translate}}</label>
        </md-input-container>
        <div flex="33">
          <md-input-container flex>
            <hois-value value="'main.formattedDate' | translate: {date: record.validFrom} "></hois-value>
          </md-input-container>
          <md-input-container flex>
            <hois-value value="'main.formattedDate' | translate: {date: record.validThru} "></hois-value>
          </md-input-container>
        </div>
      </div>

      <md-list>
        <md-subheader>{{'generalmessage.targets' | translate}}</md-subheader>
        <md-list-item ng-repeat="role in record.targets">
          <span>
            <hois-classifier-value ng-model="role" main-classifier-code="ROLL"></hois-classifier-value>
          </span>
        </md-list-item>
      </md-list>
    </form>

    <md-button ng-href="#/generalmessages" class="md-raised">{{'main.button.back' | translate}}</md-button>
  </div>
</div>
