<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <div ng-include="'apelApplication/templates/apel.application.information.html'"></div>

    <div>
      <fieldset style="min-width: 0;">
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.formalLearnings.labelWithSubTitle' | translate}}</legend>
        <span ng-if="application.isVocational" ng-repeat="record in application.records | filter:{isFormalLearning: true}">
          <div ng-include="'apelApplication/templates/apel.application.formal.learning.vocational.list.html'"
            style="margin-bottom: 20px"></div>
        </span>
        <div ng-if="!application.isVocational" ng-include="'apelApplication/templates/apel.application.formal.learning.higher.list.html'"
          style="margin-bottom: 20px"></div>
      </fieldset>
    </div>
    <br>

    <div>
      <fieldset style="min-width: 0;">
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.informalLearnings.labelWithSubTitle' | translate}}</legend>
        <span ng-repeat="record in application.records | filter:{isFormalLearning: false}">
          <div ng-if="application.isVocational" ng-include="'apelApplication/templates/apel.application.informal.learning.vocational.list.html'"
            style="margin-bottom: 20px"></div>
          <div ng-if="!application.isVocational" ng-include="'apelApplication/templates/apel.application.informal.learning.higher.list.html'"
            style="margin-bottom: 20px"></div>
        </span>
      </fieldset>
    </div>
    <br>

    <div layout="column" flex>
      <fieldset>
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.addInfo.addInfos' | translate}}</legend>
        <md-table-container>
          <table md-table md-progress="tabledata.$promise" class="secondary-table">
            <thead md-head>
              <tr md-row>
                <th md-column width="15%">{{'apel.addInfo.addedBy' | translate}}</th>
                <th md-column width="15%">{{'apel.addInfo.additionDate' | translate}}</th>
                <th md-column>{{'apel.addInfo.label' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="comment in application.comments | orderBy: 'inserted'" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>{{comment.insertedBy}}</td>
                <td md-cell>{{comment.inserted | hoisDateTime}}</td>
                <td md-cell>{{comment.addInfo}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </fieldset>
    </div>
    <br>

    <div layout="column" flex>
      <fieldset>
        <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.relatedFiles' | translate}}</legend>
        <table md-table class="secondary-table">
          <thead md-head>
            <tr md-row>
              <th md-column>
                <span>{{'file.nameAndFile' | translate}}</span>
              </th>
              <th md-column>
                <span>{{'file.additionDate' | translate}}</span>
              </th>
              <th md-column>{{'file.addedBy' | translate}}</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="file in application.files | orderBy: 'id'" ng-class-odd="'odd'" ng-class-even="'even'">
              <td md-cell>
                <div layout="row" flex>
                  <div flex="60">
                    {{file.oisFile.fname}}
                  </div>
                  <div flex>
                    <a ng-href="{{getUrl(file.oisFile, 'apelapplication')}}" target="_blank" rel="noopener noreferrer">
                      <md-icon md-font-set="material-icons">file_download</md-icon>
                    </a>
                  </div>
                </div>
              </td>
              <td md-cell>
                {{file.inserted | hoisDateTime}}
              </td>
              <td md-cell>
                {{file.insertedBy}}
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>

      <div layout="row">
        <md-button ng-if="application.status !== 'VOTA_STAATUS_C'" class="md-raised md-primary" ng-href="#/apelApplication/{{::applicationId}}/edit">{{'main.button.edit' | translate}}</md-button>
        <md-button ng-if="application.status === 'VOTA_STAATUS_C' && auth.isAdmin() && canConfirmAndRemoveConfirmation" class="md-raised md-default"
          ng-click="removeConfirmation()">{{'apel.removeConfirmation' | translate}}</md-button>
        <a href="{{applicationPdfUrl}}" target="_blank" class="md-button md-raised">{{'main.button.print' | translate}}</a>
        <md-button class="md-raised md-default" href="/#/apelApplication/">{{'main.button.back' | translate}}</md-button>
      </div>
    </div>
  </div>
</div>
