<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <form name="apelApplicationForm" ng-submit="save()" novalidate>
      <div ng-hide="application.student" layout="row" layout-sm="column" layout-xs="column">
        <div flex="45" flex-sm="100" flex-xs="100">
          <hois-autocomplete flex ng-model="application.student" method="students" name="student" label="apel.student"
          additional-query-params="{active: true}"></hois-autocomplete>
        </div>
      </div>
      <div ng-hide="!application.student">
        <div ng-include="'apelApplication/templates/apel.application.information.html'"></div>
      </div>

      <div ng-hide="!application.student">
        <fieldset>
          <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.formalLearnings.labelWithSubTitle' | translate}}</legend>
          <span ng-if="application.isVocational" ng-repeat="record in application.records | filter:{isFormalLearning: true} | orderBy:'id'">
            <div ng-include="'apelApplication/templates/apel.application.formal.learning.vocational.list.html'"
              style="margin-bottom: 20px"></div>
          </span>
          <div ng-if="!application.isVocational" ng-include="'apelApplication/templates/apel.application.formal.learning.higher.list.html'"
            style="margin-bottom: 20px"></div>
          <md-button ng-if="application.status === 'VOTA_STAATUS_K'" class="md-raised md-default" ng-click="editFormalLearning()">{{'main.button.create' | translate}}</md-button>
        </fieldset>
      </div>
      <br>

      <div ng-hide="!application.student">
        <fieldset>
          <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.informalLearnings.labelWithSubTitle' | translate}}</legend>
          <span ng-repeat="record in application.records | filter:{isFormalLearning: false} | orderBy:'id'">
              <div ng-if="application.isVocational" ng-include="'apelApplication/templates/apel.application.informal.learning.vocational.list.html'"
                style="margin-bottom: 20px"></div>
              <div ng-if="!application.isVocational" ng-include="'apelApplication/templates/apel.application.informal.learning.higher.list.html'" 
                style="margin-bottom: 20px"></div>
            </span>
          <md-button ng-if="application.status === 'VOTA_STAATUS_K'" class="md-raised md-default" ng-click="editInformalLearning()">{{'main.button.create' | translate}}</md-button>
        </fieldset>
      </div>
      <br>

      <div ng-hide="!application.student" layout="column" flex>
        <fieldset>
          <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'apel.addInfo.addInfos' | translate}}</legend>
          <md-button ng-if="editing" class="md-raised" ng-click="openEditCommentDialog()">{{'main.button.create' | translate}}</md-button>
          <md-table-container>
            <table md-table md-progress="tabledata.$promise" class="secondary-table">
              <thead md-head>
                <tr md-row>
                  <th md-column width="55%">{{'apel.addInfo.label' | translate}}</th>
                  <th md-column width="20%">{{'apel.addInfo.additionDate' | translate}}</th>
                  <th md-column width="20%">{{'apel.addInfo.addedBy' | translate}}</th>
                  <th md-column width="5%"></th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="comment in application.comments | orderBy: 'inserted'" ng-class-odd="'odd'" ng-class-even="'even'">
                  <td md-cell>{{comment.addInfo}}</td>
                  <td md-cell>{{comment.inserted | hoisDateTime}}</td>
                  <td md-cell>{{comment.insertedBy}}</td>
                  <td md-cell></td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </fieldset>
      </div>
      <br>

      <div ng-hide="!application.student" layout="column" flex>
        <fieldset>
          <legend md-colors="{color: 'primary-800'}" class="md-title-small">{{'main.relatedFiles' | translate}}</legend>
          <md-button class="md-raised" ng-if="editing" ng-click="openAddFileDialog()">{{'main.button.uploadFile' | translate}}</md-button>
          <table md-table class="secondary-table">
            <thead md-head>
              <tr md-row>
                <th md-column width="55%">
                  <span>{{'file.nameAndFile' | translate}}</span>
                </th>
                <th md-column width="20%">
                  <span>{{'file.additionDate' | translate}}</span>
                </th>
                <th md-column width="20%">{{'file.addedBy' | translate}}</th>
                <th md-column  width="5%"></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="file in application.files | orderBy: 'id'" ng-class-odd="'odd'" ng-class-even="'even'">
                <td md-cell>
                  <div layout="row" flex>
                    <div>
                      {{file.oisFile.fname}}
                    </div>
                    <div flex>
                      <a ng-href="{{getUrl(file.oisFile, 'apelapplication')}}" target="_blank" rel="noopener noreferrer">
                        <md-icon md-font-set="material-icons">file_download</md-icon>
                      </a>
                    </div>
                  </div>
                </td>
                <td md-cell>
                  {{file.inserted | hoisDateTime}}
                </td>
                <td md-cell>
                  {{file.insertedBy}}
                </td>
                <td md-cell>
                  <a class="remove nomargin" ng-if="editing" ng-click="deleteFile(file)">&times;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>

      <div ng-if="application.student" layout="row">
        <md-button class="md-raised md-primary" ng-if="canChangeTransferStatus" type="submit">{{'main.button.save' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_K'" ng-click="submit()">{{'main.button.submit' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_K'" ng-click="delete()">{{'main.button.delete' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_E' && auth.isAdmin()" ng-click="sendToConfirm()">{{'apel.sendToConfirm' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_E' && auth.isAdmin()" ng-click="sendBackToCreation()">{{'apel.sendBackToCreation' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_Y' && auth.isAdmin() && canConfirmAndRemoveConfirmation"
          ng-click="confirm()">{{'apel.confirm' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_Y' && auth.isAdmin()" ng-click="sendBack()">{{'apel.sendBack' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="(application.status === 'VOTA_STAATUS_E' || application.status === 'VOTA_STAATUS_Y') && auth.isAdmin()"
          ng-click="reject()">{{'apel.reject' | translate}}</md-button>
        <md-button class="md-raised md-default" ng-if="application.status === 'VOTA_STAATUS_C' && auth.isAdmin() && canConfirmAndRemoveConfirmation"
          ng-click="removeConfirmation()">{{'apel.removeConfirmation' | translate}}</md-button>
        <a href="{{applicationPdfUrl}}" target="_blank" class="md-button md-raised">{{'main.button.print' | translate}}</a>
        <md-button class="md-raised md-default" href="/#/apelApplication/">{{'main.button.back' | translate}}</md-button>
      </div>
      <div ng-if="!application.student" layout="row">
        <md-button class="md-raised md-default" ng-click="back('/#/apelApplication/')">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>
  </div>
</div>
