<div class="ois-form-layout-padding ois-form-layout form-readonly" ng-cloak>
  <form name="schoolForm">
    <md-input-container class="md-block">
      <label class="textInput">{{'school.name' | translate}}</label>
      <hois-value value="school.nameEt"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.code' | translate}}</label>
      <hois-value value="school.code"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.regNr' | translate}}</label>
      <hois-value value="school.regNr"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.ehisId' | translate}}</label>
      <hois-value value="school.ehisId"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.nameEn' | translate}}</label>
      <hois-value value="school.nameEn"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.email' | translate}}</label>
      <hois-value value="school.email"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.phone' | translate}}</label>
      <hois-value value="school.phone"></hois-value>
    </md-input-container>

    <md-input-container class="md-block">
      <label class="textInput">{{'school.address' | translate}}</label>
      <hois-value value="school.address"></hois-value>
    </md-input-container>
  </form>

  <h3 ng-if="school.logo">{{'school.logo.currentLogo' | translate}}</h3>
  <div>
    <img ng-if="school.logo" ng-src="{{school.imageUrl}}">
  </div>
  <br>
  <md-button ng-href="#/school" class="md-raised">{{'main.button.back' | translate}}</md-button>
</div>
