<div ng-cloak ng-if="auth.higher && auth.vocational">
  <div ng-include="'school/school.capacity.type.navbar.html'"></div>
</div>

<div layout="column" layout-padding>
  <div>
    <form name="schoolStudyLevelsForm">
      <md-tablecontainer>
        <table md-table class="secondary-table">
          <thead md-head>
            <tr md-row style="height: 24px;">
              <th md-column rowspan="2">
                <md-checkbox ng-model="selectAll" ng-change="updateAllCheckBoxes(selectAll)">
                </md-checkbox>
              </th>
              <th md-column rowspan="2">{{'schoolCapacityType.type' | translate}}</th>
              <th md-column rowspan="2">{{'schoolCapacityType.isTimetable' | translate}}</th>
              <th md-column ng-if="!isHigher" rowspan="2">{{'schoolCapacityType.isContact' | translate}}</th>
              <th md-column colspan="{{coefficients.length}}" style="text-align: center">{{auth.higher ? ('schoolCapacityType.teacherLoadPercentageHigher' | translate) : ('schoolCapacityType.teacherLoadPercentageVocational' | translate)}}</th>
              <th md-column rowspan="2">&nbsp;</th>
            </tr>
            <tr md-row style="height: 24px;">
              <th md-column style="text-align: center; padding: 0; min-width: 100px;" ng-repeat="coef in coefficients">
                {{coef.value}}
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="capacityType in capacityTypes" ng-class-odd="'odd'" ng-class-even="'even'">
              <td md-cell>
                <md-checkbox ng-model="capacityType.isUsable" ng-change="isUsableChanged(capacityType)">
                </md-checkbox>
              </td>
              <td md-cell>{{currentLanguageNameField(capacityMap[capacityType.typeCode])}}</td>
              <td md-cell>
                <md-checkbox ng-model="capacityType.isTimetable" ng-disabled="!capacityType.isUsable">
                </md-checkbox>
              </td>
              <td md-cell ng-if="!isHigher">
                <md-checkbox ng-model="capacityType.isContact"></md-checkbox>
              </td>
              <td md-cell style="padding: 0;" ng-repeat="coef in coefficients">
                <div style="width: min-content; margin: auto; white-space: nowrap;">
                  <div ng-repeat="load in capacityType.mappedLoads[coef.code] | filter: {type: ''} | orderBy: '-startDate'">
                    {{load.loadPercentage}} ({{currentLanguageNameField(studyYearMap[load.studyYearId])}})
                  </div>
                </div>
              </td>
              <td md-cell>
                <md-button md-no-ink class="md-primary change-button" ng-if="canEdit && capacityType.id && capacityType.isUsable"
                  ng-click="changeLoads(capacityType)">{{'main.button.change' | translate}}</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-tablecontainer>
    </form>
    <md-button ng-if="canEdit" ng-click="update()" class="md-raised md-primary">{{'main.button.save' | translate}}</md-button>
  </div>
</div>
