<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
  <div flex>
    <form ng-submit="loadData()" layout="column" name="applicationStudentForm">
      <br/>
      <div ng-controller="ApplicationController as mainCtrl">
        <div ng-include="'application/templates/application.html'" ng-init="application=studentApplication"></div>
      </div>
      <br/>
      <div layout="row">
        <md-button class="md-raised md-primary" ng-click="saveAndSubmit()">{{'main.button.submit' | translate}}</md-button>
        <md-button class="md-raised" ng-click="save()">{{'main.button.save' | translate}}</md-button>
        <md-button ng-href="#/applications/student" class="md-raised">{{'main.button.back' | translate}}</md-button>
      </div>
    </form>
  </div>
</div>
