.invalid{
	color: red !important;
}

a, a:visited, a:hover
{
	color: rgb(13,71,161);
	cursor:pointer;
	text-decoration: underline;
}

.hois-collapse {
background-color: #e8e8e8;
margin-bottom:18px;
padding-left:5px;
/*border-bottom: 2px solid #0000cc;*/
/*border-top: 1px solid #0000ff;*/
}

md-checkbox.md-checked .md-icon {
 background-color: rgba(13,71,161, 0.87);
}

.hois-collapse-button
{
	margin-bottom: 0px;
}
.hois-collapse-header {
  color: rgb(13,71,161);
  font-weight: 500;
}

@media (max-width: 600px) {
  .hois-collapse-button {
    min-width: 60px;
  }

  .hois-collapse-header {
    min-width: 175px;
  }
}

md-table-container .md-button
{
	text-transform: uppercase;
}

.md-button
{
	text-transform: none;
}


.nomargin  md-input-container,
.nomargin
{
	margin-bottom:0px!important;
	margin-top:0px!important;
}

.top-margin
{
	margin-top:18px;
}

.top-margin-minus
{
	margin-top:-18px!important;
}

.small-margin
{
	margin-bottom:5px;
}

.close {
	color: #ddd;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
	width: 40px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.small-input
{
	padding-top: inherit!important;
    height: inherit!important;
}



#currentLogoView {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	max-height:150px;
}

.align-center
{
	display: flex;
    align-items: center;
}


/*md-input-container textarea, md-input-container input[type="text"], md-input-container input[type="password"], md-input-container input[type="datetime"], md-input-container input[type="datetime-local"], md-input-container input[type="date"], md-input-container input[type="month"], md-input-container input[type="time"], md-input-container input[type="week"], md-input-container input[type="number"], md-input-container input[type="email"], md-input-container input[type="url"], md-input-container input[type="search"], md-input-container input[type="tel"], md-input-container input[type="color"],
div[main-classifier-code]
{
font-size:13px;
}*/

/*md-radio-button .md-on, md-radio-button .md-off
{
	height:15px;
	width:15px;
}*/

/*md-input-container  .md-input,
.border-bottom{
    border-bottom: 1px solid #ccc;
}*/

/*md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 15px, 0) scale(0.75);
    transform: translate3d(0, 15px, 0) scale(0.75);
	background-color: #ccc;
}*/
md-input-container {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 1px 0;
  vertical-align: middle;
  /*
   * The .md-input class is added to the input/textarea
   */ }

md-input-container a{
  font-size: 13px;
}

   md-input-container .md-input {
     -webkit-order: 2;
         -ms-flex-order: 2;
             order: 2;
     display: block;
     margin-bottom: 6px;
     background: #F5F5F5;
     padding-top: 20px;
     padding-bottom: 0px;
     padding-left: 2px;
     padding-right: 2px;
     /*border-width: 1px 1px 1px 1px ;*/
     line-height: 26px;
     height: 40px;
     -ms-flex-preferred-size: 26px;
     /*border-radius: 5px;
     border-style: solid;*/
     width: 100%;
	 font-size: 13px;
     /*box-sizing: border-box;*/
     float: left; }

md-input-container md-select {
     -webkit-order: 2;
         -ms-flex-order: 2;
             order: 2;
     display: block;
     /*margin-bottom: 6px;*/
     background: #F5F5F5;
     padding-top: 10px;
     padding-bottom: 0px;
     padding-left: 2px;
     padding-right: 2px;
     /*border-width: 1px 1px 1px 1px ;*/
     line-height: 26px;
     /*height: 40px;*/
     -ms-flex-preferred-size: 26px;
     /*border-radius: 5px;
     border-style: solid;*/
     width: 100%;
	 font-size: 13px;
     /*box-sizing: border-box;*/
     float: left; }

 /*md-input-container.md-input-focused .md-input,
 md-input-container .md-input.ng-invalid.ng-dirty {
   padding-bottom: 0;
   border-width: 0 0 2px 0; }*/

 /*md-input-container:not(.md-input-invalid).md-input-focused .md-input {
     border-color: black;
          }*/


md-input-container:not(.md-input-invalid).md-input-focused label {
    padding-top: 0px;
    /*color: green;*/
	color: rgba(0, 0, 0, 0.541176);
}


md-input-container .md-errors-spacer {
    float: right;
    min-height: 0px;
    min-width: 0px;
	margin-top: -28px;
    z-index: 1;
    position: relative;
	transform: translate3d(0,0,0) scale(0.85);
	color: #ccc;
}

/*.md-char-counter{
    display:none;
}*/
/*html[dir=rtl] md-input-container .md-errors-spacer {
    float: left;
    unicode-bidi: embed;
}
body[dir=rtl] md-input-container .md-errors-spacer {
    float: left;
    unicode-bidi: embed;
}
md-input-container .md-errors-spacer bdo[dir=rtl] {
    direction: rtl;
    unicode-bidi: bidi-override;
}
md-input-container .md-errors-spacer bdo[dir=ltr] {
    direction: ltr;
    unicode-bidi: bidi-override;
}*/

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
transform: translate3d(3px, 28px, 0) scale(1);
}

._md-datepicker-floating-label label
{
	overflow: visible !important;
}

md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
     -webkit-transform: translate3d(2px, 20px, 0) scale(0.85);
     transform: translate3d(2px, 20px, 0) scale(0.85);
}

md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
    -webkit-transform: translate3d(0px, -10px, 0) scale(0.85);
    transform: translate3d(0px, -10px, 0) scale(0.85);
    color: rgba(0,0,0,0.87);
}

.radio-layout-row md-radio-button{
    display: inline;
}

.radio-layout-row md-radio-button:not(:nth-child(1)) {
  margin-left:10px;
}

.offset-4, .flex-offset-4 {
  margin-left: 4%;
}
  [dir=rtl] .offset-4, [dir=rtl] .flex-offset-4 {
    margin-left: auto;
    margin-right: 4%; }

.offset-64, .flex-offset-64 {
  margin-left: 64%;
}
  [dir=rtl] .offset-64, [dir=rtl] .flex-offset-64 {
    margin-left: auto;
    margin-right: 64%; }

.flex-64 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 64%;
    max-height: 100%;
    box-sizing: border-box;
}

/*md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
    -webkit-transform: translateY(-22px) translateX(-2px) scale(0.75);
    transform: translateY(-22px) translateX(-2px) scale(0.75);
}*/

/*md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
     -webkit-transform: translate3d(2px, 24px, 0) scale(0.8);
     transform: translate3d(2px, 24px, 0) scale(0.8);
}*/

 /*md-icon {
   margin: auto;
   background-repeat: no-repeat no-repeat;
   display: inline-block;
   vertical-align: middle;
   fill: currentColor;
   height: 24px;
   width: 24px;}
   md-icon svg {
     pointer-events: none;
     display: block; }
   md-icon[md-font-icon] {
     line-height: 1;
     width: auto; }*/

/* md-input-container > md-icon {
   position: absolute;
   top: 5px;
   left: 20px;
   right: auto; }*/

 /*md-input-container ng-messages, md-input-container data-ng-messages, md-input-container x-ng-messages,
 md-input-container [ng-messages], md-input-container [data-ng-messages], md-input-container [x-ng-messages] {
   position: relative;
   float: right;
   -webkit-order: 4;
       -ms-flex-order: 4;
           order: 4;
   overflow: hidden;
   clear: left; }
*/

 /*md-input-container ng-message, md-input-container data-ng-message, md-input-container x-ng-message,
 md-input-container [ng-message], md-input-container [data-ng-message], md-input-container [x-ng-message],
 md-input-container [ng-message-exp], md-input-container [data-ng-message-exp], md-input-container [x-ng-message-exp],
 md-input-container .md-char-counter {
   font-size: 12px;
   line-height: 14px;
   overflow: hidden;
   transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
   opacity: 1;
   margin-top: 0;
   padding-top: 1px;
 }

 md-input-container ng-message:not(.md-char-counter), md-input-container data-ng-message:not(.md-char-counter), md-input-container x-ng-message:not(.md-char-counter),
 md-input-container [ng-message]:not(.md-char-counter), md-input-container [data-ng-message]:not(.md-char-counter), md-input-container [x-ng-message]:not(.md-char-counter),
 md-input-container [ng-message-exp]:not(.md-char-counter), md-input-container [data-ng-message-exp]:not(.md-char-counter), md-input-container [x-ng-message-exp]:not(.md-char-counter),
 md-input-container .md-char-counter:not(.md-char-counter) {
   padding-right: 10px;
   padding-left: 50px; }*/




/*md-input-container.md-default-theme.md-input-invalid ng-message, md-input-container.md-input-invalid ng-message, md-input-container.md-default-theme.md-input-invalid data-ng-message, md-input-container.md-input-invalid data-ng-message, md-input-container.md-default-theme.md-input-invalid x-ng-message, md-input-container.md-input-invalid x-ng-message, md-input-container.md-default-theme.md-input-invalid [ng-message], md-input-container.md-input-invalid [ng-message], md-input-container.md-default-theme.md-input-invalid [data-ng-message], md-input-container.md-input-invalid [data-ng-message], md-input-container.md-default-theme.md-input-invalid [x-ng-message], md-input-container.md-input-invalid [x-ng-message], md-input-container.md-default-theme.md-input-invalid [ng-message-exp], md-input-container.md-input-invalid [ng-message-exp], md-input-container.md-default-theme.md-input-invalid [data-ng-message-exp], md-input-container.md-input-invalid [data-ng-message-exp], md-input-container.md-default-theme.md-input-invalid [x-ng-message-exp], md-input-container.md-input-invalid [x-ng-message-exp], md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
     color: rgb(255,44,0);
          }*/

/*md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0, 6px, 0) scale(0.75);
    transform: translate3d(0, 6px, 0) scale(0.75);
    -webkit-transition: width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    transition: width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, width cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s, -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
}*/

/*md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child {
    -webkit-transform: translateY(-22px) translateX(-2px) scale(1);
    transform: translateY(-22px) translateX(-2px) scale(1);
	color: #212121!important;
	font-weight:bold!important;
}
*/
md-input-container label:not(.md-no-float):not(.md-container-ignore),
  md-input-container .md-placeholder,
.md-select-value > span:not(.md-select-icon)  {
  font-size: 13px;
  /*color: rgba(0,0,0,.87);*/
}

/*md-input-container label:not(.md-no-float):not(.md-container-ignore),
  md-input-container .md-placeholder {
	transform: translate3d(2px, 28px, 0) scale(1);
}*/

/*md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
padding-left: 6px;
}*/


md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label,
.md-select-value > span:not(.md-select-icon)  {
    color: rgba(0,0,0,0.87);
}

/*md-input-container:not(.md-input-invalid) label:not(.md-no-float):not(.md-container-ignore),
  md-input-container:not(.md-input-invalid) .md-placeholder,
md-input-container:not(.md-input-invalid) .md-select-value > span:not(.md-select-icon)
  {
	color: #424242;
}*/
.common-label {
	font-size: 13px;
	/*font-weight:bold;
	color: #424242;*/
	padding-left:3px;
}

#groupSelection md-grid-list md-grid-tile figure
{
  -webkit-justify-content: left!important;
}

#vTimetable div {
  /*border: 1px solid #ccc;*/
  border-collapse: collapse;
  padding: 3px;
  font-size:12px;
}

.timetableDayBg
{
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
}

.odd {
background-color: #fcfcfc;
}

.even {
  background-color: #f5f5f5;
}


/*md-input-container.md-input-has-value .md-select-value > span:not(.md-select-icon) {
   color: #000;
}*/



.nav-header .md-button
{
	min-height: inherit;
    min-width: inherit;
	line-height: inherit;
	text-transform: inherit;
}

.nav-header .md-subhead
{
	text-decoration: none;
    color: white;
}

.nav-header .md-accent
{
	text-decoration: underline;
	font-weight: 700;
    font-size: 16px;
}

.addNew {
    max-width: 100px;
}

md-toolbar, header {
	min-height: 64px;
}

md-dialog md-toolbar{
	min-height: inherit;
}

md-dialog md-toolbar  h2{
	color:#fff;
}

.remove {
	color: #ff4d4d;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
	width: 40px;
	text-decoration: none!important;
}

.remove:hover,
.remove:focus {
    color: #ff8080;
    text-decoration: none;
    cursor: pointer;
}
.occupationTitle{
	font-size: 18px;
}

/*.ois-form-layout md-input-container {
  margin-top: 0px;
  margin-bottom: 0px;
}*/

/*.ois-form-layout md-input-container > md-select,
.ois-form-layout md-input-container > .hois-classifier-value,
.ois-form-layout md-input-container > .hois-value {
  padding-bottom: 1.5em;
}
*/
.horizontal-radio-group {
  padding-bottom: 1.5em;
  padding-top: 1em;
  /* padding-left: 5px; */
}

.horizontal-radio-group > md-input-container > label {
  height: 100%;
}

.ois-form-layout md-input-container.label-only {
  height: 3em;
}

.ois-form-layout span.label {
  margin-left: 2px;
  padding-right: 20px;
  font-size: 13px;
}

/* FIXME: these are bad because they are applied also when flex-offset-xx are present */
/*.ois-form-layout .flex-offset-5 {
    margin-left: 5%;
}

.ois-form-layout .flex-offset-2 {
    margin-left: 2%;
}*/

/*.ois-form-layout label, .ois-form-layout md-input-container:not(.md-input-invalid) md-select-value.md-select-placeholder.md-select-value > span, .ois-form-layout span.label, .ois-form-layout md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: navy;
}*/

/*md-toolbar {
  background-color: rgb(252, 252, 252);
  color: #151515;
  font-size: small;
}*/

.hois_header{
  background-color: #fff!important;
  color: #151515!important;
  font-size: small!important;
}

.hois_header_path{
  font-size: small!important;
}

md-autocomplete-wrap .md-whiteframe-1dp, .md-whiteframe-z1
{
	box-shadow: 0px 0px 0px 0px;
	border-bottom: 1px solid #eee;
}


.docs-toolbar-tools > .md-toolbar-tools h2,
h2
{
	font-size: 14px!important;
	color: #0D47A1;
	font-weight:normal;
}

md-toolbar md-select {
  margin: 0px;
}

md-content {
  background-color: #fff;
}

/*for md-datepicker to aligning with other input fields*/
/*md-input-container._md-datepicker-floating-label._md-datepicker-has-calendar-icon {
  left: -12px;
}*/

.inline{
	display: inline-block;
}
.shiftDown1{
    margin-top:10px !important;
}

.shiftDown2{
    margin-top:20px !important;
}

.indentForToast {
    margin-top: 70px;
}

md-toast.toastInfo .md-toast-content {
    background-color: green;
}

md-toast.toastWarn .md-toast-content {
    background-color: darkorange;
}

md-toast.toastError .md-toast-content {
    background-color: red;
}

/*.numberInput{
    max-width: 80px;
}*/

.logo {
  min-width: 60px;
  max-width: 100px;
  min-height: 40px;
  max-height: 60px;
  padding: 0.2em;
}

.logo_txt {
	font-size: 34px;
    font-weight: 400;
}

.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
 /*transform: translate3d(0, 0.9%, 0)!important;*/
}
.site-sidenav > * {
  min-width: 218px;
}

.docs-menu,
.docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 0px 2px 2px rgba(0, 0, 0, 0.098),
  0px 0px 5px 1px rgba(0, 0, 0, 0.084);
  /*transform: translate3d(0, 0.9%, 0)!important;*/
}
.docs-menu > li {
  border-bottom: 1px solid #E0E0E0;
}

.docs-menu .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

/*html[dir=rtl] .docs-menu .md-button,
body[dir=rtl] .docs-menu .md-button {
  unicode-bidi: embed;
  text-align: right;
}*/

/*.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #267ED5 !important;
}
.docs-menu .md-button md-icon {
  color: white;
}
.material-icons.md-dark {
  color: #0D47A1;
}*/
.docs-toolbar-tools {
  /*margin-left: 24px;*/
}
.docs-menu md-select {

  /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
     to not be scrollable.
   */
 /* margin: 0;
  width: 100%;*/
}

/*.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.docs-menu .md-button.active {
  background: #267ED5;
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}

*/
html[dir=rtl] .menu-heading,
body[dir=rtl] .menu-heading {
  unicode-bidi: embed;
  text-align: right;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0;
}
.docs-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.parent-list-item:last-child {
  margin-bottom: 20px;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
}

menu-link {
    color: rgb(13, 71, 161);
}

.md-title .hois-classifier-value {
    display: inline-block;
}

.md-button.md-icon-button {
    margin: 0;
}

/*.md-icon-button + .md-datepicker-input-container {
    margin-left: 0px;
}
*/
.md-datepicker-input-container {
    width: 150px;
}

/*._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
     right: inherit;
}
*/
table.md-table thead.md-head > tr.md-row
{
	background-color:#1976D2;
}

.occupation-header
{
	background-color:#E0E0E0!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:13px;
	height:38px;
	padding-left:5px;
}

.sub-header1
{
	background-color:#EEEEEE!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:12px;
	height:32px;
	padding-left:10px;
}

.sub-header2
{
	background-color:#F5F5F5!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:12px;
	height:32px;
	padding-left:15px;
}

.sub-header-italic
{
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:12px;
	height:32px;
	padding-left:15px;
	font-style:italic;
}

.joint-data
{
	background-color:#EEEEEE!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:13px;
	height:38px;
	padding-left:5px;
	padding-right:5px;
}
.joint-data-small
{
	background-color:#EEEEEE!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:13px;

	padding-left:5px;
	padding-right:5px;
}

.occupation-header2
{
	background-color:#EEEEEE!important;
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	font-size:12px;
	height:38px;
	padding-left:10px;
}

.occupation-row
{
	color: rgba(0,0,0,0.87)!important;
	font-weight:normal!important;
	min-height:38px;
	padding-left:5px;
	font-size:13px;
}


table.md-table thead.md-head > tr.md-row > th
{
	color:#fff;
}

table.md-table thead.md-head > tr.md-row > th md-icon svg {
  fill: white;
}

table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 38px;
}

table.md-table thead.md-head > tr.md-row  {
    height: 42px;
}

.change-button{
	min-height: inherit;
	line-height:inherit;
}

.secondary-table  thead.md-head > tr.md-row,
.secondary-table-header
{
	background-color:#FFF!important;
}
.secondary-table thead.md-head > tr.md-row > th,
.secondary-table-header
{
	font-size: 13px;
	font-weight: 700!important;
}

.secondary-table thead.md-head > tr.md-row > th,
.secondary-table-header
{
	color: rgba(0,0,0,0.87)!important;
}

.secondary-table thead.md-head > tr.md-row ,
.secondary-table-header
 {
    height: 32px!important;
}

.secondary-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row,
.secondary-table-row {
    height: 32px!important;
	font-size: 13px;
	font-weight: normal!important;
}

.secondary-table-row
{
	border-bottom: 1px #eee solid;
}


md-checkbox .md-label, md-option .md-text, md-radio-button .md-label
{
	font-size:13px;
}

md-select-menu[multiple] md-option.md-checkbox-enabled .md-icon {
    box-sizing: border-box;
    -webkit-transition: 240ms;
    transition: 240ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

.ois-form-layout-padding md-radio-group{
/*margin-bottom:28px;*/
}

md-option{
	height: 32px;
}

.ois-form-layout-padding
{
	padding: 18px 18px 8px 18px;
}

.md-subheader.md-default-theme, .md-subheader {
     background-color: inherit;
}

.md-subheader .md-subheader-inner {
    padding: 16px 16px 16px 0px ;
}

h3{
	color: rgb(13,71,161);
   font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    margin: 10px 0 5px 0;
}

p a{
	font-size: 13px;
}

hois-created-modified table.md-table thead.md-head > tr.md-row {
    height: 36px;
}

hois-created-modified {
	padding-bottom: 20px;
}

.bold {
    font-weight: bold;
}


/*New styles*/
fieldset{
	border-style: solid;
	border-width: 1px;
	height: 100%;
}

fieldset legend{
	color: #1565C0;
}

.md-title-small {
    font-size: 16px;
    font-weight: 500;
}

.md-title-very-small {
    font-size: 13px;
    font-weight: 400;
}


[role="tabpanel"] {
  transition: none;
}

.form-readonly md-input-container, .readonly{
	margin-bottom: 18px;
	padding-left: 2px;
}

.form-readonly md-input-container > label, .readonly > label{
    transform: translate3d(2px, 4px, 0) scale(0.85)!important;
}

.form-readonly md-input-container > div, .readonly > div{
    font-size:13px;
	padding-left: 2px;
	background-image: linear-gradient(to right, rgb(192,192,192) 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 3px 1px;
	background-repeat: repeat-x;
	min-height: 20px;
}

.md-datepicker-button
{
	display: none;
}

mdp-time-picker button {
  display: none!important;
}

.md-icon-button + .md-datepicker-input-container {
	margin-left: 0px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
right:inherit;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
right: 10px;
}
.md-datepicker-triangle-button{
bottom: 3px;
}

.form-readonly div:empty:after,
.readonly  div:empty:after{
   content:"-";
   line-height: 20px;
   color:#fff;
}

.form-readonly div > span:empty:after,
.readonly div > span:empty:after  {
  /* border: 1px solid white!important;*/
  content:"-";
  line-height: 20px;
  color:#fff;
}

.form-readonly md-checkbox div:empty:after{
   content:"";
}

md-input-container textarea.md-input {
    min-height: 47px;
}

td.bordered[md-cell] {
  border-left: 1px rgba(0,0,0,.12) solid;
  border-right: 1px rgba(0,0,0,.12) solid;
}


.lessonplan
{
	font-size: 12px;
	border-collapse: collapse;
	width: 100%;
}

.lessonplan  td
{
	border: 1px solid #ccc;
	padding: 3px;
}

.lessonplan input[type="text"]
{
	width: 30px;
	text-align: center;
	border: 1px solid #E0E0E0;
}

.subject-study-period {
	font-size: 13px;
	border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;

}

.subject-study-period td{
	border: 1px solid #ccc;
  padding: 3px;
  min-width: 30px;
  padding:5px;
}

.subject-study-period thead tr th {
	border: 1px solid #ccc;
}

.subject-study-period td:not(:first-child){
  text-align: center;
}

.subject-study-period td:first-child{
  min-width: 120px;
  max-width: 350px;
}

.subject-study-period td:last-child{
  min-width: 120px;
}

.subject-study-period th span {
  float: left;
  padding:5px;
}

.subject-study-period a {
  float: right;
}

.subject-study-period input[type="number"] {
	width: 30px;
	text-align: center;
	border: 1px solid #E0E0E0;
}

.subject-study-period input[type="number"].ng-invalid.ng-touched {
  border: 1px solid #FA787E;
}

.subject-study-period-proportion {
  font-size: 12px;
  margin-left: 30px;
  color: grey;
}

.subject-study-period-proportion .hois-classifier-value {
  display: inline-block;
  font-size: 12px !important;
}

/*
* Hides arrows from number input
*/
.subject-study-period input::-webkit-outer-spin-button,
.subject-study-period input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bold
{
	font-weight: 700;
}

.center
{
	text-align: center;
}
.md-autocomplete-suggestions li {
    font-size: 13px!important;
    line-height: 32px!important;
    height: 32px!important;
}

.timetable-drag {
    width: 55px;
    height: 30px;
    border: 1px solid #CCC;
    text-align: center;
    vertical-align: middle;
    cursor: move;
}

.timetable-higher-drag {
  width: 99%;
  height: 30px;
  border: 1px solid #CCC;
  text-align: center;
  vertical-align: middle;
}

.timetable-drop {
    width: 55px;
    height: 30px;
    border: 1px solid #CCC;
    display: block;
}

.timetable-higher-drop {
  width: 100%;
  height: 30px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.highlight-drop-area{
  background-color: #F8BBD0;
}

.timetable-higher-drop-column {
  width: 20px;
  text-align: center;
}

.timetable-higher-drop-odd {
  width: 30px;
  height: 30px;
  border-left: 1px dotted #CCC;
  border-right: 1px dotted #CCC;
  display: block;
}

.higher-timetable-lesson-time {
  /*border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;*/
  text-align: center;
  height:1px;
}

.higher-timetable-lesson-time > div:not(:empty){
  background-color: #F8BBD0;
  height:100%;
  display: block;
  padding-top: 8px;
}

#timetableCreation {
    font-size: 13px;
}


#timetableCreation .higher tr:first-child > td{
  font-size: 11px!important;
  text-align: center;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
 /* padding-left: 5px;
  padding-right:5px;*/
  border-left: 1px #EEEEEE solid;
}

#timetableCreation .higher tr:nth-child(2) > td{
  min-width:10px;
  max-width:10px;
  border-left: 1px #EEEEEE solid;
}

#timetableCreation .higher{
  border-collapse:collapse;
}

#timetableCreation .higher tr:nth-child(2) > td{
  border-bottom: 1px solid #EEEEEE;
}

#timetableCreation .higher tr:nth-child(1n+3) > td:first-child{
 border-right: 1px #EEEEEE solid;
 border-left: 1px #EEEEEE solid;
 min-width: 60px;
 font-size:12px;
}


#timetable-planned td div:not(:first-child){
    display: block;
}

#timetable-planned-column > div:not(:first-child){
    margin-left: 5px;
    display: block;
}

#timetable-planned-capacity {
    float: left;
}

.timetable-planned-capacity {
  float: left;
}

#timetable-planned-capacity div:not(:first-child){
    margin-top: -20px;
    display: block;
}

.timetable-planned-capacity div:not(:first-child){
  margin-top: -20px;
  display: block;
}

#timetable-planned td{
    vertical-align: top!important;
}
 pre {
  font-size: 13px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#lang-button button{
	min-height: inherit;
	line-height:inherit;
  min-width:inherit;
  margin:0;
  padding-left: 2px;
  padding-right: 2px;
}

#lang-button{
  margin-right:24px;
  margin-left:24px;
}

md-grid-tile {
  overflow: hidden;
  font-size: 12px;
}

.timetableEvent div
{
  padding:0px!important;
}

.timetableEvent > div:nth-child(1) > span:nth-child(1)
{
  font-size:10px!important;
  font-weight:bold;
}

.timetableEvent > div:nth-child(1) > span:nth-child(2)
{
  font-size:12px!important;
}
.timetableEvent > div:not(:nth-child(1))
{
  font-size:10px!important;
}

.md-nav-bar li a {
  text-transform: uppercase;
}

.md-nav-bar li a.md-active{
  color: rgb(13,71,161);
}

.shownTimetable {
  color: grey;
  font-weight: 500;
}

.one-row {
  white-space: nowrap;
}

.unconfirmedFinishedJournals {
  background-color: #F8BBD0;
}
