<div class="form-readonly">
  <div layout="row" layout-sm="column" layout-xs="column">
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.protocolNr' | translate}}</label>
      <hois-value value="protocol.protocolNr"></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.status' | translate}}</label>
      <hois-value value="currentLanguageNameField(protocol.status)"></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.studyPeriod' | translate}}</label>
      <hois-value value=""></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.inserted' | translate}} / {{'moduleProtocol.confirmDate' | translate}}</label>
      <hois-value ng-if="protocol.confirmDate" value="(protocol.inserted | hoisDate).concat(' / ').concat(protocol.confirmDate | hoisDate)"></hois-value>
      <hois-value ng-if="!protocol.confirmDate" value="protocol.inserted | hoisDate"></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.confirmer' | translate}}</label>
      <hois-value value="protocol.confirmer"></hois-value>
    </md-input-container>
  </div>

<!--
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.subject' | translate}}</label>
      <hois-value value=""></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.subjectEt' | translate}}</label>
      <hois-value value=""></hois-value>
    </md-input-container>
  -->

  <div layout="row" layout-sm="column" layout-xs="column">
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.teacher' | translate}}</label>
      <hois-value value=""></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.credits' | translate}}</label>
      <hois-value value="' ' + ('finalExamProtocol.higherCreditsUnit' | translate)"></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.subjectEn' | translate}}</label>
      <hois-value value=""></hois-value>
    </md-input-container>
    <md-input-container flex flex-sm="100" flex-xs="100">
      <label>{{'finalExamProtocol.assessment' | translate}}</label>
      <hois-classifier-value main-classifier-code="KORGHINDAMISVIIS"></hois-classifier-value>
    </md-input-container>
  </div>


  <md-input-container flex flex-sm="100" flex-xs="100">
    <label>{{'finalExamProtocol.studyLevel' | translate}}</label>
    <hois-value value="currentLanguageNameField(protocol.studyLevel)"></hois-value>
  </md-input-container>
  <br>
</div>