<div ng-cloak ng-include="'message/message.navbar.html'"></div>

<div class="ois-form-layout-padding ois-form-layout" ng-cloak>
    <form name="searchForm" ng-submit="searchForm.$valid && loadData()" layout="column" novalidate>
        <div layout="row">
            <md-input-container flex="50" flex-sm="100" flex-xs="100">
                <label class="textInput">{{'message.subject' | translate}}</label>
                <input ng-model="criteria.subject" type="text" md-maxlength="255">
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column" layout-xs="column">
            <md-input-container flex="20" flex-sm="100" flex-xs="100">
                <label>{{'message.sentDatesRange' | translate}}</label>
                <input style="visibility: hidden;">
            </md-input-container>
            <div flex="33">
                <md-input-container flex>
                    <label>{{'main.from' | translate}}</label>
                    <md-datepicker ng-model="criteria.sentFrom" md-max-date="criteria.sentThru" hois-datepicker-extension hd-controller="directiveControllers"></md-datepicker>
                </md-input-container>
                <md-input-container flex>
                    <label>{{'main.thru' | translate}}</label>
                    <md-datepicker ng-model="criteria.sentThru" md-min-date="criteria.sentFrom" hois-datepicker-extension hd-controller="directiveControllers"></md-datepicker>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-xs="column">
          <md-button type="submit" class="md-raised md-primary" ng-if="state === STATES.SEARCH">{{'main.button.search' | translate}}</md-button>
          <md-button class="md-raised md-primary" ng-if="state === STATES.DELETE" ng-click="deleteForm()">{{'main.button.search' | translate}}</md-button>
          <md-button class="md-raised" ng-click="clearCriteria()">{{'main.button.clear' | translate}}</md-button>
          <md-button class="md-raised" ng-if="formState.canSend && state === STATES.SEARCH" ng-href="/#/message/new">{{'message.send' | translate}}</md-button>
          <md-button class="md-raised" ng-if="formState.canDelete && state === STATES.SEARCH" ng-click="deleteForm()">{{'main.button.delete' | translate}}</md-button>
          <md-button class="md-raised" ng-if="formState.canDelete && state === STATES.DELETE" ng-click="changeStateToSearch()">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>

<div layout-padding>
  <div flex ng-if="state === STATES.SEARCH">
    <md-table-container>
      <table md-table md-progress="tabledata.$promise">
        <thead md-head md-order="criteria.order" md-on-reorder="loadData">
          <tr md-row>
            <th md-column md-order-by="subject">{{'message.subject' | translate}}</th>
            <th md-column md-order-by="inserted">{{'message.dateSent' | translate}}</th>
            <th md-column>{{'message.receiver' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell><a href="#/message/{{row.id}}/view">{{::row.subject}}</a></td>
            <td md-cell>{{row.dateSent | hoisDateTime}}</td>
            <td md-cell ng-click="row.clicked = !row.clicked">
                <span ng-if="!row.clicked">{{showReceivers(row, false)}}</span>
                <span ng-if="row.clicked">{{showReceivers(row, true)}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="criteria.size" md-limit-options="[10, 20, 50]"
                         md-page="criteria.page" md-total="{{tabledata.totalElements}}" md-on-paginate="loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>
  </div>
  <div flex ng-if="state === STATES.DELETE">
    <md-table-container>
      <table md-table md-progress="deleteQueryForm.tabledata.$promise">
        <thead md-head md-order="deleteQueryForm.criteria.order" md-on-reorder="deleteQueryForm.loadData">
          <tr md-row>
            <th md-column style="width: 24px;">
              <md-checkbox ng-model="selectAll" aria-label="select all" ng-change="updateAllCheckBoxes(selectAll)"></md-checkbox>
            </th>
            <th md-column md-order-by="subject">{{'message.subject' | translate}}</th>
            <th md-column md-order-by="inserted">{{'message.dateSent' | translate}}</th>
            <th md-column>{{'message.receiver' | translate}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in deleteQueryForm.tabledata.content" ng-class-odd="'odd'" ng-class-even="'even'">
            <td md-cell>
              <md-checkbox ng-model="row.delete" aria-label="delete"></md-checkbox>
            </td>
            <td md-cell><a href="#/message/{{row.id}}/view">{{::row.subject}}</a></td>
            <td md-cell>{{row.dateSent | hoisDateTime}}</td>
            <td md-cell ng-click="row.clicked = !row.clicked">
              <span ng-if="!row.clicked">{{showReceivers(row, false)}}</span>
              <span ng-if="row.clicked">{{showReceivers(row, true)}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="deleteQueryForm.criteria.size" md-limit-options="[50, 100]"
                         md-page="deleteQueryForm.criteria.page" md-total="{{deleteQueryForm.tabledata.totalElements}}" md-on-paginate="deleteQueryForm.loadData"
                         md-label="{page: '{{'main.page' | translate}}:', rowsPerPage: '{{'main.rowPerPage' | translate}}:', of: '{{'main.of' | translate}}'}" md-page-select></md-table-pagination>

    <div layout="row">
      <md-button class="md-raised md-primary" ng-if="formState.canDelete && state === STATES.DELETE" ng-click="delete()">{{'main.button.delete' | translate}}</md-button>
    </div>
  </div>
</div>
