<div layout="column" layout-padding>
    <form name="messageNewForm">
        <div md-colors="{color: 'default-warn'}" ng-if="noEmail">
            <md-icon md-colors="{color: 'default-warn'}" md-font-set="material-icons">info_outline</md-icon>
            <span>{{'message.noEmail' | translate}}</span>
        </div>
        <div layout="column">

            <md-input-container flex="50" flex-sm="100" flex-xs="100">
                <label class="textInput">{{'message.subject' | translate}}</label>
                <input ng-model="record.subject" type="text" md-maxlength="1000" required>
            </md-input-container>
            <md-input-container flex="50" flex-sm="100" flex-xs="100">
                <label class="textInput">{{'message.content' | translate}}</label>
                <textarea ng-model="record.content" max-rows="20" md-maxlength="2000" required></textarea>
            </md-input-container>
            <md-input-container flex="50" flex-sm="100" flex-xs="100">
                <label>{{'message.targetGroup' | translate}}</label>
                <hois-classifier-select ng-model="targetGroup" model-value-attr="code" main-classifier-code="ROLL" show-only-values="targetGroups" required ng-change="targetGroupChanged(targetGroup, '{{targetGroup}}')"></hois-classifier-select>
            </md-input-container>
            <!--hois-autocomplete is not used as query needs additional parameters (school, role)-->
            <md-autocomplete
                ng-show="targetGroup"
                name="receiverInput"
                md-selected-item="receiver"
                md-search-text="queryText"
                md-items="item in querySearch(queryText)"
                md-item-text="item.fullname"
                md-min-length="1"
                md-floating-label="{{'message.receiver' | translate}}"
                ng-model="queryText"
                md-no-cache
                class="small-margin"
                md-selected-item-change="addReceiver(receiver)"
                >
                <md-item-template>
                    <span md-highlight-text="queryText" md-highlight-flags="^i">{{item.fullname}}</span>
                </md-item-template>
                <md-not-found>
                    {{'main.messages.error.notFound' | translate}}
                </md-not-found>
            </md-autocomplete>

            <!--  view for school admin and leading teacher -->
            <div ng-show="targetGroup && (auth.isAdmin() || auth.isLeadingTeacher()) && targetGroup === 'ROLL_T'" layout="column">
                <hois-autocomplete flex="50" flex-sm="100" flex-xs="100" ha-attribute="id" multiple ha-controller="autocompleteControllers"
                                   ng-model="curriculum" url="/autocomplete/curriculumsauto" label="message.curriculumStudents"
                                   additional-query-params="{closed: false, userId: auth.isLeadingTeacher() ? auth.user : null}"
                                   no-paging="true" ha-ignored="true"></hois-autocomplete>
                <hois-autocomplete flex="50" flex-sm="100" flex-xs="100" ha-attribute="id" multiple ha-controller="autocompleteControllers"
                                   ng-model="studentGroup" url="/message/studentgroups" label="message.studyGroupStudents"
                                   additional-query-params="{curriculums: curriculum, studyForm: studyForm}" no-paging="true"
                                   ha-ignored="true"></hois-autocomplete>

                <md-input-container flex="50" flex-sm="100" flex-xs="100">
                    <label>{{'message.studyFormStudents' | translate}}</label>
                    <hois-classifier-select multiple ng-model="studyForm" model-value-attr="code" main-classifier-code="OPPEVORM"></hois-classifier-select>
                </md-input-container>
            </div>

            <div layout="row" ng-show="isRolePartOfGroupSearch(targetGroup) && groupSearchTypes.length > 0">
                <md-input-container style="margin-right: 16px;">
                  <label>{{'message.searchType' | translate}}</label>
                  <md-select ng-model="groupSearchType" ng-change="searchTypeChanged(groupSearchType.code, '{{groupSearchType.code}}')">
                    <md-option md-option-empty></md-option>
                    <md-option ng-value="val" ng-repeat="val in groupSearchTypes | filter: filterGroupSearchTypes track by val.code">{{val.translateRef | translate}}</md-option>
                  </md-select>
                </md-input-container>
                <hois-autocomplete flex="100" ng-show="!!groupSearchType.code && groupSearchType.roles.indexOf(targetGroup) !== -1"
                                   ha-controller="autocompleteControllers" ng-model="groupSearchVal" ng-url="groupSearchTypeUrl" multiple
                                   additional-query-params="{curriculums: curriculum, studyForm: studyForm}"
                                   ng-label="groupSearchLabel" no-paging="true" ha-ignored="true"></hois-autocomplete>
<!--                <hois-autocomplete flex="100" ng-show="targetGroup === 'ROLL_T' && groupSearchType === 'SEARCH_JOURNAL'"-->
<!--                                   ha-attribute="id" ng-model="journalStudent" url="/message/teacherjournals" multiple-->
<!--                                   label="message.journalStudent" no-paging="true" ha-ignored="true"></hois-autocomplete>-->
<!--                <hois-autocomplete flex="100" ng-show="targetGroup === 'ROLL_L' && groupSearchType === 'SEARCH_JOURNAL'"-->
<!--                                   ha-attribute="id" ng-model="journalStudentParent" url="/message/teacherjournals" multiple-->
<!--                                   label="message.journalStudentParent" no-paging="true" ha-ignored="true"></hois-autocomplete>-->
<!--                <hois-autocomplete flex="100" flex-sm="100" flex-xs="100" ng-show="targetGroup === 'ROLL_T' && groupSearchType === 'SEARCH_SUBJECTS'"-->
<!--                                   ha-attribute="id" ng-model="subjectStudent" url="/message/teachersubjects" multiple-->
<!--                                   label="message.subjectStudent" no-paging="true" ha-ignored="true"></hois-autocomplete>-->
<!--                <hois-autocomplete flex="100" flex-sm="100" flex-xs="100" ng-show="targetGroup === 'ROLL_L' && groupSearchType === 'SEARCH_SUBJECTS'"-->
<!--                                   ha-attribute="id" ng-model="subjectStudentParent" url="/message/teachersubjects" multiple-->
<!--                                   label="message.subjectStudentParent" no-paging="true" ha-ignored="true"></hois-autocomplete>-->
<!--                <hois-autocomplete flex="100" flex-sm="100" flex-xs="100" ng-show="targetGroup === 'ROLL_T' && groupSearchType === 'SEARCH_STUDENT_GROUP'"-->
<!--                                   display="code" ha-attribute="id" ng-model="studentGroup" url="/message/studentgroups" multiple label="message.studyGroupStudents"-->
<!--                                   additional-query-params="{curriculums: curriculum, studyForm: studyForm}" no-paging="true"-->
<!--                                   ha-ignored="true"></hois-autocomplete>-->
<!--                <hois-autocomplete flex="100" flex-sm="100" flex-xs="100" ng-show="targetGroup === 'ROLL_L' && groupSearchType === 'SEARCH_STUDENT_GROUP'"-->
<!--                                   display="code" ha-attribute="id" ng-model="studyGroupStudentsParents" url="/message/studentgroups" multiple label="message.studyGroupStudentsParents"-->
<!--                                   additional-query-params="{curriculums: curriculum, studyForm: studyForm}" no-paging="true"-->
<!--                                   ha-ignored="true"></hois-autocomplete>-->
            </div>

            <h2 ng-class="{invalid: messageNewForm.$submitted && receivers.length === 0}">{{'message.messageReceiver' | translate}} *</h2>
            <table md-table class="secondary-table">
                <thead md-head>
                    <tr md-row>
                        <th md-column>{{'message.receiver' | translate}}</th>
                        <th md-column ng-if="auth.isAdmin()">{{'student.idcode' | translate}}</th>
                        <th md-column>{{'message.targetGroup' | translate}}</th>
                        <th md-column ng-if="groupSearchType.code === 'SEARCH_STUDENT_GROUP'">{{'message.curriculum' | translate}}</th>
                        <th md-column ng-if="groupSearchType.code === 'SEARCH_STUDENT_GROUP'">{{'message.studentGroup' | translate}}</th>
                        <th md-column ng-if="groupSearchType.code === 'SEARCH_JOURNAL'">{{'message.journalLabel' | translate}}</th>
                        <th md-column ng-if="groupSearchType.code === 'SEARCH_SUBJECTS'">{{'message.subjectLabel' | translate}}</th>
                        <th md-column></th>
                    </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="receiver in receivers" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td md-cell>{{receiver.fullname}}</td>
                    <td md-cell ng-if="auth.isAdmin()">
                        <span ng-if="receiver.role.length === 1 && receiver.role[0] === 'ROLL_T'">{{receiver.idcode}}</span>
                    </td>
                    <td md-cell>
                        <p ng-repeat="role in receiver.role">
                            <hois-classifier-value ng-model="role" main-classifier-code="ROLL"></hois-classifier-value>
                        </p>
                    </td>
                    <td md-cell ng-if="groupSearchType.code === 'SEARCH_STUDENT_GROUP'">
                        <span>{{currentLanguageNameField(receiver.curriculum)}}</span>
                    </td>
                    <td md-cell ng-if="groupSearchType.code === 'SEARCH_STUDENT_GROUP'">
                        <span>{{currentLanguageNameField(receiver.studentGroup)}}</span>
                    </td>
                    <td md-cell ng-if="groupSearchType.code === 'SEARCH_JOURNAL'">
                        <span>{{currentLanguageNameField(distinctList(receiver.journal))}}</span>
                    </td>
                    <td md-cell ng-if="groupSearchType.code === 'SEARCH_SUBJECTS'">
                        <span>{{currentLanguageNameField(distinctList(receiver.subject))}}</span>
                    </td>
                    <td md-cell>
                      <md-button ng-click="removeReceiver(receiver)" class="remove nomargin">&times;</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" ng-click="send()">{{'main.button.send' | translate}}</md-button>
            <md-button class="md-raised" ng-click="back('#/messages/sent', messageNewForm, 'message.confirmClose')">{{'main.button.back' | translate}}</md-button>
        </div>
    </form>
</div>
<style>
  .multiple-autocomplete-container .md-chip-input-container {
    width: 100%; /* fullsize autocomplete input */
  }
</style>
