
<md-table-container>
  <table md-table class="secondary-table">
    <thead md-head>
      <tr md-row>
        <th md-column>{{'student.result.module' | translate}}</th>
        <th md-column>{{'student.result.higher.credits' | translate}}</th>
        <th md-column>{{'student.result.grade' | translate}}</th>
        <th md-column>{{'student.result.date' | translate}}</th>
        <th md-column>{{'student.result.oldModule' | translate}}</th>
        <th md-column>{{'student.result.newModule' | translate}}</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="module in changeableModules | orderBy: currentLanguageNameField()" ng-class-odd="'odd'" ng-class-even="'even'">
        <td md-cell>{{currentLanguageNameField(module)}}</td>
        <td md-cell>{{module.credits}}</td>
        <td md-cell>{{module.grade}}</td>
        <td md-cell>{{module.gradeDate | hoisDate}}</td>
        <td md-cell>{{currentLanguageNameField(module.curriculumVersionModule)}}</td>
        <td md-cell>
          <md-select ng-model="module.curriculumVersionModuleId" aria-label="new module select" ng-change="ngchangetest(module)">
            <md-option ng-repeat="val in higherCurriculumModules" ng-value="val.id">{{currentLanguageNameField(val)}}</md-option>
          </md-select>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<br><br>
<div layout="row" layout-margin>
  <md-button ng-if="changeableModules.length > 0" class="md-raised md-primary" ng-click="saveChangedModules()">{{'main.button.save' | translate}}</md-button>
  <md-button class="md-raised" ng-click="back('#/students')">{{'main.button.back' | translate}}</md-button>
</div>