<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="main selection">
  <md-nav-item md-nav-href="#/students/{{::studentId}}/main?_noback" name="student.main">{{'student.main' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{::studentId}}/results?_noback" name="student.results">{{'student.results' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{::studentId}}/absences?_noback" name="student.absences">{{'student.absences' | translate}}</md-nav-item>
  <md-nav-item md-nav-href="#/students/{{::studentId}}/documents?_noback" name="student.documents">{{'student.documents' | translate}}</md-nav-item>
</md-nav-bar>
